<div class="container-fluid nw-footer">
  <div class="nw-footer-section nw-footer-left">
    <div class="nw-footer-logos">
      <a href="/"><img src="/images/logo/logo.svg" style="margin-right: 10px;" /><img src="/images/logo/logo_long_text.svg" style="padding-top: 10px;" /></a>
    </div>
    <div class="nw-footer-description">
      National Novel Writing Month (NaNoWriMo) is a fun, seat-of-your-pants approach to creative writing. <a href="/">Learn More</a>
    </div>
    <div class="nw-footer-header">
      {{link-to "What is NaNoWriMo" "what-is-nanowrimo"}}
      {{link-to "From NaNo HQ" "connect"}}
      {{link-to "About Us" "about"}}
      <a href="https://store.nanowrimo.org/collections/donate">Donate</a>
      <a href="https://store.nanowrimo.org/collections/shop">Shop</a>
    </div>
  </div>
  {{#if currentUserName}}
    {{#each footerSubmenus as |footerSubmenu i|}}
      <div class="nw-footer-section nw-footer-{{i}}">
        <div class="nw-footer-submenu">
          <div class="nw-footer-header">
            {{footerSubmenu.toggleLabel}}
          </div>
          <ul>
            {{#each footerSubmenu.submenuItems as |footerSubmenuItem|}}
              {{#if footerSubmenuItem}}
                <li>
                  {{#if footerSubmenuItem.segment}}
                    {{#link-to footerSubmenuItem.url footerSubmenuItem.segment}}
                      {{footerSubmenuItem.label}}
                    {{/link-to}}
                  {{else}}
                    {{link-to footerSubmenuItem.label footerSubmenuItem.url}}
                  {{/if}}
                </li>
              {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
    {{/each}}
  {{/if}}
  <div class="nw-footer-section nw-footer-right">
    <div>
      <div class="nw-footer-header">
        Connect with NaNo
      </div>
      <ul>
        <li>
          <div class="nw-footer-social">
            <a href="https://www.facebook.com/nanowrimo" class="social-button">{{fa-icon 'facebook-square'}}</a>
            <a href="https://twitter.com/nanowrimo" class="social-button">{{fa-icon 'twitter-square'}}</a>
            <a href="https://blog.nanowrimo.org/" class="social-button">{{fa-icon 'tumblr-square'}}</a>
            <a href="https://www.youtube.com/c/nanowrimo" class="social-button">{{fa-icon 'youtube-square'}}</a>
            <a href="https://www.instagram.com/nanowrimo" class="social-button">{{fa-icon 'instagram'}}</a>
            <a href="https://www.pinterest.com/nanowrimo" class="social-button">{{fa-icon 'pinterest-square'}}</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="ywp-logo">
      <a href="https://ywp.nanowrimo.org" alt="Young Writer's Program">
        <img src="/images/logo/ywp_logo.svg" />
      </a>
    </div>
  </div>
  <div class="nw-footer-footer">
    <p>
      <span class="links">
        {{link-to "Terms and Conditions" "terms-conditions" class="link"}}
        &#20;
        &bull;
        &#20;
        {{link-to "Privacy Policy" "terms-conditions" class="link"}}
        &#20;
        &bull;
        &#20;
      </span>
      Copyright © 1999 - {{currentYear}} National Novel Writing Month. All posted novel excerpts remain copyright to their authors.
    </p>
  </div>
</div>
