<div class="nw-card-header">
  <div class="nw-card-title">{{cardTitle}}</div>
</div>
<div class="nw-card-content nw-card-horizontal side-by-side badge-subcard">
  <div class="side-by-side-even">
    <div class="full-width">
      {{#if firstBadge}}
        {{badge-rendered badge=firstBadge user=user projectChallenge=projectChallenge renderSize='large'}}
      {{else}}
        <div class="nw-list-loading">
          <i class="fa fa-spinner fa-spin"></i>
          Loading...
        </div>
      {{/if}}
    </div>
  </div>
  <div class="side-by-side-even with-badges">
    <div class="nw-badges-new">
      {{#if firstBadge}}
        {{#each filteredBadges as |badge|}}
          {{badge-rendered badge=badge user=user projectChallenge=projectChallenge renderSize='small'}}
        {{/each}}
      {{else}}
        <div class="nw-list-loading">
          <i class="fa fa-spinner fa-spin"></i>
          Loading...
        </div>
      {{/if}}
    </div>
  </div>
</div>
