{{#if notCurrentUser}}
  {{#if buddyInvited}}
    <div class="buddy-buttons">
      <div class="buddy-status">
        You've invited {{user.name}} to be buddies.
      </div>
      <button {{action "cancelInvitation" }} class="button-reversed">
        {{fa-icon "minus-circle"}}
        Cancel invitation
      </button>
    </div>
  {{/if}}
  {{#if buddyInvitedBy}}
    <div class="buddy-buttons">
      <div class="buddy-status">
        {{user.name}} has invited you to be buddies.
      </div>
      <button {{action "approveInvitation" }} class="button-reversed">
        {{fa-icon "user-plus"}}
        Accept
      </button>
      &nbsp;
      <button {{action "rejectInvitation" }} class="button-reversed">
        {{fa-icon "minus-circle"}}
        Reject
      </button>
      &nbsp;
      <button {{action "blockUser" }} class="button-reversed button-danger">
        {{fa-icon "ban"}}
        Block
      </button>
    </div>
  {{/if}}
  {{#if buddyActive}}
    <div class="buddy-buttons">
      <div class="buddy-status">
        You are buddies with {{user.name}}.
      </div>
      <div {{action "removeBuddy" }} class="remove-element">
        {{fa-icon "minus-circle"}}
        Remove as buddy
      </div>
    </div>
  {{/if}}
  {{#if notBuddy}}
    <div class="buddy-buttons">
      <div class="buddy-status">
        You aren't buddies with {{user.name}}.
      </div>
      <button {{action "sendInvitation"}}>
        {{fa-icon "user-plus"}}
        Send invitation
      </button>
    </div>
  {{/if}}

  {{#if userBlocked}}
    <div class="buddy-buttons button-danger">
      <div class="buddy-status">
        You've blocked {{user.name}}.
      </div>
      <button {{action "unblockUser" }} class="button-reversed button-danger">
        {{fa-icon "minus-circle"}}
        Unblock
      </button>
    </div>
  {{/if}}
{{/if}}