<div class="nw-card short-card small-gap">
  <div class="nw-card-content">
    <div class='nw-user-listing'>
      <div class="nw-avatar nw-avatar-medium">
        {{#link-to 'authenticated.users.show' user.slug}}
          <img src={{user.avatarUrl}} alt={{user.name}}>
        {{/link-to}}
      </div>
      <div class='user-info'>
        <div class="nw-user-name">
          {{#link-to 'authenticated.users.show' user.slug}}
            {{user.name}}
          {{/link-to}}
        </div>
        <div class="nw-user-location">
          {{user.location}}
        </div>
      </div>
      {{#if buttons}}
        <div class='user-buttons'>
          {{buddy-buttons user=user}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
