<div class="form-group">
  {{form-for--select
    changeset=changeset
    label="What type of goal is this?"
    options=optionsForEventType
    property="eventType"
  }}
</div>
<div class="form-group">
  {{form-for--input
    changeset=changeset
    label="What is your goal?"
    property="defaultGoal"
  }}
</div>
<div class="form-group">
  {{form-for--select
    changeset=changeset
    label=""
    options=optionsForUnitType
    property="unitType"
  }}
</div>
<div class="form-group">
  {{form-for--input
    changeset=changeset
    label="When do you start?"
    property="startsOn"
  }}
</div>
<div class="form-group">
  {{form-for--input
    changeset=changeset
    label="When do you end?"
    property="endsOn"
  }}
</div>
