{{#if isPlate}}
  <style>
    {{safePlateSrc}}
  </style>
  <section class="nw-cms-hero">
    <div class="nw-container">
      <div class="nw-wrapper">
        <div class="nw-wrapper-content">
          <h1 class="nw-headline">{{{post.data.attributes.headline}}}</h1>
          <div class="nw-copy">{{{post.data.attributes.body}}}</div>
        </div>
        <div class="nw-wrapper-card">
        </div>
      </div>
    </div>
  </section>
{{/if}}
{{#if isGroupOfPeople}}
  <section class="nw-cms-content">
    <div class="nw-container">
      <div class="nw-wrapper">
        <div class="nw-flex">
          {{#each post.included as |subpost|}}
            {{cms-user-card post=subpost}}
          {{/each}}
        </div>
      </div>
    </div>
  </section>
{{/if}}
{{#if isGroupOfPageCards}}
  <section class="nw-cms-content">
    <div class="nw-container">
      <div class="nw-wrapper">
        <div class="nw-wrapper-content">
          <div class="nw-section-headline">
            {{{post.data.attributes.headline}}}
          </div>
        </div>
        <div class="nw-flex">
          {{#each post.included as |subpost|}}
            {{cms-page-card page=subpost currentUrl=currentUrl}}
          {{/each}}
        </div>
      </div>
    </div>
  </section>
{{/if}}
{{#if isComponent}}
  <section class="nw-cms-content">
    <div class="nw-container">
      <div class="nw-wrapper">
        <div class="nw-flex">
          {{#if (eq post.data.attributes.api-code "all_pep_talks")}}
            {{cms-pep-talks}}
          {{/if}}
          {{#if (eq post.data.attributes.api-code "nanowrimo_hq_calendar")}}
            {{dashboard-hq}}
          {{/if}}
          {{#if (eq post.data.attributes.api-code "all_donors")}}
            {{all-donors}}
          {{/if}}
        </div>
      </div>
    </div>
  </section>
{{/if}}
{{#if isDynamicSponsorOffer}}
  <div class="content-gutters nw-stripes">
    <div class="container-fluid">
      <section class="general-content">
        <div class="nw-container">
          <div class="nw-wrapper">
            <div class="nw-wrapper-content" style="padding: 20px; padding-top: 40px; padding-bottom: 40px;">
              <div class="nw-panel">
                <div class="nw-flex-6-cols">
                  {{cms-offer offer=post.data.attributes}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
{{/if}}
{{#if isGeneralContent}}
  <div class="content-gutters nw-stripes">
    <div class="container-fluid">
      <section class="general-content">
        <div class="nw-container">
          <div class="nw-wrapper">
            <div class="nw-wrapper-content" style="padding: 20px; padding-top: 40px; padding-bottom: 40px;">
              <div class="nw-copy">{{{post.data.attributes.body}}}</div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
{{/if}}
