{{#if (eq offer.order 1)}}
  <div class='nw-card-content nw-card-horizontal'>
    <div class="nw-one-third">
      <img src="{{offer.card-image}}" />
      <div class="nw-spacer"></div>
      <form action="{{offer.external-link}}" target="_blank">
        <button class="button-reversed">
          Claim Offer
        </button>
      </form>
    </div>
    <div class="nw-two-thirds">
      <div class="nw-card-headline">
        {{{offer.headline}}}
      </div>
      {{{offer.body}}}
    </div>
  </div>
{{else}}
  <div class='nw-card-header nw-card-page-card nw-blue-back nw-card-horizontal'>
    <div class="nw-two-fifths">
      <img src="{{offer.card-image}}" />
    </div>
    <div class="nw-three-fifths">
      <div class="nw-card-headline">
        {{{offer.headline}}}
      </div>
    </div>
  </div>
  <div class='nw-card-content nw-white-back'>
    <form action="{{offer.external-link}}" target="_blank" class='t2-offer-form'>
      <button class="button-reversed" >
        Claim Offer
      </button>
    </form>
    {{{offer.body}}}
  </div>
{{/if}}
{{#if hasCouponCode}}
  <div class="nw-card-footer {{if (not-eq offer.order 1) "nw-white-back"}}">
    <div class='nw-coupon-code {{copyClass}}' {{action 'copyCode'}}>
      <i class="fa fa-link"></i> <span class="nw-underlined">{{copyText}}</span>
    </div>
  </div>
  
{{/if}}
