<div class='nw-flippy-wrapper'>
  <div class='nw-card nw-card-white nw-card-face-back'>
    <div class='nw-card-header'>
      <div class='nw-card-actions'>
        <div class='nw-card-model-actions'>
          <button class="nw-flippy-card-toggle nw-button-undecorated" {{action "toggleSubcard"}}>
            <div>{{fa-icon "repeat"}}</div>
          </button>
        </div>
      </div>
    </div>
    <div class='nw-card-content'>
      <div class='nw-card-scrollable'>{{{post.attributes.body}}}</div>
    </div>
  </div>
  <div class='nw-card nw-card-white nw-card-face-front'>
    <div class='nw-card-header'>
      <div class='nw-card-actions'>
        <div class='nw-card-model-actions'>
           <button class="nw-flippy-card-toggle nw-button-undecorated" {{action "toggleSubcard"}}>
            <div>{{fa-icon "repeat"}}</div>
          </button>
        </div>
      </div>
    </div>
    <div class='nw-card-content nw-centered'>
      <div class="nw-card-icon nw-centered">
        <div class="nw-avatar-irregular" style="{{safeSrc}}">
        </div>
      </div>
      <div class='nw-card-headline nw-centered'>{{{post.attributes.headline}}}</div>
      <div class='nw-card-subhead nw-centered'>{{{post.attributes.subhead}}}</div>
    </div>
  </div>
</div>
