{{#bs-modal
  open=open
  onShow=(action "onShow")
  onHidden=(action "onHidden")
  as |modal|
}}
  {{#modal.header closeButton=false}}
      {{title}}
  {{/modal.header}}
  {{#modal.body}}
    {{body}}

  {{/modal.body}}
  {{#modal.footer}}
    <button class="nano-button-dark-blue full-width" {{action 'yes'}}>{{yes}}</button>
    <button class="nano-button-red full-width" {{action 'no'}}>{{no}}</button>
  {{/modal.footer}}
{{/bs-modal}}
