{{#bs-modal
  open=open
  onShow=(action "onShow")
  onHidden=(action "onHidden")
  size='confirmation'
  as |modal|
}}
  {{#modal.header closeButton=false}}
      {{title}}
  {{/modal.header}}
  {{#modal.body}}
    <div class='confirmation-question'>
      {{question}}
    </div>
    {{#if questionAddendum}}
      <div class='confirmation-question-addendum'>
        {{questionAddendum}}
      </div>
    {{/if}}
  {{/modal.body}}
  {{#modal.footer}}
    <button class="nano-button-green" {{action 'yes'}}>{{yes}}</button>
    <a href='#' class='nano-link' {{action 'no'}}>{{no}}</a>
  {{/modal.footer}}
{{/bs-modal}}
