<div class="nw-card-header">
  <div class="nw-card-title">{{fa-icon "home"}} 
    NaNoWriMo HQ
  </div>
  <div class='nw-card-actions'>
    <div class='nw-card-action-link'>
      {{#if eventsLoaded}}
        {{#link-to 'authenticated.regions.show.events.upcoming' group.slug}}
          See All
        {{/link-to}}
      {{/if}}
    </div>
  </div>
</div>
{{#if currentUser.user.isLoaded}}
  {{#if eventsLoaded}}
    {{#if hasEvents}}
      <div class="nw-card-content nw-center-horiz nw-event-container">
        {{#each topFourEvents as |e|}}
          {{event-listing-small event=e group=group status='upcoming'}}
        {{/each}}
      </div>
    {{else}}
      <div class="nw-card-content nw-center-horiz">
        <div>
          <div class="nw-promo-text">
            There are no upcoming events in {{group.name}}.
          </div>
        </div>
        <div class="nw-card-bottom-image"><img src="/images/cards/homeregion.svg" /></div>
      </div>
    {{/if}}
  {{else}}
    events not loaded
    <NwLoading />
  {{/if}}
{{else}}
  no current users
  <NwLoading />
{{/if}}
