<div class="fundometer-image">
  <img alt=' {{raised_string}} of our goal has been raised!' src='/images/other/bookstackfill.svg'
    style={{stack_style}}>
  <img alt='Goal of {{goal_string}}.' src='/images/other/bookstack.svg'>
  <div class="fundometer-label">{{goal_string}}</div>
</div>
<div class="fundometer-text">
  <div class="fundometer-raised">{{raised_string}} raised!</div>
  <div>Thanks to {{donor_string}}.<br />  <br />
  <a href="https://store.nanowrimo.org/collections/donate" target="_blank" style="font-weight: bold;" >Have you donated yet?</a></div>
</div>