{{#bs-modal
  open=open
  onShow=(action "onShow")
  onHidden=(action "onHidden")
  as |modal|
}}
  {{#modal.header closeButton=false}}
    Submit an Event
  {{/modal.header}}
  {{#form-for
    afterSubmit=(action 'afterSubmit')
    currentStepIndex=formStepOverride
    model=group
    steps=steps
    saveAfterSave=locationChangeset
    as |f|
  }}
    {{#modal.body}}

      <div class="steps">
        {{#if (eq f.currentStepIndex 0)}}
          <div class="step step-current">
            <div>Details</div>
            <div>{{fa-icon "circle-o"}}</div>
          </div>
        {{else}}
          <div class="step step-completed" {{action "setStep" 0}}>
            <div>Details</div>
            <div>{{fa-icon "check-circle"}}</div>
          </div>
        {{/if}}
        {{#if (eq f.currentStepIndex 1)}}
          <div class="step-connector connector-blue">
            <hr />
          </div>
          <div class="step step-current">
            <div>Location</div>
            <div>{{fa-icon "circle-o"}}</div>
          </div>
        {{else}}
          <div class="step-connector">
            <hr />
          </div>
          <div class="step">
            <div>Location</div>
            <div>{{fa-icon "circle-o"}}</div>
          </div>
        {{/if}}
      </div>

      <div class="tab-content">

        {{#if (eq f.currentStepIndex 0)}}

          <div class="form-group">
            {{f.input
              type="text"
              label="What is the name of your event?"
              property="name"
            }}
          </div>
          <div class="form-group side-by-side">
            <div>
              <label for='date' class='form-group'>What day is the event?</label>
              <input name='date' type='date' class='form-control'
                value={{startDate}}
                min='1999-07-01'
              />
            </div>
            <div>
              {{time}}
              <label for='time' class='form-group'>What time is the event?</label>
              <input name='time' type='time' class='form-control'
                value={{startTime}}
              />
            </div>
          </div>
          <div class="form-group side-by-side">
            {{f.select
              label="Duration: hours..."
              options=optionsForHours
              property="hours"
            }}
            {{f.select
              label="...and minutes"
              options=optionsForMinutes
              property="minutes"
            }}
          </div>
          <div class="form-group">
            {{f.textarea
              label="Event details:"
              property="description"
              rows="3"
            }}
          </div>
        {{else if (eq f.currentStepIndex 1)}}
          {{#if baseLocations}}
            <div class="form-group">
              <div class="select-container">
                <select id='associateSelect' class='form-control'>
                  {{#each baseLocations as |c|}}
                    <option value="{{c.id}}">{{c.name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
        
          {{/if}}          
        
          <div class="form-group">
            {{f.input
              type="text"
              label="What is the location called?"
              property="locationName"
            }}
          </div>
          <div class="form-group">
            <label for='time' class='form-group'>Street Address</label>
            {{place-autocomplete-field
              value=address2
              inputClass= 'place-autocomplete--input form-control ember-text-field'
              placeChangedCallback=(action "placeChangedSecondInput")
            }}
          </div>
          <div class="form-group">
            <label for='street1' class='form-group'>street1</label>
            <input name='street1' type='text' class='form-control'
              value={{street1}}
            />
          </div>
          <div class="form-group">
            <label for='street2' class='form-group'>street2</label>
            <input name='street2' type='text' class='form-control'
              value={{street2}}
            />
          </div>
          <div class="form-group">
            <label for='neighborhood' class='form-group'>neighborhood</label>
            <input name='neighborhoody' type='text' class='form-control'
              value={{neighborhood}}
            />
          </div>
          <div class="form-group">
            <label for='municipality' class='form-group'>municipality</label>
            <input name='municipality' type='text' class='form-control'
              value={{municipality}}
            />
          </div>
          <div class="form-group">
            <label for='city' class='form-group'>city</label>
            <input name='city' type='text' class='form-control'
              value={{city}}
            />
          </div>
          <div class="form-group">
            <label for='county' class='form-group'>county</label>
            <input name='county' type='text' class='form-control'
              value={{county}}
            />
          </div>
          <div class="form-group">
            <label for='state' class='form-group'>state</label>
            <input name='state' type='text' class='form-control'
              value={{state}}
            />
          </div>
          <div class="form-group">
            <label for='postal_code' class='form-group'>postal_code</label>
            <input name='postal_code' type='text' class='form-control'
              value={{postal_code}}
            />
          </div>
          <div class="form-group">
            <label for='country' class='form-group'>country</label>
            <input name='country' type='text' class='form-control'
              value={{country}}
            />
          </div>
          <div class="form-group">
            <label for='formatted_address' class='form-group'>formatted_address</label>
            <input name='formatted_address' type='text' class='form-control'
              value={{formatted_address}}
            />
          </div>
          <div class="form-group">
            <label for='longitude' class='form-group'>longitude</label>
            <input name='longitude' type='text' class='form-control'
              value={{longitude}}
            />
          </div>
          <div class="form-group">
            <label for='latitude' class='form-group'>latitude</label>
            <input name='latitude' type='text' class='form-control'
              value={{latitude}}
            />
          </div>
          <div class="form-group">
            <label for='utc_offset' class='form-group'>utc_offset</label>
            <input name='utc_offset' type='text' class='form-control'
              value={{utc_offset}}
            />
          </div>
        {{else}}
        {{/if}}

      </div>

    {{/modal.body}}
    {{#modal.footer}}

      <input type="submit" class="nano-button" value={{if f.isLastStep "Submit Event for Approval" (if (eq f.currentStepIndex 0) "Next: Location")}} />
      <input type="button" class="nano-button btn-underlined" value="Cancel" {{action modal.close}} />

    {{/modal.footer}}
  {{/form-for}}
{{/bs-modal}}
