<div class='nw-card-header nw-card-header-no-height'>
  <div class='nw-card-actions'>
  </div>
</div>
<div class="nw-card-content nw-card-horizontal">
  <div class="nw-event-dates">
    <div class="nw-event-mo">
      {{startMo}}
    </div>
    <div class="nw-event-date">
      {{startDate}}
    </div>
  </div>
  <div class='nw-flex-full'>
    <div class='nw-title'>
      {{event.name}}
    </div>
    <div>
      {{startDateTime}}
    </div>
    <div>
      <b>{{locationName}}</b>, {{locationAddress}}
    </div>
    <div style="padding-top: 15px; padding-bottom: 15px;">
      {{event.description}}
    </div>
    <button>
      Count me in!
    </button>
  </div>
</div>
