<div class='nw-card-header nw-card-header-no-height'>
  <div class='nw-card-actions'>
  </div>
</div>
<div class="nw-card-content nw-card-horizontal">
  <div class='nw-title'>
    {{#link-to 'authenticated.regions.show.events.show' group.slug event.slug}}
      {{event.name}}
    {{/link-to}} 
    {{#if event.significantEditAt}}  <b>(Edited)</b> 
    {{/if}}
    <div class="subtitle" style="font-size: 16px;">
      <span>{{startDateTime}}</span> &bull;
      <span>Duration: {{duration}}</span>
    </div>
    {{#if hasPhysicalLocation}}
    <div  style="font-size: 16px;">{{event.locationName}} {{event.locationAddress}}</div>
    {{/if}}
    {{#if event.url}}
    <div style="font-size: 16px;">
      <a href="{{event.url}}" target="_BLANK">{{event.url}} <i class="fa fa-external-link"></i></a>
    </div>
    {{/if}}
  </div>
  <div>
  {{#if currentUser.isLoaded}}
    {{#if (eq status 'upcoming')}}
      {{#if isEnrolled}}
        <b><i class="fa fa-check"></i> You're signed up!</b>
      {{else}}
        {{#if (eq isCancelled false)}}
          <button {{action 'joinEvent'}}>
            Count me in!
          </button>
        {{/if}}
      {{/if}}
    {{/if}}
    {{#if (eq status 'pending')}}
      {{#if isGroupAdmin}}
        <button {{action 'approveEvent'}}>
          Approve
        </button>
        <button {{action 'rejectEvent'}}>
          Reject
        </button>
      {{/if}}
    {{/if}}
  {{/if}}
  </div>
  {{#if isCancelled}}
    <div class='nw-cancelled nw-narrow-card'>
      Cancelled
    </div>
  {{/if}}
</div>
