<div class='nw-card-header nw-card-header-no-height'>
  <div class='nw-card-actions'>
  </div>
</div>
<div class="nw-card-content nw-card-horizontal">
  <div class='nw-title'>
    {{#link-to 'authenticated.regions.show.events.show' group.slug event.slug}}
      {{event.name}}
    {{/link-to}}
    <div class="subtitle" style="font-size: 16px;">
      <span>{{startDateTime}}</span> &bull;
      <span>Duration: {{duration}}</span>
    </div>
  </div>
  <div>
  {{#if currentUser.user.groupUsersLoaded}}
    {{#if (eq status 'upcoming')}}
      {{#if isEnrolled}}
        <b><i class="fa fa-check"></i> You're signed up!</b>
      {{else}}
        <button {{action 'joinEvent'}}>
          Count me in!
        </button>
      {{/if}}
    {{/if}}
    {{#if (eq status 'pending')}}
      {{#if groupUsersFound}}
        <button {{action 'approveEvent'}}>
          Approve
        </button>
        <button {{action 'rejectEvent'}}>
          Reject
        </button>
      {{/if}}
    {{/if}}
  {{/if}}
  </div>
</div>
