{{#bs-modal
  open=open
  onShow=(action "onShow")
  onHidden=(action "onHidden")
  as |modal|
}}
  {{#modal.header closeButton=false}}
    Submit an Event
  {{/modal.header}}
  {{#form-for
    afterSubmit=(action 'afterSubmit')
    currentStepIndex=formStepOverride
    model=group
    steps=steps
    saveAfterSave=locationChangeset
    as |f|
  }}
    {{#modal.body}}

      <div class="steps">
        {{#if (eq f.currentStepIndex 0)}}
          <div class="step step-current">
            <div>Details</div>
            <div>{{fa-icon "circle-o"}}</div>
          </div>
        {{else}}
          <div class="step step-completed" {{action "setStep" 0}}>
            <div>Details</div>
            <div>{{fa-icon "check-circle"}}</div>
          </div>
        {{/if}}
        {{#if (eq f.currentStepIndex 1)}}
          <div class="step-connector connector-blue">
            <hr />
          </div>
          <div class="step step-current">
            <div>Location</div>
            <div>{{fa-icon "circle-o"}}</div>
          </div>
        {{else}}
          <div class="step-connector">
            <hr />
          </div>
          <div class="step">
            <div>Location</div>
            <div>{{fa-icon "circle-o"}}</div>
          </div>
        {{/if}}
      </div>

      <div class="tab-content">

        {{#if (eq f.currentStepIndex 0)}}

          <div class="form-group">
            {{f.input
              type="text"
              label="What is the name of your event?"
              property="name"
            }}
          </div>
          <div class="form-group side-by-side">
            <div>
              <label for='date' class='form-group'>What day is the event?</label>
              <input name='date' type='date' class='form-control'
                value={{startDate}}
                min='1999-07-01'
              />
            </div>
            <div>
              {{time}}
              <label for='time' class='form-group'>What time is the event?</label>
              <input name='time' type='time' class='form-control'
                value={{startTime}}
              />
            </div>
          </div>
          <div class="form-group side-by-side">
            {{f.select
              label="Duration: hours..."
              options=optionsForHours
              property="hours"
            }}
            {{f.select
              label="...and minutes"
              options=optionsForMinutes
              property="minutes"
            }}
          </div>
          <div class="form-group">
            {{f.textarea
              label="Event details:"
              property="description"
              rows="3"
            }}
          </div>
        {{else if (eq f.currentStepIndex 1)}}
          <div class="form-group">
            {{f.input
              type="text"
              label="What is the location called?"
              property="locationName"
            }}
          </div>
          <div>
            {{place-autocomplete-field
              value=address2
              inputClass= 'place-autocomplete--input-2'
              placeChangedCallback=(action "placeChangedSecondInput")
              restrictions=restrictions
            }}
          </div>
        {{else}}
        {{/if}}

      </div>

    {{/modal.body}}
    {{#modal.footer}}

      <input type="submit" class="nano-button" value={{if f.isLastStep "Submit Event for Approval" (if (eq f.currentStepIndex 0) "Next: Location")}} />
      <input type="button" class="nano-button btn-underlined" value="Cancel" {{action modal.close}} />

    {{/modal.footer}}
  {{/form-for}}
{{/bs-modal}}
