<div class='nw-card-header nw-card-header-no-height'>
  <div class='nw-card-actions'>
  </div>
</div>
<div class="nw-card-content nw-card-horizontal">
  <div class="nw-event-dates">
    <div class="nw-event-mo">
      {{startMo}}
    </div>
    <div class="nw-event-date">
      {{startDate}}
    </div>
  </div>
  <div class='nw-flex-full'>
    <div class='nw-title'>
      {{event.name}}
    </div>
    <div>
      <b>When: </b> {{startDateTime}}
    </div>
    <div>
      <b>Duration: </b> {{duration}}
    </div>
    {{#if locationAddress}}
      <div>
        <b>Where:</b> {{locationName}}, {{locationAddress}}
      </div>
    {{/if}}
    {{#if event.url}}
      <div>
        <b>URL:</b> <a href="{{event.url}}" target="_BLANK">{{event.url}} <i class="fa fa-external-link"></i></a>
      </div>
    {{/if}}
    <div style="padding-top: 15px; padding-bottom: 15px;">
      {{event.description}}
    </div>
    {{#if currentUser.user.groupUsersLoaded}}
      {{#if (eq status 'upcoming')}}
        {{#if isEnrolled}}
          <b><i class="fa fa-check"></i> You're signed up!</b>
          <div>
            <a href="#" {{action 'leaveEvent'}}>(Remove yourself from this event)</a>
          </div>
        {{else}}
          <button {{action 'joinEvent'}}>
            Count me in!
          </button>
        {{/if}}
      {{/if}}
      {{#if (eq status 'pending')}}
        <button {{action 'approveEvent'}}>
          Approve
        </button>
        <button {{action 'rejectEvent'}}>
          Reject
        </button>
      {{/if}}
    {{/if}}
  </div>
</div>
