{{#validation-error
  changeset=changeset
  hasAttemptedSubmit=hasAttemptedSubmit
  hasBlurred=hasBlurred
  property=property
  as |hasError|
}}

  <div class='radio-group-title'>{{title}}</div>
  {{#if showRadios}}
    {{#each options as |option|}}
    
      <div>
      <input type='radio' onClick={{action 'clicked' value='target.value'}}
        id="{{property}}{{option.value}}" name={{property}} 
        value={{option.value}}
        checked = {{eq option.value initialValue}}
        > 
      <label for="{{property}}{{option.value}}">
        {{option.name}} {{option.disabled}}
        {{#if option.description}}
          | <span class='option-description'>{{option.description}}</span>
        {{/if}}
      </label> 
      </div>
    {{/each}}
  {{/if}}
{{/validation-error}}

{{didChange}}
