{{#validation-error
  changeset=changeset
  hasAttemptedSubmit=hasAttemptedSubmit
  property=property
  as |hasError|
}}
  <label for={{name}}>{{label}}</label>
  <div class="select-container">
    <select id={{name}} name={{name}} disabled={{if isDisabled 'disabled' ''}}
      class={{concat 'form-control' (if hasError ' is-invalid')}}
      onchange={{action 'valueChanged' value="target.value"}}>
      {{#if showSelect}}
        {{#each normalizedOptions as |opt|}}
          <option value={{opt.value}} selected={{eq opt.value valueAsString}}>
            {{opt.name}}
          </option>
        {{/each}}
      {{/if}}
    </select>
  </div>
  {{didChange}}
{{/validation-error}}
