<div class="nw-card-header">
  <div class="nw-card-title">{{cardLabel}}</div>
  <div class="nw-card-actions nw-card-actions-right">
    {{#bs-button-group value=primaryDisplay type="radio" onChange=(action (mut primaryDisplay)) as |bg|}}
      {{#bg.button type="default" value=true}}{{fa-icon "users"}}{{/bg.button}}
      {{#bg.button type="default" value=false}}{{fa-icon "user-plus"}}{{/bg.button}}
    {{/bs-button-group}}
  </div>
</div>
<div class="nw-card-content" style="padding: 0px;">
  {{#if primaryDisplay}}
    <div class="nw-card-scroll" style="padding: 15px;">
      <div style="width: 100%; color: #fff; background-color: #bbb; padding-left: 10px; border-radius: 6px; font-size: 12px; font-weight: bold; margin-top: 5px; margin-bottom: 5px;">ACTIVE MEMBERS</div>
      {{#each groupUsersAttending as |gu|}}
        {{user-listing isEditable=true group=group userId=gu.user_id organizer=gu.isAdmin itemSize=itemSize}}
      {{/each}}
      {{#if groupUsersInvited}}
        <div style="width: 100%; color: #fff; background-color: #bbb; padding-left: 10px; border-radius: 6px; font-size: 12px; font-weight: bold; margin-top: 5px; margin-bottom: 5px;">AWAITING RESPONSE</div>
        {{#each groupUsersInvited as |gu|}}
          {{user-listing isEditable=true group=group userId=gu.user_id organizer=gu.isAdmin itemSize=itemSize}}
        {{/each}}
      {{/if}}
    </div>
  {{else}}
    {{#if guRemaining}}
      <div class="nw-search" style="width: 100%; padding: 15px; flex: 0 0 50px; border-bottom: 1px solid #ccc;">
        <div class="form-group nw-search-field nw-search-small">
          <form {{action "getSearchResults" this on='submit'}}>
            {{input
              autofocus=true
              placeholder="Search by username..."
              label="Search"
              name="q"
              type="text"
              value=searchString
            }}
            <button class="nw-search-button" aria-label="search" style="top: 0px;"><span aria-hidden="true">{{fa-icon "search"}}</span></button>
          </form>
        </div>
      </div>
      <div class="nw-card-scroll" style="padding: 15px;">
        {{#if searchResults}}
          {{#if searchResults.data}}
            {{#each searchResults.data as |u|}}
              {{user-card-invite user=u.attributes uid=u.id group=group}}
            {{/each}}
          {{else}}
            No results found!
          {{/if}}
        {{else}}
          A group needs members! Search for friends by their usernames.
        {{/if}}
      
      </div>
    {{else}}
      <div style="padding: 15px;">
        All membership slots have been taken! If you'd like to increase the maximum number of members allowed, edit your group settings.
      </div>
    {{/if}}
  {{/if}}
</div>
