<div class="nw-card short-card small-gap nw-full-link">
  {{#if invitationAccepted}}
    {{#link-to group.linkPath group.slug}}
      <div class="nw-card-content">
        <div class='nw-group-listing'>
          {{#if message}}
            {{group-avatar group=group linkTo=true size='large'}}
          {{else}}
            {{group-avatar group=group linkTo=true size='medium'}}
          {{/if}}
          <div class='nw-group-info'>
            <div class="nw-group-name">
              {{group.name}}
            </div>
            {{#if message}}
              {{group.description}}
            {{/if}}
          </div>
          <div class='nw-group-latest'>
            <div class='nw-icon'>
      
                <span aria-hidden="false">{{fa-icon "comments"}}</span>
                {{#if numUnreadMessages}}
                  <div class="nw-unread-circle {{nanomessagesDisplayStyle}}">{{numUnreadMessages}}</div>
                {{/if}}

            </div>
            {{#if message}}
              <div class='nw-icon-text'>
                {{{latestMessage}}}
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    {{/link-to}}
  {{else}}
    <div class="nw-card-content">
      <div class='nw-group-listing'>
        {{group-avatar group=group linkTo=true size='large'}}
        <div class='nw-group-info'>
          <div class="nw-group-name">
            {{group.name}}
          </div>
          {{group.description}}
        </div>
        <div class='nw-group-invite' style="display: flex; flex-wrap: wrap;">
          <div style="margin-bottom: 10px;">
            <i>You've been invited to join the {{group.groupType}} {{group.name}}.</i>
          </div>
          <div>
            <button {{action "approveInvitation"}}>Join Group</button>
            <button {{action "rejectInvitation"}} class="button-reversed" style="margin-left: 10px;">No Thanks</button>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
</div>
