{{#if group}}
  <div class="nw-card-header">
    <div class="nw-card-title">
      <div class="nw-card-title-left">
        <div
          onClick={{action 'doClearGroup'}}
        >
          <i class="fa fa-chevron-left" />
        </div>
      </div>
      <div class="nw-card-title-center">{{groupName}}</div>
      <div class="nw-card-title-right"></div>
    </div>
  </div>
  <div class="nw-card-content conversation">
    <div class="conversation-content" id="convo-content">
      <div class="nanomessages-container">
        {{#each sortedMessages as |n|}}
          {{nanomessage-item nanomessage=n userIsAdmin=userIsAdmin}}
        {{/each}}
      </div>
    </div>
    {{#if showForm}}
      <div class="conversation-footer">
        {{nanomessage-form group=group context=context adminIsChecked=adminIsChecked refreshMessages=(action 'afterNanomessageSubmit')}}
      </div>
    {{/if}}
  </div>
{{else}}
  <div class="nw-card-header">
    <div class="nw-card-title">
      <div class="nw-card-title-left"></div>
      <div class="nw-card-title-center">Start a conversation</div>
      <div class="nw-card-title-right"></div>
    </div>
  </div>
  <div class="nw-card-content" >
    <div class="conversation-content" id="convo-content" style='height: 100%;' >
      <div class="nanomessages-container" style='height: 100%; display: flex; justify-content: center;' >
        <div style='align-self: center; text-align: center; padding: 20px;'>
          <h1 style='font-family: "SerifBold", serif;' >You haven't selected a message.</h1>
          <div style='font-size: 16px; color: #696969;'>Choose an existing NaNoMessage or start a new conversation.</div>
          <div style='margin: 20px;' ><img src='/images/other/bubbles.svg' alt='Image of emoji in speech bubbles' aria-hidden='true' /></div>
        </div>
      </div>
    </div>
  </div>
{{/if}}