<li class="nano-list-item">
  <div class="nano-list-icon">
    {{#if groupContainer.isHome}}
      {{fa-icon "home"}}
    {{else}}
      {{fa-icon "map-marker"}}
    {{/if}}
  </div>
  <div class="nano-list-item-content">
    <div class="nano-list-item-title">
      {{#link-to "authenticated.regions.show" groupContainer.groupObject.slug}}
        {{groupContainer.groupObject.name}}
      {{/link-to}}
    </div>
    <div class="nano-list-item-subcontent">
      <div class="nano-list-item-info">
        {{#if sortBySearch}}
          {{format-number groupContainer.groupObject.memberCount}} members
        {{/if}}
        {{#unless sortBySearch}}
          {{format-number groupContainer.proximity}} miles
        {{/unless}}
      </div>
      <div class="nano-list-item-buttons">
        {{#if isProcessing}}
          <i class='fa fa-spinner fa-spin'></i>
        {{else}}
          {{#if joinable}}
            <button class="nano-button-small" {{action 'joinGroup' bubbles=false}} >
              Join
            </button>
          {{/if}}
          {{#if leavable}}
            {{#unless groupContainer.isHome}}
              <button class="nano-button-small" {{action 'makeHome' bubbles=false}}>
                Make Home
              </button>
            {{/unless}}
            <button class="button-reversed nano-button-small" {{action 'leaveGroup' bubbles=false}}>
              Leave
            </button>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</li>
