<div class='nw-avatar-frame nw-avatar-frame-{{size}} {{if canEdit "user-editable" ""}}' {{action "edit"}}>
  <div class="nw-avatar nw-avatar-{{size}} ">
    {{#if group.avatarUrl}}
      <img src={{group.avatarUrl}} alt={{group.name}}>
    {{else}}
      <div class='nw-avatar-missing'>
        <div class='nw-avatar-text'>{{group.avatarText}}</div>
      </div>
    {{/if}}
  </div>
</div>
