<div class="flash-banner-ux">
  <div class="banner-left">
  </div>
  <div class="banner-content">
    <div class="flash-image image-unframed">
      <img style="width:148px; margin: 10px;" src={{imageSource}} />
    </div>
    <div class="flash-content">
      <div class="flash-text">
        <div class="flash-headline">{{type}} starts in {{daysRemainingString}}{{hoursRemainingString}}{{minutesRemainingString}}{{secondsRemainingString}}!</div>
        <div>{{text}}</div>
      </div>
      <div class="flash-button" style="display: flex; flex-wrap: wrap;">
        <button {{action "openNewSimpleAddProjectModal"}}>
          Start a new novel for {{type}}!
        </button>
        <button {{action "openNewSimpleExtendProjectModal"}}>
          Continue with an existing novel!
        </button>
      </div>
    </div>
  </div>
  <div class="banner-right">
  </div>
</div>
{{project-new-simple-modal
  onHidden=(action "afterSimpleProjectModalClose")
  open=addSimpleProject
  user=currentUser.user
  newProject=newProject
  challenge=challenge
}}
