<header>
  <div class="top">
    <div class="container">
      
      
        <div class="store-blue-lo">
          <ul>
        <li class="menu-item">
          <a href="https://store.nanowrimo.org/collections/shop" class="link">Shop</a>
        </li>
        <li class="menu-item">
          <a href="https://store.nanowrimo.org/collections/donate" class="link">Donate</a>
        </li>
        <li class="menu-item">
          <a href="https://nanowrimo.zendesk.com/" target="_blank" class="link">Help Desk</a>
        </li>
        <div class="account-links">
          <li class="menu-item">
            {{link-to 'Sign Up' 'sign-up'}}
          </li>
          <li class="menu-item">
            {{link-to 'Sign In' 'sign-in'}}
          </li>
        </div>
      </ul>
    </div>
    </div>
  </div>
  <div class="main-nav navbar">
    <div class="container container-fluid">
      <div class="logo">
        {{#link-to "index"}}
          <img src="/images/logged-out/nanowrimo.svg" alt="NaNoWriMo home" class="company-logo">
          <img src="/images/logged-out/nano-mobile-nav.svg" alt="NaNoWriMo home" class="mobile-logo">
        {{/link-to}}
      </div>
      {{nw-mobile-menu-logged-out }}
      
      <ul>
        <li class="menu-item">  
          {{#link-to "pages" "about-nano"}}
            What is NaNoWriMo?
          {{/link-to}}
        </li>
        <li class="menu-item">
          {{#link-to "pages" "come-write-in"}}
            Partner With Us
          {{/link-to}}
        </li>

      </ul>
    </div>
  </div>
</header>

<div class="mobile-navbar">
  <div class="close-icon">
    <span></span>
    <span></span>
  </div>
  <div class="group">
    <a href="" class="link">
      <h4 class="title">What is NaNoWriMo?</h4>
      <p class="copy">It's a website, a community, a wildly ambitious writing event — and so much more!</p>
    </a>

  </div>
  <div class="quick-links">
    <a href="https://store.nanowrimo.org/collections/shop" class="link">Shop</a>
    <a href="https://store.nanowrimo.org/collections/donate" class="link">Donate</a>
  </div>
  <div class="bottom">
    {{link-to 'Sign In' 'sign-in' class="btn btn-outline-blue"}}
    {{link-to 'Sign Up' 'sign-up' class="link"}}
  </div>
</div>
