<div class="nw-footer-container">
  <div class="container-fluid nw-footer">
    <div class="nw-footer-section nw-footer-left">
      <div class="nw-footer-logos">
        <a href="/"><img src="/images/logo/logo.svg" style="margin-right: 10px;" /><img src="/images/logo/logo_long_text.svg" style="padding-top: 10px;" /></a>
      </div>
      <div class="nw-footer-description">
        National Novel Writing Month (NaNoWriMo) is a fun, seat-of-your-pants approach to creative writing. <a href="/">Learn More</a>
      </div>
      <div class="nw-footer-header">
        <a href="https://ywp.nanowrimo.org" class="link">Young Writers Program</a>
      </div>
    </div>
    <div class="nw-footer-section nw-footer-0">
      <div class="nw-footer-submenu">
        <div class="nw-footer-header">
          About NaNoWriMo
        </div>
        <ul>
          <li>
            <a href="https://preview.nanowrimo.org/staff" class="link">Staff</a>
          </li>
          <li>
            {{link-to 'Brought to you by...' "brought-to-you-by"}}
          </li>
        </ul>
      </div>
    </div>
    <div class="nw-footer-section nw-footer-1">
      <div class="nw-footer-submenu">
        <div class="nw-footer-header">
          From NaNo HQ
        </div>
        <ul>
          <li>
            <a href="http://blog.nanowrimo.org" class="link">NaNoWriMo Blog</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="nw-footer-section nw-footer-2">
      <div class="nw-footer-submenu">
        <div class="nw-footer-header">
          Writer's Resources
        </div>
        <ul>
          <li>
            <a href="https://preview.nanowrimo.org/pep-talks" class="link">Pep Talks</a>
          </li>
          <li>
            <a href="https://preview.nanowrimo.org/nano-prep-101" class="link">NaNo Prep</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="nw-footer-section nw-footer-right">
      <div>
        <div class="nw-footer-header">
          <ul>
            <li>
              <a href="https://store.nanowrimo.org/collections/shop" class="link">Shop</a>
            </li>
            <li>
              <a href="https://store.nanowrimo.org/collections/donate" class="link">Donate</a>
            </li>
          </ul>
        </div>
        <hr />
        <div class="nw-footer-header">
          Connect with NaNo
        </div>
        <ul>
          <li>
            <div class="nw-footer-social">
              <a href="https://www.facebook.com/nanowrimo" class="social-button">{{fa-icon 'facebook-square'}}</a>
              <a href="https://twitter.com/nanowrimo" class="social-button">{{fa-icon 'twitter-square'}}</a>
              <a href="https://blog.nanowrimo.org/" class="social-button">{{fa-icon 'tumblr-square'}}</a>
              <a href="https://www.youtube.com/c/nanowrimo" class="social-button">{{fa-icon 'youtube-square'}}</a>
              <a href="https://www.instagram.com/nanowrimo" class="social-button">{{fa-icon 'instagram'}}</a>
              <a href="https://www.pinterest.com/nanowrimo" class="social-button">{{fa-icon 'pinterest-square'}}</a>
            </div>
          </li>
        </ul>
        <hr />
        <div class="links flex-links">
          <ul>
            <li>
              {{link-to 'Sign In' 'sign-in' class="link"}}
            </li>
            <li>
              {{link-to 'Sign Up' 'sign-up' class="link"}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="nw-footer-footer">
      <div class="nw-footer-funder-logos">
        <img src="/images/logged-out/powered-by-aws.png" alt="Powered by AWS">
        <img src="/images/logged-out/NEA-Logo-BW@2x.png" alt="National Endownment for the Arts">
        <img src="/images/logged-out/amazonpartnership.png" alt="Amazon Literary Partnership">
      </div>
      <p>
        <span class="links">
          {{link-to "Terms and Conditions" "terms-conditions" class="link"}}
          &#20;
          &bull;
          &#20;
          {{link-to "Privacy Policy" "terms-conditions" class="link"}}
          &#20;
          &bull;
          &#20;
        </span>
        Copyright © 1999 - {{currentYear}} National Novel Writing Month. All posted novel excerpts remain copyright to their authors.
      </p>
    </div>
  </div>
</div>
