<header>
  <div class="top">
    <div class="container">
      <ul>
        <li class="menu-item">
          <a href="https://store.nanowrimo.org/collections/shop" class="link">Shop</a>
        </li>
        <li class="menu-item">
          <a href="https://store.nanowrimo.org/collections/donate" class="link">Donate</a>
        </li>
        <li class="menu-item">
          <a href="https://nanowrimo.uservoice.com/" target="_blank" class="link">Help Desk</a>
        </li>
        <div class="account-links">
          <li class="menu-item">
            {{link-to 'Sign Up' 'sign-up'}}
          </li>
          <li class="menu-item">
            {{link-to 'Sign In' 'sign-in'}}
          </li>
        </div>
      </ul>
    </div>
  </div>
  <div class="main-nav">
    <div class="container">
      <div class="logo">
        {{#link-to "index"}}
          <img src="/images/logged-out/nanowrimo.svg" alt="NaNoWriMo" class="company-logo">
          <img src="/images/logged-out/nano-mobile-nav.svg" alt="NaNoWriMo" class="mobile-logo">
        {{/link-to}}
      </div>
      {{nw-mobile-menu-logged-out }}
      
      <ul>
        <li class="menu-item">
          <a href="https://nanowrimo.org/about-nano">What is NaNoWriMo?</a>
          <div class="hover-info">It's a website, a community, a wildly ambitious writing event — and so much more!</div>
        </li>
         <li class="menu-item">
          <a href="/come-write-in">Partner With Us</a>
          <div class="hover-info">Find out how libraries, bookstores, and other spaces can get involved with local writers.</div>
        </li>

      </ul>
    </div>
  </div>
</header>

<div class="mobile-navbar">
  <div class="close-icon">
    <span></span>
    <span></span>
  </div>
  <div class="group">
    <a href="" class="link">
      <h4 class="title">What is NaNoWriMo?</h4>
      <p class="copy">It's a website, a community, a wildly ambitious writing event — and so much more!</p>
    </a>
    <!--<a href="" class="link">
      <h4 class="title">Writer's Resources</h4>
      <p class="copy">Discover our resources for tips and tricks on starting and finishing your next great writing project.</p>
    </a>
    <a href="" class="link">
      <h4 class="title">Connect</h4>
      <p class="copy">Check out what NaNoWriMo's got going on at the moment, from events to book releases to writer chats.</p>
    </a>-->
  </div>
  <div class="quick-links">
    <a href="https://store.nanowrimo.org/collections/shop" class="link">Shop</a>
    <a href="https://store.nanowrimo.org/collections/donate" class="link">Donate</a>
  </div>
  <div class="bottom">
    {{link-to 'Sign In' 'sign-in' class="btn btn-outline-blue"}}
    {{link-to 'Sign Up' 'sign-up' class="link"}}
  </div>
</div>
