<div class="nw-footer-container">
  <div class="container-fluid nw-footer">
    <div class="nw-footer-section nw-footer-left">
      <div class="nw-footer-logos">
        {{#link-to "index"}}
          <img src="/images/logo/logo.svg" alt="" />
          <img src="/images/logo/logo_text.svg"
            alt="National Novel Writing Month home." style="padding-top: 10px;" />
        {{/link-to}}
      </div>
      <div class="nw-footer-description">
        National Novel Writing Month (NaNoWriMo) is a fun, seat-of-your-pants approach to creative writing.
      </div>
      <div class="nw-footer-header">
        {{#link-to "pages" "about-nano"}}
            About NaNoWriMo
        {{/link-to}}
        <a href="https://ywp.nanowrimo.org" class="link">Young Writers Program</a>
      </div>
    </div>
    <div class="nw-footer-section nw-footer-0">
      <div class="nw-footer-submenu">
        <h2>
          <div class="nw-footer-header">
            About NaNoWriMo
          </div>
        </h2>
        <ul>
          <li>
            {{#link-to "pages" "dei"}}
              Our Values (DEI)
            {{/link-to}}
          </li>
          <li>
            {{#link-to "pages" "brought-to-you-by"}}
              Brought to You By...
            {{/link-to}}
          </li>
          <li>
            {{#link-to "pages" "staff"}}
              Staff
            {{/link-to}}
          </li>
          <li>
            {{#link-to "pages" "board-of-directors"}}
              Board of Directors
            {{/link-to}}
          </li>
          <li>
            {{#link-to "pages" "writers-board"}}
              Writers Board
            {{/link-to}}
          </li>
          <li>
            {{#link-to "pages" "about-nano#contact"}}
              Contact Us
            {{/link-to}}
          </li>

        </ul>
      </div>
    </div>
    <div class="nw-footer-section nw-footer-1">
      <div class="nw-footer-submenu">
        <h2>
          <div class="nw-footer-header">
            From NaNo HQ
          </div>
        </h2>
        <ul>
          <li>
            <a href="http://blog.nanowrimo.org" class="link">NaNoWriMo Blog</a>
          </li>
          <li>
            <a href="/come-write-in" class="link">Get Involved</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="nw-footer-section nw-footer-2">
      <div class="nw-footer-submenu">
        <h2>
          <div class="nw-footer-header">
            Writer's Resources

          </div>
        </h2>
        <ul>
          <li>
            {{#link-to "pages" "pep-talks"}}
              Pep Talks
            {{/link-to}}
          </li>
          <li>
            {{#link-to "pages" "nano-prep-101"}}
              NaNo Prep
            {{/link-to}}
          </li>
        </ul>
      </div>
    </div>
    <div class="nw-footer-section nw-footer-right">
      <div>
        <div class="nw-footer-header">
          <ul>
            <li>
              <a href="https://store.nanowrimo.org/collections/shop" class="link">Shop</a>
            </li>
            <li>
              <a href="https://store.nanowrimo.org/collections/donate" class="link">Donate</a>
            </li>
          </ul>
        </div>
        <hr />
        <h2>
          <div class="nw-footer-header">
            Connect with NaNo

          </div>
        </h2>
        <ul>
          <li>
            <div class="nw-footer-social">
              <a href="https://www.facebook.com/nanowrimo" aria-label="NaNoWriMo Facebook page"
                class="social-button">{{fa-icon 'facebook-square'}}</a>
              <a href="https://twitter.com/nanowrimo" aria-label="NaNoWriMo's twitter" class="social-button">{{fa-icon
                'twitter-square'}}</a>
              <a href="https://blog.nanowrimo.org/" class="social-button">{{fa-icon 'tumblr-square'}}</a>
              <a href="https://www.youtube.com/c/nanowrimo" aria-label="NaNoWriMo's YouTube"
                class="social-button">{{fa-icon 'youtube-square'}}</a>
              <a href="https://www.instagram.com/nanowrimo" aria-label="NaNoWriMo's Instagram"
                class="social-button">{{fa-icon 'instagram'}}</a>
              <a href="https://www.pinterest.com/nanowrimo" aria-label="NaNoWriMo's Pinterest board"
                class="social-button">{{fa-icon 'pinterest-square'}}</a>
            </div>
          </li>
        </ul>
        <hr />
        <div class="links flex-links">
          <ul>
            <li>
              {{link-to 'Sign In' 'sign-in' class="link"}}
            </li>
            <li>
              {{link-to 'Sign Up' 'sign-up' class="link"}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="nw-footer-footer">
      <div class="nw-footer-funder-logos">
        <img src="/images/logged-out/powered-by-aws.png" alt="AWS logo">
        <img src="/images/logged-out/NEA-Logo-BW@2x.png" alt="National Endownment for the Arts logo">
        <img src="/images/logged-out/amazonpartnership.png" alt="Amazon Literary Partnership logo">
      </div>
      <div class='nw-footer-copyright'>
        <span class="links">
          {{#link-to "pages" "terms-and-conditions"}}
            Terms and Conditions
          {{/link-to}}
          &nbsp;
          &bull;
          &nbsp;
          {{#link-to "pages" "privacy-policy"}}
            Privacy Policy
          {{/link-to}}
          &nbsp;
          &bull;
          &nbsp;
          {{#link-to "pages" "codes-of-conduct"}}
            Codes of Conduct
          {{/link-to}}
          &nbsp;
          &bull;
          &nbsp;
        </span>
        Copyright © 1999 - {{currentYear}} National Novel Writing Month. All posted novel excerpts remain copyright to
        their authors.
      </div>
    </div>
  </div>
</div>
