<footer>
  <div class="container">
    <div class="main">
      <div class="company-logo">
        <a href="index.html">
          <img src="/images/logged-out/footer-logo.svg" alt="NaNoWriMo">
        </a>
      </div>
      <div class="quicklinks">
        <div class="headline">What is NaNoWriMo?</div>
        <div class="links">
          {{link-to "About the Platform" "about" class="link"}}
          <a href="https://ywp.nanowrimo.org" class="link">Young Writers Program</a>
          {{link-to "Our Impact" "programming-and-impact" class="link"}}
        </div>
      </div>
      <div class="quicklinks">
        <div class="headline">About NaNoWriMo</div>
        <div class="links">
          <a href="https://nanowrimo.org/staff" class="link">Staff</a>
          <a href="https://nanowrimo.org/board-of-directors" class="link">Board</a>
          <a href="" class="link">Annual Report</a>
          <a href="https://nanowrimo.org/brought-to-you-by" class="link">Brought to you by...</a>
          <a href="" class="link">Sponsorship Opportunities</a>
        </div>
      </div>
      <div class="quicklinks">
        <div class="headline">From NaNo HQ</div>
        <div class="links">
          <a href="http://blog.nanowrimo.org" class="link">NaNoWriMo Blog</a>
          {{link-to "Press" "press" class="link"}}
          {{link-to "Ways to Support" "ways-to-support" class="link"}}
        </div>
      </div>
      <div class="quicklinks">
        <div class="headline">Writer's Resources</div>
        <div class="links">
          <a href="https://nanowrimo.org/pep-talks" class="link">Pep Talks</a>
          <a href="https://nanowrimo.org/nano-prep" class="link">NaNo Prep</a>
          <a href="https://nanowrimo.org/now-what" class="link">Now What?</a>
        </div>
      </div>
      <div class="quicklinks">
        <div class="links bold-links">
          <a href="https://store.nanowrimo.org/collections/shop" class="link">Shop</a>
          <a href="https://store.nanowrimo.org/collections/donate" class="link">Donate</a>
          {{link-to "Ways to Support" "ways-to-support" class="link"}}
        </div>
        <div class="social-links">
          <div class="headline">Connect with NaNoWrimo</div>
          <div class="socials">
            <a href="https://www.facebook.com/nanowrimo" class="social"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/nanowrimo" class="social"><i class="fa fa-twitter-square"></i></a>
            <a href="http://blog.nanowrimo.org/" class="social"><i class="fa fa-tumblr-square"></i></a>
            <a href="https://www.youtube.com/c/nanowrimo" class="social"><i class="fa fa-youtube"></i></a>
            <a href="https://www.instagram.com/nanowrimo/" class="social"><i class="fa fa-instagram"></i></a>
            <a href="https://www.pinterest.com/nanowrimo/" class="social"><i class="fa fa-pinterest-square"></i></a>
          </div>
        </div>
        <div class="links flex-links">
          {{link-to 'Sign In' 'sign-in' class="link"}}
          {{link-to 'Sign Up' 'sign-up' class="link"}}
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="logos">
        <img src="/images/logged-out/powered-by-aws.png" alt="Powered by AWS">
        <img src="/images/logged-out/NEA-Logo-BW@2x.png" alt="National Endownment for the Arts">
        <img src="/images/logged-out/amazonpartnership.png" alt="Amazon Literary Partnership">
      </div>
      <div class="copyright">
        <div class="links">
          {{link-to "Terms and Conditions" "terms-conditions" class="link"}}
          {{link-to "Privacy Policy" "terms-conditions" class="link"}}
        </div>
        <p class="copyright-info">Copyright © 1999 - 2018 National Novel Writing Month <span>All posted novel excerpts remain copyright to their authors.</span></p>
      </div>
    </div>
  </div>
</footer>
