{{#bs-modal
  open=open
  onShow=(action "onShow")
  onHidden=(action "onHidden")
  class='logger-timer-modal'
  as |modal|
}}
  {{#modal.header closeButton=false}}
    Ready...? Set...?
  {{/modal.header}}
  {{#modal.body}}

   {{#bs-tab classNames='timer-horizontal-tabs'
        activeId=activeTab
        onChange=(action (mut activeTab))
        as |tab|
      }}
      {{#tab.pane title="Stopwatch" id="timer-modal-stopwatch"}} 
  
          <input class=' nano-button' type='submit' value='Start Stopwatch' {{action "startStopwatch" }}>

      {{/tab.pane}}

      {{#tab.pane title="Timer" id="timer-modal-timer"}}
      <div id='timer-form-modes'>
        <div class='timer-content'>
            {{#if countdownRemaining}}
              {{countdownRemaining}}
                <input class=' nano-button' type='submit' value='Cancel Timer' {{action "cancelTimer" }}>
      
            {{else}}
              <div class='timer-duration form-group'>
                <div style="width: 200px; margin-bottom: 5px; font-family: 'SourceSansPro-Regular'">
                  <input type='number' id='hours-field' class="ember-text-field" min='0' name='timer-set-hours' onchange={{action 'timerSetHoursChanged' value="target.value"}} value={{timerHoursValue}}> <label for="hours-field">hours</label>
                </div>
                <div style="width: 200px; font-family: 'SourceSansPro-Regular'">
                  <input type='number' id='minutes-field' class="ember-text-field" min='0' name='timer-set-minutes' onchange={{action 'timerSetMinutesChanged' value="target.value"}} value={{timerMinutesValue}}> <label for="minutes-field">minutes</label>
                </div>
              </div>
              <div >
                <input class='form-control nano-button' type='submit' value='Start Timer' {{action "startTimer" }}>
              </div>
              
            {{/if}}
          </div>
        </div>
      {{/tab.pane}}
  {{/bs-tab}}

    
  {{/modal.body}}
  
  {{#modal.footer}}
      <div>&nbsp;</div>
      
      <input class='nano-button btn-underlined' {{action 'cancel'}} type='button' value='Cancel'>
  {{/modal.footer}}
{{/bs-modal}}

