<div id='session-logger-display' class='logger-timer-modal'>
  <img src="/images/nav/tab.svg" alt="" class="nano-menu-tab" />
  <div class="modal-content">
    <div class="modal-header">
      How's your writing going?
    </div>
    <div class="modal-body">
      <div id='menu-progress-update-project-display'>
        <div class='primary-project-display'>
          <div class='project-cover' >
            <div class='project-cover-clip'>
              <img src="{{primaryProject.coverUrl}}">
            </div>
          </div>
             <div class='project-title'>
            {{primaryProject.title}}
          </div>
        </div>
     
      <div id='progress-update-form'>

          <form>
            <div class="form-group">
              <div id="progress-update-form-inputs" class='form-group'> 
                {{input type='number' name='count' value=countValue class='form-control progress-update-input'}}
                <div class='select-container'>
                  <select class='form-control' name='update-type' onChange={{action 'selectChanged' value='target.value'}}>
                    <option value='0' selected={{countTypeTotalSelected}}>total {{primaryProject.activeProjectChallenge.content.unitTypePlural}}</option>
                    <option value='1' selected={{countTypeSessionSelected}}>{{primaryProject.activeProjectChallenge.content.unitTypePlural}} this session</option>
                  </select>
                </div>
              </div>
              <div class="more-info-toggle  {{projectAdditionalInfoShow}}" {{action 'toggleAdditionalInfo'}}>{{if _projectAdditionalInfoShow 'Hide' 'Show'}} more options {{fa-icon "caret-down"}}{{fa-icon "caret-up"}}</div>
              <div class="project-additional-info {{projectAdditionalInfoShow}}">
                <fieldset>
                  <label>How did it go?</label>
                  <div  class="project-emoji-list">
                    <input id='feeling5' type='radio' value='Felt great' name='feeling' {{action "changeFeeling" 5}}/>
                    <label for='feeling5' >
                      <div class="project-emoji emoji-5 {{if feeling5Selected 'selected' ''}}"></div>
                    </label>
                    <input id='feeling4' type='radio' value='Felt pretty good' name='feeling' {{action "changeFeeling" 4 }}/>
                    <label for='feeling4' >
                      <div class="project-emoji emoji-4 {{if feeling4Selected 'selected' ''}}"></div>
                    </label>
                    <input id='feeling3' type='radio' value='Felt just OK' name='feeling' {{action "changeFeeling" 3 }}/>
                    <label for='feeling3' >
                      <div class="project-emoji emoji-3 {{if feeling3Selected 'selected' ''}}"></div>
                    </label>
                    <input id='feeling2' type='radio' value='Felt stressed' name='feeling' {{action "changeFeeling" 2 }}/>
                    <label for='feeling2' >
                      <div class="project-emoji emoji-2 {{if feeling2Selected 'selected' ''}}"></div>
                    </label>
                    <input id='feeling1' type='radio' value='Felt upset' name='feeling' {{action "changeFeeling" 1 }}/>
                    <label for='feeling1' >
                      <div class="project-emoji emoji-1 {{if feeling1Selected 'selected' ''}}"></div>
                    </label>
                  </div>
                </fieldset>
             
                <div>
                  <label>Where were you writing?</label>
                  {{#power-select-with-create
                    options=writingLocations
                    selected=selectedWhere
                    searchField='name'
                    searchEnabled='true'
                    showCreatePosition="bottom"
                    showCreateWhen=(action "showCreateWhen")
                    dropdownClass="in-modal-dropdown"
                    renderInPlace=true
                    onchange=(action (mut selectedWhere))
                    oncreate=(action "createWhere")
                    as |opt|
                  }}
                    {{opt.name}}
                  {{/power-select-with-create}}
                </div>
                <div>
                  <label>How were you writing?</label>
                  {{#power-select-with-create
                    options=writingMethods
                    selected=selectedHow
                    searchField='name'
                    searchEnabled='true'
                    showCreatePosition="bottom"
                    showCreateWhen=(action "showCreateWhen")
                    dropdownClass="in-modal-dropdown"
                    renderInPlace=true
                    onchange=(action (mut selectedHow))
                    oncreate=(action "createHow")
                    as |opt|
                  }}
                    {{opt.name}}
                  {{/power-select-with-create}}
                </div>
                
                <div class="side-by-side" style="justify-content: space-between">
                  <div style="flex: 0 0 130px; width: 130px;">
                    <label>When did you start?</label>
                    {{input type='time' name='when_start' class='form-control progress-update-input time-input' value=whenStart}}
                  </div>
                  <div style="flex: 0 0 130px; width: 130px;">
                    <label>When did you end?</label>
                    {{input type='time' name='when_end' class='form-control progress-update-input time-input' value=whenEnd}}
                  </div>
                </div>
              </div>
              <div id="progress-update-form-buttons" class='form-group'> 
                <input class='form-control nano-button' type='submit' value='Update progress' {{action "formSubmit" }}>
                <a href="#" {{action 'cancel'}}>Cancel</a>
              </div>
            </div>
          </form>
   
      </div>
      </div>
    </div>
  </div>
</div>
