{{#if hasActiveProjects}}
  <audio id='timer-audio'>
    <source src='/audio/timer/times_up.m4a' type='audio/mp4' />
    <source src='/audio/timer/times_up.ogg' type='audio/ogg' />
    <source src='/audio/timer/times_up.mp3' type='audio/mp3' />
  </audio>
  <audio id='stopwatch-audio'>
    <source src='/audio/stopwatch/ding.m4a' type='audio/mp4' />
    <source src='/audio/stopwatch/ding.ogg' type='audio/ogg' />
    <source src='/audio/stopwatch/ding.mp3' type='audio/mp3' />
  </audio>

  <div id='logger-and-timer'>

    <div class="btn-group" role="group" id="logger-and-timer-triggers">
      {{#if displaySessionButton}}
        <button class="button-log btn btn-primary" {{action 'toggleSessionForm'}} aria-label="Update your word count.">
          <span class="non-mobile" aria-hidden="false">{{fa-icon "plus"}}</span>
        </button>
      {{/if}}
      {{#if displayTimeOnButton}}
        <button class="button-log btn btn-primary wide-button" {{action 'toggleTimerForm'}} aria-label="Start a writing timer or stopwatch.">
          {{fa-icon "stop-circle-o"}} {{timeProgress}}
        </button>
      {{else}}
        <button class="button-log btn btn-primary" {{action 'toggleTimerForm'}} aria-label="Start a writing timer or stopwatch.">
          <span class="non-mobile" aria-hidden="false">{{fa-icon "clock-o"}}</span>
        </button>
      {{/if}}
    </div>
    {{#if displaySessionForm}}
      {{main-nav-session-logger closeFormAction=(action "hideForms") referenceStart=referenceStart referenceEnd=referenceEnd}}
      <div id='logger-and-timer-overlay' {{action 'hideForms'}}></div>
    {{/if}}

    {{#if displayTimerForm}}
      {{main-nav-timer-form cancelTimerAction=(action "cancelTimer")
        afterNewTimer=(action "checkTimer")
        afterNewStopwatch=(action "checkStopwatch")
        closeFormAction=(action "hideForms")
        countdownRemaining=countdownRemaining}}
      <div id='logger-and-timer-overlay' {{action 'hideForms'}}></div>
    {{/if}}
  </div>
{{/if}}

