<nav class="navbar mainnav navbar-expand-lg" aria-label="main">
  <div class="container-fluid d-flex">
    {{#link-to nanoMenuService.homeUrl class="navbar-brand text-logo"}}<img src="/logo/logo-text.svg" alt="" />{{/link-to}}
    {{#if session.isAuthenticated}}
      {{#if currentUserName}}
        {{#bs-nav type="pills" as |nav|}}
          {{#each submenus as |submenu|}}
            {{#nav.dropdown as |dd|}}
              {{#dd.toggle}}{{submenu.toggleLabel}} <span class="caret"></span>{{/dd.toggle}}
              {{#dd.menu as |ddm|}}
                <img src="/nav/tab.svg" alt="" class="nano-menu-tab" />
                <ul>
                  {{#each submenu.submenuItems as |submenuItem|}}
                    {{#ddm.item tagName="li"}}
                      {{#if submenuItem.segment}}
                        {{#ddm.link-to submenuItem.url submenuItem.segment class="dropdown-item d-flex"}}
                          <div class="dropdown-image"><div class="icon-circle"><img src="{{submenuItem.src}}" alt="" /></div></div>
                          <div class="dropdown-headline">{{submenuItem.label}}</div>
                          <div class="dropdown-teaser">{{submenuItem.teaser}}</div>
                        {{/ddm.link-to}}
                      {{else}}
                        {{#ddm.link-to submenuItem.url class="dropdown-item d-flex"}}
                          <div class="dropdown-image"><div class="icon-circle"><img src="{{submenuItem.src}}" alt="" /></div></div>
                          <div class="dropdown-headline">{{submenuItem.label}}</div>
                          <div class="dropdown-teaser">{{submenuItem.teaser}}</div>
                        {{/ddm.link-to}}
                      {{/if}}
                    {{/ddm.item}}
                  {{/each}}
                </ul>
              {{/dd.menu}}
            {{/nav.dropdown}}
          {{/each}}
        {{/bs-nav}}
        {{logging-buttons}}
        {{#bs-dropdown as |dd|}}
          {{#dd.toggle class="user-menu"}}Hi, <u>{{currentUserName}}!</u> <span class="caret"></span>{{/dd.toggle}}
          {{#dd.menu as |ddm|}}
            <ul>
              {{#ddm.item tagName="li"}}
                <a href="/" class="dropdown-item d-flex">
                  <div class="dropdown-icon">{{fa-icon "list-alt"}}</div>
                  <div class="dropdown-headline">Activity Log</div>
                </a>
              {{/ddm.item}}
              {{#ddm.item tagName="li"}}
                <a href="/" class="dropdown-item d-flex">
                  <div class="dropdown-icon">{{fa-icon "cog"}}</div>
                  <div class="dropdown-headline">Settings</div>
                </a>
              {{/ddm.item}}
              {{#ddm.item tagName="li"}}
                <a href="#" class="dropdown-item d-flex" {{action 'invalidateSession'}} data-test-log-out>
                  <div class="dropdown-icon">{{fa-icon "sign-out"}}</div>
                  <div class="dropdown-headline">Logout</div>
                </a>
              {{/ddm.item}}
            </ul>
          {{/dd.menu}}
        {{/bs-dropdown}}
        {{notify-buttons}}
      {{/if}}
    {{/if}}
  </div>
</nav>
