{{#bs-modal
  open=open
  onShow=(action "onShow")
  onHidden=(action "onHidden")
  class='logger-timer-modal'
  as |modal|
}}
  {{#modal.header closeButton=false}}
    Ready...? Set...?
  {{/modal.header}}
  {{#modal.body}}
    <div class='tab-content'>
      <div id='timer-form-modes'>
        {{#if showStopwatch}}
          <div class='timer-sub-menu'>
            <span class='selected timer-sub-menu-item'>Stopwatch</span>
            <span class='timer-sub-menu-item'>
              <a href="#" {{action 'selectTimer'}}>Timer</a>
            </span>
          </div>


        {{else}}
          <div class='timer-sub-menu'>
            <span class='timer-sub-menu-item'>
              <a href="#" {{action 'selectStopwatch'}}>Stopwatch</a>
            </span>
            <span class='selected timer-sub-menu-item'>Timer</span>
          </div>
          <div class='timer-content'>
            {{#if countdownRemaining}}
              {{countdownRemaining}}
            {{else}}
              <!--
              <div class='timer-instruction'>You can enter time as 1.5 or 1:30, they both mean 1 hour and 30 minutes.</div>
              //-->
              <div class='timer-duration form-group'>
                <!--
                <input id='duration' class="form-control {{if validDurationInput '' 'is-invalid'}}" onchange={{action "durationChange" value="target.value"}}>
                //-->
                <div style="width: 200px; margin-bottom: 5px; font-family: 'SourceSansPro-Regular'">
                  <input type='number' class="ember-text-field" min='0' name='timer-set-hours' onchange={{action 'timerSetHoursChanged' value="target.value"}} value={{timerHoursValue}} style="width: 70px; text-align: right;"> hours
                </div>
                <div style="width: 200px; font-family: 'SourceSansPro-Regular'">
                  <input type='number' class="ember-text-field" min='0' name='timer-set-minutes' onchange={{action 'timerSetMinutesChanged' value="target.value"}} value={{timerMinutesValue}} style="width: 70px; text-align: right;"> minutes
                </div>
              </div>
            {{/if}}

          </div>

        {{/if}}
      </div>
    </div>
  {{/modal.body}}
  {{#modal.footer}}
    {{#if showStopwatch}}
      <input class='form-control nano-button' type='submit' value='Start Stopwatch' {{action "startStopwatch" }}>
      <a href="#" {{action "cancel"}} >Cancel</a>
    {{else}}
      {{#if countdownRemaining}}
        <input class='form-control nano-button' type='submit' value='Cancel Timer' {{action "cancelTimer" }}>
      {{else}}
        <input class='form-control nano-button' type='submit' value='Start Timer' {{action "startTimer" }}>
        <input class='nano-button btn-underlined' {{action 'cancel'}} type='button' value='Cancel'>
      {{/if}}
    {{/if}}
  {{/modal.footer}}
{{/bs-modal}}

