{{#if currentUser.user.primaryProject }}
  <audio id='timer-audio'>
    <source src='/audio/timer/times_up.m4a' type='audio/mpeg' />
    <source src='/audio/timer/times_up.ogg' type='audio/ogg' />
    <source src='/audio/timer/times_up.mp3' type='audio/mpeg' />
  </audio>

  <div id='logger-and-timer'>

    <div class="btn-group" role="group" id="logger-and-timer-triggers">
      {{#if displaySessionButton}}
        <button class="button-log btn btn-primary" {{action 'toggleSessionForm'}}>
          <span class="non-mobile" aria-hidden="false">{{fa-icon "plus"}}</span>
        </button>
      {{/if}}
      <button class="button-log btn btn-primary" {{action 'toggleTimerForm'}}>
        {{#if displayCountdownOnButton}}
          {{countdownRemaining}}
        {{else}}
          <span class="non-mobile" aria-hidden="false">{{fa-icon "clock-o"}}</span>
        {{/if}}
      </button>
    </div>
    {{#if displaySessionForm}}
      {{main-nav-session-logger closeFormAction=(action "hideForms") referenceTimer=referenceTimer}}
      <div id='logger-and-timer-overlay' {{action 'hideForms'}}></div>
    {{/if}}

    {{#if displayTimerForm}}
      {{main-nav-timer-form cancelTimerAction=(action "cancelTimer") afterNewTimer=(action "checkTimer") closeFormAction=(action "hideForms") countdownRemaining=countdownRemaining}}
      <div id='logger-and-timer-overlay' {{action 'hideForms'}}></div>
    {{/if}}
  </div>
{{/if}}

