<div id="main-nav-timer-form-display" class='logger-timer-modal'>
    <img src="/images/nav/tab.svg" alt="" class="nano-menu-tab" />
  <div class="modal-content">
    <div class="modal-header">
      Ready...? Set...?
    </div>
    <div class="modal-body">

      <div class='primary-project-display'>
        <div class='project-cover' >
          <div class='project-cover-clip'>
            <img src="{{primaryProject.coverUrl}}">
          </div>
        </div>
           <div class='project-title'>
          {{primaryProject.title}}
        </div>
      </div>
    </div>
    <div id='timer-form-modes'>
      {{#if showStopwatch}}
        <div class='timer-sub-menu'>
          <span class='selected timer-sub-menu-item'>Stopwatch</span>
          <span class='timer-sub-menu-item'>
            <a href="#" {{action 'selectTimer'}}>Timer</a>
          </span>
        </div>

        <div class='footer-actions'>
          <input class='form-control nano-button' type='submit' value='Start Stopwatch' {{action "startStopwatch" }}>
          <a href="#" {{action "cancel"}} >Cancel</a>
        </div>


      {{else}}
        <div class='timer-sub-menu'>
          <span class='timer-sub-menu-item'>
            <a href="#" {{action 'selectStopwatch'}}>Stopwatch</a>
          </span>
          <span class='selected timer-sub-menu-item'>Timer</span>
        </div>
        <div class='timer-content'>
          {{#if countdownRemaining}}
            {{countdownRemaining}}
          {{else}}
            <div class='timer-instruction'>You can enter time as 1.5 or 1:30, they both mean 1 hour and 30 minutes.</div>
            <div class='timer-duration'>
              <input id='duration' class="form-control {{if validDurationInput '' 'is-invalid'}}" onchange={{action "durationChange" value="target.value"}}>
              <!--
              hours: <input type='number' min='0' name='timer-set-hours' onchange={{action 'timerSetHoursChanged' value="target.value"}} value={{timerHoursValue}}>
              minutes: <input type='number' min='0' name='timer-set-minutes' onchange={{action 'timerSetMinutesChanged' value="target.value"}} value={{timerMinutesValue}}>
              //-->
             </div>
          {{/if}}

        </div>
        <div class='footer-actions'>
          {{#if countdownRemaining}}
            <input class='form-control nano-button' type='submit' value='Cancel Timer' {{action "cancelTimer" }}>
          {{else}}
            <input class='form-control nano-button' type='submit' value='Start Timer' {{action "startTimer" }}>
            <a href="#" {{action "cancel"}} >Close</a>
          {{/if}}
        </div>

      {{/if}}
    </div>

  </div>

</div>

