<nav class="navbar micronav navbar-expand-lg" aria-label="secondary">
  <div class="container-fluid d-flex">
    <div class="shield-logo-container" aria="hidden"><a class="shield-logo" href="{{nanoMenuService.homeUrl}}"><img src="/logo/logo.svg" alt="" /></a></div>
    {{#if session.isAuthenticated}}
      <div class="nano-search d-flex flex-row">
        {{search-field}}
      </div>
    {{/if}}
    <div class="nav-store d-flex flex-row-reverse">
      <ul class="navbar-nav store-blue">
        {{#each storeLinks as |storeLink|}}
          <li class="nav-item"><a href="{{storeLink.url}}" class="nav-link">{{storeLink.label}}</a></li>
        {{/each}}
      </ul>
      <ul class="navbar-nav">
        {{#each helpLinks as |helpLink|}}
          <li class="nav-item"><a href="{{helpLink.url}}" class="nav-link">{{helpLink.label}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
</nav>
