{{#if systemMessage}}
    <div class="nanomessage nanomessage-center {{newMessage}}">
      <div class='nw-avatar nw-avatar-medium'>
      </div>
      <div class="nanomessage-content-container nw-no-speech-bubble">
        <div class="nanomessage-content">
          <div class="nw-system-message-image">
            <img src='{{senderAvatarUrl}}' />
          </div>
          <div>
            {{{nanomessage.content}}}
            <div class="nanomessage-timesince">
              {{moment-from-now nanomessage.createdAt interval=1000}}
              {{#if userIsAdmin}}
                <i class='fa fa-trash' {{action 'deleteMessage'}}></i>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
{{else}}
  {{#if leftAlign}}
    <div class="nanomessage nanomessage-left {{newMessage}}">
      <div class='nw-avatar nw-avatar-medium'>
        {{#link-to 'authenticated.users.show' nanomessage.sender_slug}}
          <img src='{{senderAvatarUrl}}' />
        {{/link-to}}
        {{#bs-tooltip class="nw-tooltip" delayHide="0"}}
          <div class="nw-tooltip-content">{{nanomessage.sender_name}}</div>
        {{/bs-tooltip}}
      </div>
      <div class="nanomessage-arrow-left"></div>
      <div class="nanomessage-content-container">
        <div class="nanomessage-content">
          {{{nanomessage.content}}}
        </div>
        <div class="nanomessage-timesince">
          {{moment-from-now nanomessage.createdAt interval=1000}}
          {{#if userIsAdmin}}
            <i class='fa fa-trash' {{action 'deleteMessage'}}></i>
          {{/if}}
        </div>
      </div>
    </div>
  {{else}}
    <div class="nanomessage nanomessage-right {{newMessage}}">
      <div class="nanomessage-content-container">
        <div class="nanomessage-content">
          {{{nanomessage.content}}}
        </div>
        <div class="nanomessage-timesince">
          {{moment-from-now nanomessage.createdAt interval=1000}}
          {{#if userIsAdmin}}
            <i class='fa fa-trash' {{action 'deleteMessage'}}></i>
          {{/if}}
        </div>
      </div>
      <div class="nanomessage-arrow-right"></div>
    </div>
  {{/if}}
{{/if}}