{{#if leftAlign}}
  <div class="nanomessage nanomessage-left {{newMessage}}">
    <div class='nw-avatar nw-avatar-medium'>
      {{#link-to 'authenticated.users.show' nanomessage.sender_slug}}
        <img src='{{senderAvatarUrl}}' />
        {{nanomessage.sender_name}}
      {{/link-to}}
    </div>
    <div class="nanomessage-arrow-left"></div>
    <div class="nanomessage-content-container">
      <div class="nanomessage-content">
        {{{nanomessage.content}}}
      </div>
      <div class="nanomessage-timesince">
        {{moment-from-now nanomessage.createdAt interval=1000}}
      </div>
    </div>
  </div>
{{else}}
  <div class="nanomessage nanomessage-right {{newMessage}}">
    <div class="nanomessage-content-container">
      <div class="nanomessage-content">
        {{{nanomessage.content}}}
      </div>
      <div class="nanomessage-timesince">
        {{moment-from-now nanomessage.createdAt interval=1000}}
      </div>
    </div>
    <div class="nanomessage-arrow-right"></div>
  </div>
{{/if}}