<li>
  <div onclick={{action 'toggleSubmenu'}} class="nano-side-menu-submenu-toggle">{{thisSubmenu.toggleLabel}} <span class={{caretClass}}>{{fa-icon "caret-down"}}</span></div>
  <ul class="nano-side-menu-submenu" style={{menuMaxHeight}}>
    {{#each thisSubmenu.submenuItems as |submenuItem|}}
      <li>
        {{nano-side-menu-link menuItem=submenuItem}}
      </li> 
    {{/each}}
  </ul>
</li>
