{{#bs-nav class="nw-nav-notify-buttons" type="pills" as |nav|}}
  {{#nav.dropdown as |dd|}}
    {{#dd.toggle}}
      <button class="button-clear button-bell">
        {{#if media.isDesktop}}
          <span class="non-mobile" aria-hidden="false">{{fa-icon "bell"}}</span>
        {{/if}}
        {{#if media.isMobile}}
          <span class="mobile" aria-hidden="false">{{fa-icon "bell-o"}}</span>
        {{/if}}
        <div class="unread-circle">{{newNotificationsCount}}</div>
      </button>
    {{/dd.toggle}}
    {{#dd.menu align="right" as |ddm|}}
      {{notifications-menu-dropdown allNotifications=allNotifications clickAction=(action 'notificationClicked')}}
    {{/dd.menu}}
  {{/nav.dropdown}}
{{/bs-nav}}
{{#if showBadgeSplash}}
  {{badge-splash badge=badgeForSplash closeAction=(action 'hideBadgeSplash')}}
{{/if}}
