{{#bs-nav class="nw-nav-notify-buttons" as |nav|}}
  {{#nav.dropdown as |dd|}}
    <a class="button-clear" aria-label="Go to your nanomessages" {{action 'linkToNanomessages'}}>
      <span class="non-mobile" aria-hidden="false">{{fa-icon "comment"}}</span>
      <div class="nw-unread-circle {{nanomessagesDisplayStyle}}"></div>
    </a>
  {{/nav.dropdown}}

  {{#nav.dropdown as |dd|}}
    <button class="button-clear" aria-label="Display your notifications." {{action 'toggleNotifications'}}>
      {{#if (media "isDesktop")}}
        <span class="non-mobile" aria-hidden="false">{{fa-icon "bell"}}</span>
      {{/if}}
      {{#if (media "isMobile")}}
        <span class="mobile" aria-hidden="false">{{fa-icon "bell"}}</span>
      {{/if}}
      <div class="nw-unread-circle {{displayStyle}}">{{newNotificationsCount}}</div>
    </button>
  {{/nav.dropdown}}

{{/bs-nav}}
{{#if showBadgeSplash}}
  {{splash-badge badge=badgeForSplash closeAction=(action 'hideBadgeSplash')}}
{{/if}}
{{#if showWinnerSplash}}
  {{splash-winner badge=badgeForSplash closeAction=(action 'hideWinnerSplash')}}
{{/if}}
{{#if displayNotifications}}
  {{notifications-modal
    open='true'
    closeFormAction=(action "toggleNotifications")
    allNotifications=sortedNotifications
    clickAction=(action 'notificationClicked')
  }}
{{/if}}

