{{#bs-nav class="nw-nav-notify-buttons" as |nav|}}
  <button class="button-clear" aria-label="Go to your nanomessages" {{action 'linkToNanomessages'}}>
    <span aria-hidden="false">{{fa-icon "comment"}}</span>
    <div class="nw-unread-circle {{nanomessagesDisplayStyle}}">{{newNanomessagesCount}}</div>
  </button>
  <button class="button-clear" {{action 'toggleNotifications'}}>
    <span class='sr-only'>Notifications</span>
    <span aria-hidden="false">{{fa-icon "bell"}}</span>
    <div class="nw-unread-circle {{displayStyle}}">{{newNotificationsCount}}</div>
  </button>

{{/bs-nav}}
{{#if showBadgeSplash}}
  {{splash-badge badge=badgeForSplash closeAction=(action 'hideBadgeSplash')}}
{{/if}}
{{#if showWinnerSplash}}
  {{splash-winner badge=badgeForSplash extraData=badgeExtraData closeAction=(action 'hideWinnerSplash')}}
{{/if}}
{{#if displayNotifications}}
  {{notifications-modal
    open='true'
    closeFormAction=(action "toggleNotifications")
    allNotifications=sortedNotifications
    clickAction=(action 'notificationClicked')
  }}
{{/if}}

