{{#bs-nav class="nw-nav-notify-buttons" as |nav|}}
  {{#nav.dropdown as |dd|}}
    {{#link-to  "authenticated.nanomessages"}}
      <span class="non-mobile" aria-hidden="false">{{fa-icon "comment"}}</span>
      <div class="nw-unread-circle {{nanomessagesDisplayStyle}}"></div>
    {{/link-to}}
  {{/nav.dropdown}}

  <div class="btn-group" role="group" id="notification-triggers">
    <button class="button-clear" aria-label="Display your notifications." {{action 'toggleNotifications'}}>
      {{#if (media "isDesktop")}}
        <span class="non-mobile" aria-hidden="false">{{fa-icon "bell"}}</span>
      {{/if}}
      {{#if (media "isMobile")}}
        <span class="mobile" aria-hidden="false">{{fa-icon "bell"}}</span>
      {{/if}}
      <div class="nw-unread-circle {{displayStyle}}">{{newNotificationsCount}}</div>
    </button>
    {{#if displayNotifications}}
      {{notifications-modal
        open='true'
        closeFormAction=(action "toggleNotifications")
        allNotifications=sortedNotifications
        clickAction=(action 'notificationClicked')
      }}
    {{/if}}
  </div>
  
{{/bs-nav}}
{{#if showBadgeSplash}}
  {{splash-badge badge=badgeForSplash closeAction=(action 'hideBadgeSplash')}}
{{/if}}
{{#if showWinnerSplash}}
  {{splash-winner badge=badgeForSplash closeAction=(action 'hideWinnerSplash')}}
{{/if}}
