<div class="password-reveal-container">
  <label for={{name}}>{{label}}</label>
  <input type={{fieldType}}
    class='form-control ember-text-field {{if errorMessage 'is-invalid' ''}}' 
    id={{name}}
    name={{name}}
    value={{value}}
    {{action "passwordChanged" on="keyUp"}}
  >      
  {{#if errorMessage}}
    <div class="invalid-feedback">{{errorMessage}}</div>
  {{/if}}

  <button class="password-reveal{{if errorMessage ' is-invalid'}}" onclick={{action 'toggleVisible'}}>{{fa-icon iconClass}}<span class="sr-only">{{toggleVisibleInstruction}}</span></button>
  
</div>
