<div class="menu-trigger">
  <button class='nw-button-undecorated' aria-label="show menu" {{action 'showMenu'}}>
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button>
</div>
  

<div id='side-menu' class="menu-content nano-side-menu {{if displayMenu 'display' ''}}"
  role="dialog" aria-modal="true" aria-label="Menu">
  <div class='nano-side-menu-toggle'>
    <button id="mobile-menu-logged-out-close" href="#" class=" nw-button-undecorated menu-close" {{action "hideMenu"}} aria-label="hide menu">
      <span aria-hidden="false">{{fa-icon "times"}}</span>
    </button>
  </div>
  <div class='menu-items'>
    <div class="menu-item">
      {{#link-to "sign-up"}}
      <span {{action "hideMenu"}}>
        Sign Up
      </span>
      {{/link-to}}
    </div>
    <div class="menu-item">
      {{#link-to "sign-in"}}
      <span {{action "hideMenu"}}>
        Sign In
      </span> 
      {{/link-to}}
    </div>
    <div class="menu-item">
      <a href="https://store.nanowrimo.org/collections/shop" target='_blank'>
          Shop
      </a>
    </div>
    <div class="menu-item">
      <a href="https://store.nanowrimo.org/collections/donate" target='_blank'>
          Donate
      </a>
    </div>
    <div class="menu-item">
      {{#link-to "pages" "about-nano"}}
        <span {{action "hideMenu"}}>
        What is NaNoWriMo?
        </span>
      {{/link-to}}
    </div>
  </div>
 
</div>
 
<div {{action "hideMenu"}} class="{{ if displayMenu 'background-cover' 'hidden'}}"></div>
