<tr>
  <td>{{formattedEnd}}</td>
  <td>{{projectSession.count}} words</td>
  <td>
    <button class="nw-button-undecorated" {{action 'deleteProjectSession'}}>
      <span class="screen-reader-text">Delete  {{projectSession.count}} words from {{formattedEnd}}</span>
      <i class="fa fa-trash" ></i>
    </button>
  </td>
</tr>
