<div class="nw-card-list-item">
  <div class="nw-card-list-item-left">
    {{formattedEnd}}
  </div>
  <div class="nw-card-list-item-center">
    {{projectSession.count}} words
  </div>
  <div class="nw-card-list-item-right">
    <button class="nw-button-undecorated" {{action 'deleteProjectSession'}}>
      <span class="screen-reader-text">Delete  {{projectSession.count}} words from {{formattedEnd}}</span>
      <i class="fa fa-trash" ></i>
    </button>
  </div>
</div>
