{{#bs-modal
  open=open
  onHidden=(action "onHidden")
  as |modal|
}}
  {{#modal.header closeButton=false}}
    This is a Great Start!
  {{/modal.header}}
  {{#form-for
    data-test-project-form=true
    afterSubmit=modal.close
    currentStepIndex=formStepOverride
    model=project
    steps=steps
    as |f|
  }}
    {{#modal.body}}

      <div class="steps">
        {{#if (eq f.currentStepIndex 0)}}
          <div class="step step-current">
            <div>Overview</div>
            <div>{{fa-icon "circle-o"}}</div>
          </div>
        {{else}}
          <div class="step step-completed" {{action "setStep" 0}}>
            <div>Overview</div>
            <div>{{fa-icon "check-circle"}}</div>
          </div>
        {{/if}}
        {{#if (eq f.currentStepIndex 1)}}
          <div class="step-connector connector-blue">
            <hr />
          </div>
          <div class="step step-current">
            <div>Goal</div>
            <div>{{fa-icon "circle-o"}}</div>
          </div>
        {{else if (gt f.currentStepIndex 1)}}
          <div class="step-connector connector-blue">
            <hr />
          </div>
          <div class="step step-completed" {{action "setStep" 1}}>
            <div>Goal</div>
            <div>{{fa-icon "check-circle"}}</div>
          </div>
        {{else}}
          <div class="step-connector">
            <hr />
          </div>
          <div class="step">
            <div>Goal</div>
            <div>{{fa-icon "circle-o"}}</div>
          </div>
        {{/if}}
        {{#if f.isLastStep}}
          <div class="step-connector connector-blue">
            <hr />
          </div>
          <div class="step step-current">
            <div>Details</div>
            <div>{{fa-icon "circle-o"}}</div>
          </div>
        {{else}}
          <div class="step-connector">
            <hr />
          </div>
          <div class="step">
            <div>Details</div>
            <div>{{fa-icon "circle-o"}}</div>
          </div>
        {{/if}}
      </div>

      <div class="tab-content">

        {{#if (eq f.currentStepIndex 0)}}

          <div class="form-group">
            {{f.input
              label="What is the name of your project?"
              property="title"
            }}
          </div>
          <div class="form-group">
            {{f.select
              label="What is the project status?"
              options=optionsForStatus
              property="status"
            }}
          </div>
          <div class="form-group">
            {{f.select
              label="How much privacy do you want?"
              options=optionsForPrivacy
              property="privacy"
            }}
          </div>
          <div class="form-group">
            {{f.select
              label="What type of project is this?"
              options=optionsForWritingType
              property="writingType"
            }}
          </div>

        {{else if (eq f.currentStepIndex 1)}}

          {{challenge-editor challenge=challenge}}

        {{else}}

          <div class="form-group">
            {{f.imageUpload
              label="Add your cover art"
              property="cover"
            }}
          </div>
          <div class="form-group">
            {{f.input
              label="What is the current word count?"
              property="wordCount"
            }}
          </div>
          <div class="form-group">
            {{f.multiselect
              createOptionModel="genre"
              label="What is/are the genre(s)?"
              options=optionsForGenres
              property="genres"
              searchField="name"
              searchEnabled=true
            }}
          </div>
          <div class="form-group">
            {{f.textarea
              label="Add a project summary"
              property="summary"
            }}
          </div>
          <div class="form-group">
            {{f.textarea
              label="Add an excerpt"
              property="excerpt"
            }}
          </div>
          <div class="form-group">
            {{f.input
              label="What is the project's Pinterest?"
              placeholder="https://"
              property="pinterestUrl"
            }}
          </div>
          <div class="form-group">
            {{f.input
              label="What is the project's playlist?"
              placeholder="https://"
              property="playlistUrl"
            }}
          </div>
          <div class="form-group">
            {{f.checkbox
              label="Make this my primary project"
              property="primary"
            }}
          </div>

        {{/if}}

      </div>

    {{/modal.body}}
    {{#modal.footer}}

      <input type="submit" class="nano-button" value={{if f.isLastStep "Save Project" (if (eq f.currentStepIndex 0) "On To Your Goal" "On To Details")}} data-test-project-submit />
      <input type="button" class="nano-button btn-underlined" value="Cancel" {{action modal.close}} data-test-project-cancel />

    {{/modal.footer}}
  {{/form-for}}
{{/bs-modal}}
