{{#form-for
  data-test-project-form=true
  afterSubmit=modal.close
  model=projectChallenge
  as |c|
}}
  <div class="form-group">
    {{c.input
      label="Goal name"
      property="name"
      isDisabled=disableName
      changeset=changeset
    }}
  </div>
  <div class="form-group">
    {{c.select
      changeset=changeset
      label=goalTypeLabel
      options=optionsForWritingType
      property="WritingType"
      isDisabled=disableWritingType
    }}
  </div>
  <div class="side-by-side">
    <div class="form-group side-by-side-even">
      {{c.input
        changeset=changeset
        label=goalCountLabel
        property="goal"
        type='number'
        isDisabled=disableDefaultGoal
        min=1
      }}
    </div>
    <div class="form-group side-by-side-even">
      {{c.select
        changeset=changeset
        label=""
        options=optionsForUnitType
        property="unitType"
        isDisabled=disableUnitType
      }}
    </div>
  </div>
  <div class="side-by-side">
    <div class="form-group side-by-side-even">

      <label for='start-date' class='form-group'>{{startLabel}}</label>
      <input name='start-date' type='date' class='form-control'
        oninput={{action "startsAtChanged" value="target.value"}} 
        value={{displayStartsAt}}
        disabled={{disableStartEnd}}
        min='1999-07-01'>
      {{c.hidden-input
        changeset=changeset
        property="startsAt"
      }}
      
    </div>
    <div class="form-group side-by-side-even">
      <label for='challenge-last-day'>{{durationLabel}}</label>
      <input name='challenge-last-day' type='date' class='form-control'
        oninput={{action "endsAtChanged" value="target.value"}} 
        value={{displayEndsAt}}
        disabled={{disableStartEnd}}
        min='1999-07-01'>
     
      {{c.hidden-input
        changeset=changeset
        property="endsAt"
      }}
    </div>
  </div>
  {{#if endsBeforeStarts}}
      <div class='text-danger'>Goal can not end before it starts.</div>
  {{/if}}    
  {{!--
  <div class="side-by-side">
    <div class="form-group side-by-side-even">
      {{c.input
        changeset=changeset
        label="Count at start"
        property="startCount"
        type='number'
        min=0
      }}
    </div>
    {{#if pastTense}}
      <div class="form-group side-by-side-even">
        {{c.input
          changeset=changeset
          label="Count at end"
          property="currentCount"
          type='number'
          min=0
        }}
      </div>
    {{/if}}
  </div>
  --}}
  
  {{#if (and pastTense metGoal)}}
    <div class="side-by-side {{winDateClass}}">
      <div class="form-group side-by-side-even">

        <label for='win-date' class='form-group'>When did you win?</label>
        <input name='win-date' type='date' class='form-control'
          value={{displayWinAt}}>
        
        {{c.hidden-input
          changeset=changeset
          property="winAt"
        }}
      
      </div>
      <div class="form-group side-by-side-even">
      </div>
    </div>
  {{/if}}
{{/form-for}}
