<div class='nw-flippy-wrapper'>
  <div class='nw-card nw-card-white nw-card-face-back'>
    <div class='nw-card-header'>
      <div class='nw-card-actions'>
        <div class='nw-card-model-actions'>
          <div class="nw-flippy-card-toggle" {{action "toggleSubcard"}}>
            <div>{{fa-icon "repeat"}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class='nw-card-content'>
      <div id='project-information' >
        <div id='project-title'>{{project.title}}</div>
        <div id='project-summary-label'>Summary</div>
        <div id='project-summary'>
          {{{newline-to-br project.summary}}}
        </div>
        <div id='genres-and-links'>
          <div id='genres-label'>Genres</div>
          <div id='genres-list'>
            {{#each project.genres as |genre|}}
              <span class='genre'>{{genre.name}}</span>
            {{/each}}
          </div>
          <hr>
          <div id='external-links'>
            {{#if project.playlistUrl}}
              <span class='external-link'>
                <a href='{{project.playlistUrl}}' target='_blank'>
                  <i class="fa fa-music" aria-hidden="true"></i>
                  Listen to the soundtrack
                </a>
              </span>
            {{/if}}
            {{#if project.pinterestUrl}}
              <span class='external-link'>
                <a href='{{project.pinterestUrl}}' target='_blank'>
                  <i class="fa fa-pinterest" aria-hidden="true"></i>
                  View the inspiration
                </a>
              </span>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='nw-card nw-card-white nw-card-face-front'>
    <div class='nw-card-header'>
      <div class='nw-card-actions'>
        <div class='nw-card-model-actions'>
          <div class="nw-flippy-card-toggle" {{action "toggleSubcard"}}>
            <div>{{fa-icon "repeat"}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class='nw-card-content nw-centered'>
      <div id='project-cover-large'>
        <img src={{project.coverUrl}}>
      </div>
    </div>
  </div>
</div>
