{{#if isChallengeYourself}}
  <button style="margin-left: 20px;" {{action "openNewSimpleAddProjectModal"}}>Start new project!</button>
  {{#if hasInactiveProjects}}
    <button style="margin-left: 20px; margin-top: 10px; height: 56px;" {{action "openNewSimpleExtendProjectModal"}}>Set new goal for existing project!</button>
  {{/if}}
{{/if}}
{{#if isEventHub}}
  <button {{action "openNewSimpleAddProjectModal"}}>
    Join with a new {{projectDescription}}
  </button>
  {{#if hasInactiveProjects}}
    <button {{action "openNewSimpleExtendProjectModal"}}>
      Join with an existing {{projectDescription}}
    </button>
  {{/if}}
{{/if}}
{{#if addSimpleProject}}
  {{project-new-simple-modal
    onHidden=(action "afterSimpleProjectModalClose")
    open=addSimpleProject
    user=currentUser.user
    newProject=newProject
    challenge=challenge
    projectDescription=projectDescription
  }}
{{/if}}
