<div class="nw-card nano-listing-mini-card project-summary-card">
  <div class='nw-card-header nw-card-header-no-height'>
    <div class='nw-card-actions'>
      {{#if canEdit}}
      <a href="#" {{action "editProject" }}>
        <i class="fa fa-gear"></i>
      </a>
      {{/if}}
    </div>
  </div>
  <div class="nw-card-content no-padding">
    <div class="nw-project-container">
      <div class="nw-project">
        <div class='nw-project-cover'>
          <div class='nw-project-cover-clip'>
            <img src="{{project.coverUrl}}" alt="">
          </div>
        </div>
        <div class='nw-project-name-genres'>
          <div class='nw-title'>
            {{#link-to 'authenticated.users.show.projects.show' project.computedAuthor.slug project.slug}}
            {{project.title}}
            {{/link-to}}
          </div>
          <div class='nw-project-genres'>
            {{project.concatGenres}}
          </div>
        </div>
      </div>
      <div class="nw-project-progress">
        {{#if project.futureProjectChallenge }}
        {{else}}
        {{#link-to 'authenticated.users.show.projects.show.goals' project.computedAuthor.slug project.slug (query-params
        addGoal="true") }}
        <button class='nano-button-small'>Create a New Goal</button>
        {{/link-to}}
        {{#if project.hasProjectChallenges}}
        <hr />
        {{/if}}
        {{/if}}
        {{#if project.hasProjectChallenges}}
        {{project-list-progress project=project}}
        {{/if}}
      </div>
    </div>
    <div class='nw-card-flippy-doodle'>
      <img src="{{project.flippyDoodlePath}}">
    </div>
    {{project-edit-modal project=project open=editProject}}
    {{confirmation-modal
    doubleCheck="I'm sure I want to delete this writing project, and I understand that deletions can't be undone."
    yes=deleteConfirmationYesText
    no=deleteConfirmationNoText
    title=deleteConfirmationTitleText
    question=deleteConfirmationQuestion
    questionAddendum = "Deleting this writing project will also delete all associated goals and writing progress. A
    warning: project deletion can't be undone. NaNoWriMo has no way of retrieving deleted projects."
    open=showConfirmDelete
    yesAction=(action "deleteConfirmationYes")
    noAction=(action "deleteConfirmationNo")
    }}
  </div>
</div>