<div class="nano-card nano-listing-mini-card project-listing-card">
  <div class="nano-subcard">
    <div class="nano-subcard-face face-front filled-grey">
      <div class='top-right'>
        {{#if project.isPrimary}}
          <i class='fa fa-thumb-tack primary-thumb-tack'></i>
        {{/if}}
        {{#if canEdit}}
          <span class='listing-action-dropdown'>
          {{#bs-dropdown as |dd|}}
            {{#dd.toggle}}<span class="caret"></span>{{/dd.toggle}}
            {{#dd.menu align='right' as |menu|}}
              {{#menu.item}}
                <a href="#" {{action "editProject"}}>
                  <div class='full-width-menu-item'>Edit Project</div>
                </a>
              {{/menu.item}}
               {{menu.divider}}
              {{#menu.item}}
                <a href="#" {{action "updateCover"}}>
                  <div class='full-width-menu-item'>Update Cover</div>
                </a>
              {{/menu.item}}
               {{menu.divider}}
              {{#menu.item}}
                <a href="#" {{action "viewGoals"}}>
                  <div class='full-width-menu-item'>View Project Goals</div>
                </a>
              {{/menu.item}}
               {{menu.divider}}
              {{#menu.item}}
                <a href="#" {{action "confirmDelete"}}>
                  <div class='full-width-menu-item'>Delete</div>
                </a>
              {{/menu.item}}
            {{/dd.menu}}
          {{/bs-dropdown}}
          </span>
        {{/if}}
      </div>
      <div class='flex-container'>
        <div class='project-cover' >

          <div class='project-cover-clip {{if canEdit "user-editable" ""}}'>
            <img src="{{project.coverUrl}}">
            <div class="listing-cover-overlay image-editable-overlay" {{action (if canEdit "openCoverModal" 'doNothing')}}>{{fa-icon 'edit'}}</div>
          </div>


        </div>
        <div class='project-name-genres'>
          <div class='project-title primary-text'>
          {{#link-to 'authenticated.users.show.projects.show' project.slug}}
            {{project.title}}
          {{/link-to}}
          </div>
          <div class='project-genres'>
            {{project.concatGenres}}
          </div>
        </div>
        
        {{#if project.hasProjectChallenges}} 
          {{project-list-progress project=project}}
        {{else}}
          <!-- [create challenge] -->
        {{/if}}
        
        {{project-edit-cover-modal
          onHidden=(action "afterCoverModalClose")
          open=editCover
          project=project
          tab=editCoverTab
        }}
        
        <div class='project-status'>
          <img src="{{project.flippyDoodlePath}}">
        </div>
        
      </div>
    </div>
  </div>
  {{project-edit-modal project=project open=editProject}}
  {{confirmation-modal
    yes=deleteConfirmationYesText 
    no=deleteConfirmationNoText 
    title=deleteConfirmationTitleText
    question=deleteConfirmationQuestion
    questionAddendum = deleteConfirmationQuestionAddendum
    open=showConfirmDelete
    yesAction=(action "deleteConfirmationYes")
    noAction=(action "deleteConfirmationNo")
    }}
</div>
