<div class="nw-card nano-listing-mini-card project-listing-card">
  <div class='nw-card-header nw-card-header-no-height'>
    <div class='nw-card-actions'>
      {{#if project.isPrimary}}
        <i class='fa fa-thumb-tack primary-thumb-tack'></i>
      {{/if}}
      {{#if canEdit}}
        <span class='nw-listing-action-dropdown'>
        {{#bs-dropdown as |dd|}}
          {{#dd.toggle}}<span class="caret"></span>{{/dd.toggle}}
          {{#dd.menu align='right' as |menu|}}
            {{#menu.item}}
              <a href="#" {{action "editProject"}}>
                <div class='full-width-menu-item'>Edit Project</div>
              </a>
            {{/menu.item}}
             {{menu.divider}}
            {{#menu.item}}
              <a href="#" {{action "updateCover"}}>
                <div class='full-width-menu-item'>Update Cover</div>
              </a>
            {{/menu.item}}
             {{menu.divider}}
            {{#menu.item}}
              <a href="#" {{action "viewGoals"}}>
                <div class='full-width-menu-item'>View Project Goals</div>
              </a>
            {{/menu.item}}
             {{menu.divider}}
            {{#menu.item}}
              <a href="#" {{action "confirmDelete"}}>
                <div class='full-width-menu-item'>Delete</div>
              </a>
            {{/menu.item}}
          {{/dd.menu}}
        {{/bs-dropdown}}
        </span>
      {{/if}}
    </div>
  </div>
  <div class="nw-card-content no-padding nw-horiz-flex">
    <div class="nw-project">
      <div class='nw-project-cover' >
        <div class='nw-project-cover-clip {{if canEdit "user-editable" ""}}'>
          <img src="{{project.coverUrl}}">
          <div class="nw-listing-cover-overlay nw-image-editable-overlay" {{action (if canEdit "openCoverModal" 'doNothing')}}>{{fa-icon 'edit'}}</div>
        </div>
        {{project-edit-cover-modal
          onHidden=(action "afterCoverModalClose")
          open=editCover
          project=project
          tab=editCoverTab
        }}
        
      </div>
      <div class='nw-project-name-genres'>
        <div class='nw-project-title nw-card-headline'>
        {{#link-to 'authenticated.users.show.projects.show' project.slug}}
          {{project.title}}
        {{/link-to}}
        </div>
        <div class='nw-project-genres'>
          {{project.concatGenres}}
        </div>
      </div>
    </div>
    {{#if project.hasProjectChallenges}} 
      {{project-list-progress project=project}}
    {{else}}
      <!-- [create challenge] -->
    {{/if}}
  
  
  </div>
  <div class='nw-card-flippy-doodle'>
    <img src="{{project.flippyDoodlePath}}">
  </div>
  {{project-edit-modal project=project open=editProject}}
  {{confirmation-modal
    yes=deleteConfirmationYesText 
    no=deleteConfirmationNoText 
    title=deleteConfirmationTitleText
    question=deleteConfirmationQuestion
    questionAddendum = deleteConfirmationQuestionAddendum
    open=showConfirmDelete
    yesAction=(action "deleteConfirmationYes")
    noAction=(action "deleteConfirmationNo")
    }}
</div>
