{{#form-for
  data-test-project-form=true
  afterSubmit=modal.close
  model=projectChallenge
  as |c|
}}
  <div class="form-group">
    <label for='goal-name' class='form-group'>Goal Name</label>
    <input id="goal-name" name='goal-name' class='form-control'
      oninput={{action "goalNameChanged" value="target.value"}} 
      value={{displayGoalName}}
      disabled={{disableName}} />
    {{c.hidden_input
      label="Goal name"
      property="name"
      changeset=changeset
    }}
  </div>
  <div class="form-group">
    <label for='writingType'>What type of goal is this?</label>
    <div class="select-container">
      <select id='writingType' name='writingType' disabled={{if disableWritingType 'disabled' ''}}
        class='form-control' 
        onchange={{action 'writingTypeChanged' value="target.value"}}>
        {{#each optionsForWritingType as |opt|}}
          <option value={{opt.value}} selected={{if (eq opt.value associatedChallenge.unitTypeAsString) 'true'}} >
            {{opt.name}}
          </option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="form-group side-by-side">
    <div>
      <label for='goal' class='form-group'>{{goalCountLabel}}</label>
      <input id="goal" name='goal' type='number' class='form-control'
        oninput={{action "goalChanged" value="target.value"}} 
        value={{displayGoal}}
        disabled={{disableDefaultGoal}}
        min='1999-07-01'>
      {{c.hidden_input
        changeset=changeset
        label=goalCountLabel
        property="goal"
        type='number'
      }}
    </div>
    <!--
    <div>
      {{c.select
        changeset=changeset
        label=""
        options=optionsForUnitType
        property="unitType"
        isDisabled=disableUnitType
      }}
    </div>
    //-->
  </div>
  <div class="form-group side-by-side">
    <div>

      <label for='start-date' class='form-group'>{{startLabel}}</label>
      <input id="start-date" name='start-date' type='date' class='form-control'
        oninput={{action "startsAtChanged" value="target.value"}} 
        value={{displayStartsAt}}
        disabled={{disableStartEnd}}
        min='1999-07-01'>
      {{c.hidden-input
        changeset=changeset
        property="startsAt"
      }}
      
    </div>
    <div>
      <label for='challenge-last-day'>{{durationLabel}}</label>
      <input id="challenge-last-day" name='challenge-last-day' type='date' class='form-control'
        oninput={{action "endsAtChanged" value="target.value"}} 
        value={{displayEndsAt}}
        disabled={{disableStartEnd}}
        min='1999-07-01'>
     
      {{c.hidden-input
        changeset=changeset
        property="endsAt"
      }}
    </div>
  </div>
  {{#if endsBeforeStarts}}
      <div class='text-danger'>Goal can not end before it starts.</div>
  {{/if}}    
  {{!--
  <div class="side-by-side">
    <div class="form-group side-by-side-even">
      {{c.input
        changeset=changeset
        label="Count at start"
        property="startCount"
        type='number'
        min=0
      }}
    </div>
    {{#if pastTense}}
      <div class="form-group side-by-side-even">
        {{c.input
          changeset=changeset
          label="Count at end"
          property="currentCount"
          type='number'
          min=0
        }}
      </div>
    {{/if}}
  </div>
  --}}
  
  {{#if (and pastTense metGoal)}}
    <div class="side-by-side {{winDateClass}}">
      <div class="form-group side-by-side-even">

        <label for='win-date' class='form-group'>When did you win?</label>
        <input name='win-date' type='date' class='form-control'
          value={{displayWinAt}}>
        
        {{c.hidden-input
          changeset=changeset
          property="winAt"
        }}
      
      </div>
      <div class="form-group side-by-side-even">
      </div>
    </div>
  {{/if}}
{{/form-for}}
