{{#form-for
  data-test-project-form=true
  afterSubmit=modal.close
  model=projectChallenge
  as |c|
}}
  <div class="form-group">
    {{c.select
      changeset=changeset
      label="What type of goal is this?"
      options=optionsForWritingType
      property="WritingType"
      isDisabled=disableWritingType
    }}
  </div>
  <div class="side-by-side">
    <div class="form-group side-by-side-even">
      {{c.input
        changeset=changeset
        label="What is your goal?"
        property="goal"
        type='number'
        isDisabled=disableDefaultGoal
        min=1
        
      }}
    </div>
    <div class="form-group side-by-side-even">
      {{c.select
        changeset=changeset
        label=""
        options=optionsForUnitType
        property="unitType"
        isDisabled=disableUnitType
      }}
    </div>
  </div>
  <div class="side-by-side">
    <div class="form-group side-by-side-even">

      <label for='start-date' class='form-group'>When do you start?</label>
      <input name='start-date' type='date' class='form-control'
        oninput={{action "startsAtChanged" value="target.value"}} 
        value={{displayStartsAt}}
        disabled={{disableStartEnd}}>
        
      {{c.hidden-input
        changeset=changeset
        property="startsAt"
      }}
      
    </div>
    <div class="form-group side-by-side-even">
      <label for='challenge-duration'>Duration in days</label>
      <input type='number' min='1' max='31' value={{newDuration}}
        class='form-control' 
        oninput={{action "durationChanged" value="target.value"}}
        disabled={{disableStartEnd}}
        >
      
      {{c.hidden-input
        changeset=changeset
        property="endsAt"
      }}
    </div>
  </div>
{{/form-for}}
