{{#if (eq showConfirmDelete false)}}
  {{#bs-modal
    open=open
    onShow=(action "onShow")
    onHidden=(action "onHidden")
    as |modal|
  }}
    {{#modal.header closeButton=false}}
      {{#if isEditingModal }}
        Edit Goal
      {{else}}
        New Goal
      {{/if}}
    {{/modal.header}}
    <form {{action "saveProjectChallenge" on="submit"}}>
    {{#modal.body}}
      <div class="project-challenge-new-form">
      {{#if isEventListAllowed }}
        {{#if optionsForChallenges}}
          <div class="form-group">
            {{input class= 'form-control' 
              id='associateCheckbox'
              name='associateCheckbox'
              type="checkbox"
              checked=associateWithChallenge
              change=(action "clickedAssociateCheckbox")
            }}
            <label for='associateCheckbox'>Associate with a NaNoWriMo event (optional)</label>
          </div>
          <div class="form-group {{hideClass}}">
            <label for="associateSelect">NaNoWriMo Event</label>
            <div class="select-container">
              <select id='associateSelect' class='form-control' onchange={{action "associateChallengeSelect" value="target.value"}}>
                {{#each optionsForChallenges as |c|}}
                  <option value="{{c.id}}" selected={{if (eq c.id associatedChallenge.id) 'true'}}>{{c.name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
    
        {{/if}}          
      {{else}}
        <div class="form-group">
          {{#if associateWithChallenge}}
            <i>The name of this goal may not be changed because it is associated with an official NaNoWriMo event.</i>
          {{else}}
            <i>This is a personal writing goal that is not associated with an official NaNoWriMo event.</i>
          {{/if}}
        </div>
      {{/if}}          
      <div class="form-group">
        <label for="goal-name">Goal name
          {{input
            name="name" 
            id="goal-name"
            disabled=disableName
            value=displayName
            class='form-control'
          }}
          </label>
        </div>
        <div class="form-group">
          <label for='writingType'>What type of goal is this?</label>
          <div class="select-container">
            <select id='writingType' name='writingType' disabled={{if disableWritingType 'disabled' ''}}
              class='form-control' 
              onchange={{action 'writingTypeChanged' value="target.value"}}>
              {{#each optionsForWritingType as |opt|}}
                <option value={{opt.value}} selected={{if (eq opt.value writingType) 'true'}} >
                  {{opt.name}}
                </option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="form-group side-by-side">
          <div>
            <label for='goal'>What is your word-count goal?</label>
            <input class='form-control' id='goal' name='goal' min='1' type='number' onChange={{action "goalChange" value='target.value'}} value={{projectChallenge.goal}}  disabled={{if disableGoal 'disabled' ''}}/>
         
          </div>
          <!--
          <div style='padding-left: 10px'> 
            <label for='unitType'></label>
            <div class="select-container">
              <select id='unitType' name='unitType' disabled={{if disableWritingType 'disabled' ''}}
                class='form-control' 
                onchange={{action 'unitTypeChanged' value="target.value"}}>
                {{#each optionsForUnitType as |opt|}}
                  <option value={{opt.value}}>
                    {{opt.name}}
                  </option>
                {{/each}}
              </select>
            </div>
          </div>
          //-->
        </div>
        <div class="side-by-side">
          <div class="form-group side-by-side-even">

            <label for="start-date" class='form-group'>What's your start date?
            <input id="start-date" name='start-date' type='date' class='form-control {{if validationErrors.badStart 'is-invalid' ''}}'
              oninput={{action "startsAtChanged" value="target.value"}} 
              value={{displayStartsAt}}
              disabled={{disableStart}}
              min='1999-07-01'>
              </label>
            {{#if validationErrors.startOverlap}}
              <span class='invalid-feedback'>a goal can't start before another goal ends</span>
            {{/if}}
          </div>
          <div class="form-group side-by-side-even">
        
            <label for="challenge-last-day" >When is the last day of writing?
            <input id='challenge-last-day'name='challenge-last-day' type='date' class='form-control'
              oninput={{action "endsAtChanged" value="target.value"}} 
              value={{displayEndsAt}}
              disabled={{disableStartEnd}}
              min={{endDateMin}}>
            </label>
            
               {{#if validationErrors.endOverlap}}
              <span class='invalid-feedback'>a goal can't end after another goal has started</span>
            {{/if}}
          </div>
          {{#if validationErrors.fullOverlap}}
            <span class='text-danger'>a goal can not take place within another goal</span>
          {{/if}}
          {{#if validationErrors.endsBeforeStart}}
            <span class='text-danger'>a goal can not end before it starts</span>
          {{/if}}
        </div>
      
        {{!--
        <div class="side-by-side">
          <div class="form-group side-by-side-even">
            {{input
              label="Count at start"
              property="startCount"
              type='number'
              min=0
            }}
          </div>
          {{#if pastTense}}
            <div class="form-group side-by-side-even">
              {{input
                label="Count at end"
                property="currentCount"
                type='number'
                min=0
              }}
            </div>
          {{/if}}
        </div>
        --}}
      
        {{#if (and pastTense metGoal)}}
          <div class="side-by-side {{winDateClass}}">
            <div class="form-group side-by-side-even">

              <label for='win-date' class='form-group'>When did you win?</label>
              <input name='win-date' type='date' class='form-control'
                value={{displayWinAt}}>
            
            </div>
            <div class="form-group side-by-side-even">
            </div>
          </div>
        {{/if}}

    </div>
    {{/modal.body}}

    {{#modal.footer}}
      <input disabled={{hasValidationError}} type="submit" class="nano-button" value='Save Goal' />
      <input type="button" class="nano-button btn-underlined" value="Cancel" {{action "closeModal"}}/>
      {{#if isEditingModal }}
        <div style="flex: 0 0 100%; margin-top: 10px;">
          <a href="#" {{action "confirmDelete"}}>
            <div class='full-width-menu-item'><i class="fa fa-trash"></i> Delete This Goal</div>
          </a>
        </div>
      {{/if}}
    {{/modal.footer}}
    </form>
  {{/bs-modal}}
{{else}}
  {{confirmation-modal
    yes=deleteConfirmationYesText 
    no=deleteConfirmationNoText 
    title=deleteConfirmationTitleText
    question=deleteConfirmationQuestion 
    open=showConfirmDelete
    yesAction=(action "deleteConfirmationYes")
    noAction=(action "deleteConfirmationNo")
    }}
{{/if}}
