<div class='goal-text'>
  <a href="#" {{action "viewGoals"}}>
    <span class='goal'>
      {{project.currentProjectChallenge.name}}: 
    </span>
    <span class=''>{{writingTypeString}} {{format-number project.currentProjectChallenge.goal}} words {{{goalIcon}}}</span>
  </a>

  {{#if winnerRoute }}
    <span class='winner-route'>
      {{#link-to winnerRoute}}<img src='/images/cards/golden-trophy.svg' alt="" /> Winner{{/link-to}}
    </span>
  {{/if}}
</div>

{{nano-progress-bar percent=percentCompleted}}
<div class="left-right-links">
  <div class='progress-text'>
    <span class="count {{if goalMet 'goal-met' ''}}">{{format-number project.currentProjectChallenge.count}}</span>
    <span class='goal'> / {{format-number project.currentProjectChallenge.goal}} WORDS </span>
    {{#if (eq project.user.id currentUser.user.id)}}
      {{#if project.currentProjectChallenge.isActive}}
        <button class='nano-button-small' {{action 'toggleProgressUpdater'}}>Update</button>
      {{/if}}
    {{/if}}
  </div>
  <div class='challenge-start'>
    <span class="started">{{formattedLabel}}</span>
    <span class="date">{{formattedStart}}</span>
  </div>
</div>
