<div class='project-progress'>
  <div class='goal-text'>
    <span class='goal'>Goal: </span>
    <span class=''>Write {{formattedGoal}} words</span>
  </div>
  
    {{nano-progress-bar percent=percentCompleted}}
    
  <div class='progress-text'>
    <span class="count {{if goalMet 'goal-met' ''}}">{{formattedWordcount}}</span><span class='goal'>/{{formattedGoal}} WORDS</span>
  </div>
  
</div>
