<div class='goal-text'>
  <span class='goal'>Goal: </span>
  <span class=''>{{writingTypeString}} {{format-number project.currentProjectChallenge.goal}} words {{{goalIcon}}}</span>
</div>

{{nano-progress-bar percent=percentCompleted}}
<div class="left-right-links">
  <div class='progress-text'>
    <span class="count {{if goalMet 'goal-met' ''}}">{{format-number project.currentProjectChallenge.count}}</span>
    <span class='goal'> / {{format-number project.currentProjectChallenge.goal}} WORDS </span>
    {{#if project.currentProjectChallenge.isActive}}
      <button class='nano-button-small' {{action 'toggleProgressUpdater'}}>Update</button>
    {{/if}}
  </div>
  <div class='challenge-start'>
    <span class="started">{{formattedLabel}}</span>
    <span class="date">{{formattedStart}}</span>
  </div>
</div>
