{{#bs-modal
  open=open
  onShow=(action "onShow")
  onHidden=(action "onHidden")
  as |modal|
}}
  {{#modal.header closeButton=false}}
    {{headerText}}
  {{/modal.header}}
  <form
    onSubmit={{action "submitForm"}}
  >
    {{#modal.body}}
      <div class="tab-content">
        {{#if newProject }}
          <div class="form-group form-group-ux" style="display: flex;">
            <div class="fa-container">
              <i class="fa fa-book fa-3x" aria-hidden="true"></i>
            </div>
            <div class="input-ux">
              <label for='new-title' class='form-group'>What is the title of your new novel/writing project?</label>
              <input
                id="new-title"
                class='form-control'
                oninput={{action "titleChanged" value="target.value"}} 
                autofocus
              />
            </div>
          </div>
        {{else}}
          <div class="form-group form-group-ux" style="display: flex;">
            <div class="fa-container">
              <i class="fa fa-book fa-3x" aria-hidden="true"></i>
            </div>
            <div class="input-ux">
              <label for='goal-name' class='form-group'>Which writing project would you like to use?</label>
              <div class="select-container">
                <select
                  id='associateSelect'
                  class='form-control'
                  autofocus
                  onchange={{action "projectSelect" value="target.value"}}
                >
                  {{#each optionsForProjects as |c|}}
                    <option value="{{c.id}}">{{c.title}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
          </div>
        {{/if}}
        {{#if isPersonal }}
          <div class="form-group form-group-ux" style="display: flex;">
            <div class="fa-container">
              <i class="fa fa-list-ul fa-2x" aria-hidden="true"></i>
            </div>
            <div class="input-ux">
              <label for='goal-name' class='form-group'>Give your personal challenge a name</label>
              <input
                id="goal-name"
                class='form-control'
                oninput={{action "challengeNameChanged" value="target.value"}} 
              />
            </div>
          </div>
        {{/if}}
        {{#if isFlexible }}
          <div class="form-group form-group-ux" style="display: flex;">
            <div class="fa-container">
              <i class="fa fa-line-chart fa-2x" aria-hidden="true"></i>
            </div>
            <div class="input-ux">
              <label for='goal'>What is your word-count goal?</label>
              <input
                class='form-control'
                id='goal'
                min='1'
                type='number'
                oninput={{action "goalChanged" value="target.value"}} 
              />
            </div>   
          </div>
        {{/if}}
        {{#if isPersonal }}
          <div class="form-group form-group-ux" style="display: flex;">
            <div class="fa-container">
              <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
            </div>
            <div class="input-ux">
              <div class="form-group side-by-side" style="margin-bottom: 0px;">
                <div>
                  <label for='start-date' class='form-group'>{{startLabel}}</label>
                  <input
                    id="start-date"
                    type='date'
                    class='form-control'
                    oninput={{action "startsAtChanged" value="target.value"}} 
                    min='1999-07-01'
                  >
                </div>
                <div>
                  <label for='challenge-last-day'>{{durationLabel}}</label>
                  <input
                    id="challenge-last-day"
                    type='date'
                    class='form-control'
                    oninput={{action "endsAtChanged" value="target.value"}} 
                    min='1999-07-01'
                  >
                </div>
              </div>
              {{#if invalidDates}}
                <div class='text-danger'>The goal cannot end before it starts.</div>
              {{/if}}    
            </div>
          </div>
        {{/if}}
      </div>
    {{/modal.body}}
    {{#modal.footer}}
      <input disabled={{disableButton}} type="submit" class="nano-button" style="margin-left: 50px;" value="Save" data-test-project-submit />
      <input type="button" class="nano-button btn-underlined" value="Cancel" {{action modal.close}} data-test-project-cancel />
    {{/modal.footer}}
  </form>
{{/bs-modal}}
