<div class="nw-card g3-col2 g3-row1 g3-hspan2 g3-vspan3 g2-col2 g2-row1 g2-hspan1 g2-vspan3">
  <div class="nw-card-content no-padding">
    {{#g-map lat=center_latitude lng=center_longitude zoom=mapZoom as |context|}}
      {{#each sortedRegions as |region index|}}
        {{g-map-marker context lat=region.groupObject.latitude lng=region.groupObject.longitude}}
      {{/each}}
    {{/g-map}}
  </div>
</div>
<div class="nw-card g3-col1 g3-row1 g3-hspan1 g3-vspan1 g2-col1 g2-row1 g2-hspan1 g2-vspan1">
  <div class="nw-card-header">
    <div class="nw-card-title">My Regions</div>
  </div>
  <div class="nw-card-content no-padding">
    <div class="nano-list-message {{userHasNoRegions}}">
      You haven't joined a region! Please select one of the regions from the list below.
      <br />
      
    </div>
    <ul class="nw-list" style="max-height: 300px;">
      {{#each userRegions as |regionContainer index|}}
        {{group-list-item groupContainer=regionContainer listOrder=index limitList=limitList sortBySearch='name' leavable=true}}
      {{/each}}
    </ul>
  </div>
</div>
<div class="nw-card g3-col1 g3-row2 g3-hspan1 g3-vspan2 g2-col1 g2-row1 g2-hspan1 g2-vspan2 wrap-content">
  <div class="nw-card-header">
    <div class="nw-card-title">Find a Region</div>
    <div class="nw-card-actions nw-card-actions-left">
      {{#bs-button-group value=primaryDisplay type="radio" onChange=(action (mut primaryDisplay)) as |bg|}}
        {{#bg.button type="default" value=true}}{{fa-icon "search"}}{{/bg.button}}
        {{#bg.button type="default" value=false}}{{fa-icon "map-marker"}}{{/bg.button}}
      {{/bs-button-group}}
      
    </div>
  </div>
  <div class="nw-card-content no-padding">
    <div class="nano-list-message {{processingShow}}">
      Determining location...
    </div>
    <div class="nano-list-search {{proximityHide}}">
      {{input class="nano-list-search-field" placeholder="Search region names..." value=tempSearchString key-up=(action "searchStringChange")}}
    </div>
    
    
    <ul class="nw-list {{processingHide}}" style="height: 700px; ">
      {{#each sortedRegions as |regionContainer index|}}
        {{group-list-item groupContainer=regionContainer listOrder=index limitList=limitList sortBySearch='name' joinable=true}}
      {{/each}}
    </ul>
  </div>
</div>
