<div class="nano-card g3-col1 g3-row1 g3-hspan1 g3-vspan2 g2-col1 g2-row1 g2-hspan1 g2-vspan2 wrap-content">
  <div class="nano-subcard">
    <div class="nano-subcard-face face-front filled-grey">
      <div class="nano-subcard-header">
        <div class="corner-label">My Regions</div>
      </div>
      <div class="nano-subcard-content no-padding" style="max-height: 300px;">
        <div class="nano-list-message">
          You haven't joined a region! Please select one of the regions from the list below.
          <br />
          
        </div>
        
        <ul class="nano-list">
        </ul>
      </div>
    </div>
  </div>
  <div class="nano-subcard">
    <div class="nano-subcard-face face-front filled-grey">
      <div class="nano-subcard-header">
        <div class="corner-label">Find a Region</div>
        <div class="nano-subcard-tab {{searchTab}}" {{action 'findByString'}}>
          Search
        </div>
        <div class="nano-subcard-tab {{proximityTab}}" {{action 'getUserLocation'}}>
          Nearest to me
        </div>
      </div>
      <div class="nano-subcard-content no-padding">
        <div class="nano-list-message {{processingShow}}">
          Thanks for your patience while we determine your location...
        </div>
        <div class="nano-list-search {{proximityHide}}">
          {{input class="nano-list-search-field" placeholder="Search region names..." value=tempSearchString key-up="searchStringChange"}}
        </div>
        <ul class="nano-list {{processingHide}}" style="height: 700px; ">
          {{#each sortedRegions as |region index|}}
            {{#link-to "authenticated.regions.show" region.regionObject.slug tagName="li" class="nano-list-item"}}
              {{#if (lt index limitList)}}
                <div class="nano-list-icon icon-highlighted">
                  {{fa-icon "map-marker"}}
                </div>
              {{else}}
                <div class="nano-list-icon">
                  {{fa-icon "map-marker"}}
                </div>
              {{/if}}
              <div class="nano-list-item-content">
                <div class="nano-list-item-title">
                  {{region.regionObject.name}}
                </div>
                <div class="nano-list-item-subcontent">
                  <div class="nano-list-item-info">
                    {{#if sortBySearch}}
                      {{format-number region.regionObject.numberOfUsers}} members
                    {{/if}}
                    {{#unless sortBySearch}}
                      {{format-number region.proximity}} miles
                    {{/unless}}
                  </div>
                  <div class="nano-list-item-buttons">
                    <button class="button-reversed nano-button-small">Join</button>
                  </div>
                </div>
              </div>
            {{/link-to}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="nano-card g3-col2 g3-row1 g3-hspan2 g3-vspan2 g2-col2 g2-row1 g2-hspan1 g2-vspan2">
  <div class="nano-subcard">
    <div class="nano-subcard-face face-front">
      <div class="nano-subcard-content no-padding">
        {{#g-map lat=center_latitude lng=center_longitude zoom=mapZoom as |context|}}
          {{#each sortedRegions as |region index|}}
             {{#if (lt index limitList)}}
               {{g-map-marker context lat=region.regionObject.latitude lng=region.regionObject.longitude}}
             {{/if}}
          {{/each}}
        {{/g-map}}
      </div>
    </div>
  </div>
</div>
