<div class="nw-panel-primary-container">
  {{search-field size='big' q=q}}
</div>
<div class="nw-panel-secondary-container">
  {{#if (eq currentPanel "writers")}}
    <div class="nw-panel-secondary nw-panel-flex">
      {{#if searchResults.data}}
        {{#each searchResults.data as |u|}}
          {{user-card user=u.attributes}}
        {{/each}}
      {{/if}}
    </div>
  {{/if}}
  <ul class="nw-panel-tabs">
    <li><a id="writers" onclick={{action 'switchSection' val='writers'}} class={{if (eq currentPanel "writers") 'active' }}>Writers ({{searchResults.data.length}})</a></li>
  </ul>
</div>
