<div class="nw-card short-card small-gap">
  <div class="nano-subcard">
    <div class="nano-subcard-face face-front filled-grey">
      <div class='user-listing'>
        <div class="nano-avatar nano-avatar-medium">
          {{#link-to 'authenticated.users.show' searchUser.slug}}
            <img src={{avatarUrl}} alt={{searchUser.attributes.name}}>
          {{/link-to}}
        </div>
        <div class='user-info'>
          <div class="nano-user-name">
            {{#link-to 'authenticated.users.show' searchUser.slug}}
              {{searchUser.attributes.name}}
            {{/link-to}}
          </div>
          <div class="nano-user-location">
            {{searchUser.attributes.location}}
          </div>
        </div>
        <div class='user-bio'>
          {{searchUser.attributes.bio}}
        </div>
      </div>
    </div>
  </div>
</div>
