{{#form-for
        afterError=(action 'receivedError')
        submitValidationError=(action "signInValidationFailed")
        onSubmit=(action "onSubmit")
        model=signInAttempt
        class='full-width'
        as |f|
      }}

        <div class="form-group full-width">
          {{f.input
            autofocus=true
            label="Username or Email"
            placeholder="Username or Email"
            property="identifier"
            
          }}
        </div>
        <div class="form-group full-width">
          {{f.password
            autocomplete="current-password"
            label="Password"
            property="password"
          }}
        </div>

        {{#if error}}
          <div class="alert alert-danger">{{error}}</div>
        {{/if}}

          <button data-test-sign-in-submit type="submit" class="full-width nano-button-large full-width {{if isSubmitting "disabled" ""}}">
            {{#if isSubmitting}}
              Signing In
              <img class='spinner' src="/images/spinner.svg">
            {{else}}
              Sign In
            {{/if}}
          </button>


      {{/form-for}}
