{{#form-for
        afterError=(action 'receivedError')
        submitValidationError=(action "signInValidationFailed")
        onSubmit=(action "onSubmit")
        model=signInAttempt
        class='full-width'
        as |f|
      }}

        <div class="form-group full-width">
          {{f.input
            autocomplete="email"
            autofocus=true
            label="Email"
            placeholder="user@domain.com"
            property="email"
            
          }}
        </div>
        <div class="form-group full-width">
          {{f.password
            autocomplete="current-password"
            label="Password"
            property="password"
          }}
        </div>

        {{#if error}}
          <div class="alert alert-danger">{{error}}</div>
        {{/if}}

          <button data-test-sign-in-submit type="submit" class="full-width nano-button-large full-width {{if isSubmitting "disabled" ""}}">{{buttonText}}</button>

      {{/form-for}}
