{{#if changeset.errors.length}}
  <h2>ERRORS</h2>
  <ul>
    {{#each changeset.errors as |error|}}
      <li>{{error.key}}
        <ul>
          {{#each error.validation as |validation|}}
            <li>{{validation}}</li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>
{{/if}}

<form {{action submit on="submit"}}>
  <div class="form-group">
    <label for="email">Email</label>
    {{input
      data-test-sign-in-email=true
      autocomplete="email"
      class="form-control"
      name="email"
      placeholder="user@domain.com"
      required=true
      type="email"
      value=changeset.email
    }}
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    {{input
      data-test-sign-in-password=true
      autocomplete="current-password"
      class="form-control"
      name="password"
      placeholder="Password"
      required=true
      type="password"
      value=changeset.password
    }}
  </div>

  <input data-test-sign-in-submit type="submit" class="btn btn-primary" value="Sign In" />
</form>
