{{#ember-wormhole to="ember-bootstrap-wormhole"}}
  <div class='nw-splash nw-winner-splash'>
    <object class="confetti" data="/images/splash/confetti.svg" type="image/svg+xml"></object>
    <div class="nw-vflex">
      {{svg-congratulations}}
      <div class='winner-message'>
        {{#if isNaNo}}
          Congratulations! You met your NaNoWriMo goal head on, never gave up, and completed your novel!
        {{else}}
          Congratulations! You met your Camp goal head on, never gave up, and completed your writing project!
        {{/if}}
      </div>
      <div class='winner-splash-content'>
        <div class='nw-hflex'>
          <div>
            <img class='winner-cert' src="{{winnerImage}}" alt="" />
            {{#if hasEventName}}
              <div class='cert-download'>
                <button {{action "goToWinnerRoute"}}>claim your winner goodies!</button>
              </div>
            {{/if}}
          </div>
        </div>
        <hr />
        <div class='nw-hflex'>
          <div id="winner-splash-step-1-badge-information">
            <div class='unlocked'>You unlocked a badge.</div>
            <div class='badge-image'>
              <img src='{{badge.awarded}}' title='{{badge.title}}'>
            </div>
          <div class='badge-title'>
            {{badge.title}}
          </div>
          <div class='badge-description'>
            {{badge.awarded_description}}
          </div>
          </div>
        </div>
        <hr />
        {{#if isNaNo}}
          <div class='nw-hflex'>
            <div class='winner-splash-laurel'>
              <div class='title'>Don't rest on your laurels.</div>
              <div class='nw-hflex'>
               {{user-avatar user=currentUser.user}}
              </div>
              <div class='description'>
                Way to go, this was your <b>{{ordinal-number-suffix currentUser.user.nanoWinCount}} time</b>
                completing an official NaNoWriMo challenge! From now on, your avatar will
                look like this, so the whole world can know how awesome you are!
              </div>
            </div>
          </div>
          <hr />
        {{/if}}
        <div class='nw-hflex'>
          <div>
            &nbsp;
          </div>
          <div class='splash-footer'>
            <button {{action "closeClicked"}}>close</button>
          </div>
          <div>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>
{{/ember-wormhole}}
