{{#ember-wormhole to="ember-bootstrap-wormhole"}}
  <div class='nw-splash nw-winner-splash'>
    <div class='nw-splash nw-badge-splash '>
      <div class="nw-vflex">
        <div class='winner-splash-content'>
          <h1 class='unlocked'>You unlocked a badge</h1>
          <div class='badge-image'>
            <img src='{{badge.awarded}}' title='{{badge.title}}' alt="" />
          </div>
          <h2 class='badge-title'>
            {{badge.title}}
          </h2>
          <div class='badge-description'>
            {{badge.awarded_description}}
          </div>
          <hr />
          <button {{action "closeClicked"}}>close</button>
        </div>
      </div>
    </div>
  </div>
{{/ember-wormhole}}


