<div class="nw-card-header">
  <div class="nw-card-title">My Overall Progress</div>
  <div class="nw-card-actions" {{action "toggleSubcard"}}>
    <div style="{{cardPrimaryStyle}}">{{fa-icon "bar-chart"}}</div>
    <div style="{{cardSecondaryStyle}}">{{fa-icon "line-chart"}}</div>
  </div>
</div>
<div class="nw-card-content">
  {{high-charts content=chartData chartOptions=chartOptions theme=theme}}
</div>
