<div class="nw-card-header">
  <div class="nw-card-title">Progress Updates</div>
  <div class="nw-card-actions nw-card-actions-right">
    <div class="nw-card-actions-adjacent">
      {{#if importable}}
        <div class="nw-card-action-link" {{action 'confirmReimport'}}>+ Import data</div>
        {{confirmation-modal
          yes=reimportConfirmationYesText 
          no=reimportConfirmationNoText 
          title=reimportConfirmationTitleText
          question=reimportConfirmationQuestion
          questionAddendum = reimportConfirmationQuestionAddendum
          open=showConfirmReimport
          yesAction=(action "reimportConfirmationYes")
          noAction=(action "reimportConfirmationNo")
          }}
      {{/if}}
      {{#if projectChallenge.hasStarted}}
      <div class="nw-card-action-link" {{action 'newProjectSession'}}>+ Add new update</div>
      {{/if}}
    </div>
  </div>
</div>

{{#if projectChallenge.hasStarted}}

<div class="nw-card-content nw-card-list">
  <div class="nw-card-list-header">
    <div class="nw-card-list-item">
      <div class="nw-card-list-item-left">
        DATE
      </div>
      <div class="nw-card-list-item-center">
        ADDED WORDS
      </div>
      <div class="nw-card-list-item-right">
      </div>
    </div>
  </div>
  <div class="nw-card-list-content">
    {{#each sortedUpdates as |ps|}}
      <ProgressUpdate
        @projectSession={{ps}}
        @onDelete={{action "userDidChangeProjectSession"}}
      />
    {{/each}}
  </div>
</div>
{{else}}  
  <div class='nw-card-content'>
    Your progress updates will be shown here when you start working on this writing project! When your goal starts on {{goalStartMonthDay}}, you'll be able to add back-dated progress updates and delete progress updates here.
  </div>
{{/if}}
{{project-session-modal project=project projectChallenge=projectChallenge open=newProjectSession}}

