<div class="content-gutters">
  <div class="container-fluid">
    <div class="nano-panel">
      <div class="nano-panel-tools">
        <div class="panel-comparison root-comparison" style="color: #2f3061; border-color: #2f3061;">{{fa-icon "circle"}} Dave Beck {{fa-icon "times"}}</div>
        <div class="panel-comparison" style="color: #edbb82; border-color: #edbb82;">{{fa-icon "circle"}} Dave Williams {{fa-icon "times"}}</div>
        <div class="panel-comparison" style="color: #73ab9b; border-color: #73ab9b;">{{fa-icon "circle"}} Ruth Bader Ginsberg {{fa-icon "times"}}</div>
      </div>
      <div class="grid-wrapper">
        <div class="nano-card g3-col1 g3-row1 g2-col1 g2-row1">
          {{stats-total-words}}
        </div>
        <div class="nano-card g3-col2 g3-row1 g2-col2 g2-row1">
          {{stats-words-needed-today}}
        </div>
        <div class="nano-card g3-col3 g3-row1 g2-col1 g2-row2">
          {{stats-days-straight}}
        </div>
        <div class="nano-card g3-col1 g3-row2 g3-hspan3 g2-col1 g2-row3 g2-hspan2">
          {{stats-my-milestones class="g3-sub1 g2-sub1"}}
          {{stats-my-overall-progress class="g3-sub2 g2-sub2"}}
        </div>
        <div class="nano-card g3-col1 g3-row3 g2-col1 g2-row4 flippable">
          {{stats-when-i-write}}
        </div>
        <div class="nano-card g3-col2 g3-row3 g3-hspan2 g2-col2 g2-row2">
          {{stats-my-daily-word-count}}
        </div>
        <div class="nano-card g3-col1 g3-row4 g2-col2 g2-row4">
          {{stats-where-i-write}}
        </div>
        <div class="nano-card g3-col2 g3-row4 g2-col1 g2-row5 flippable">
          {{stats-my-daily-count}}
        </div>
        <div class="nano-card g3-col3 g3-row4 g2-col2 g2-row5 flippable">
          {{stats-when-ill-finish}}
        </div>
        <div class="nano-card g3-col1 g3-row5 g2-col1 g2-row6 flippable">
          {{stats-my-writing-speed}}
        </div>
        <div class="nano-card g3-col2 g3-row5 g2-col2 g2-row6">
          {{stats-my-sprintiness}}
        </div>
        <div class="nano-card g3-col3 g3-row5 g2-col1 g2-row7">
          {{stats-how-i-feel}}
        </div>
      </div>
    </div>
  </div>
</div>
