<div class="nw-card-header">
  <div class="nw-card-title">My Overall Progress</div>
  <div class="nw-card-actions nw-card-actions-left" >
    <div class='btn-group' role='tablist'>
        <button class="btn {{if lineChartSelected 'active' ''}}" 
          {{action "setChartType" 'line'}} role='tab'
          aria-contols='pane-line-chart' aria-selected={{lineChartSelected}}>
          {{fa-icon "line-chart"}}
          <span class='sr-only'>Display Line Chart</span>
        </button>
        
        <button class="btn {{if barChartSelected 'active' ''}}" 
          {{action "setChartType" 'bar'}} role='tab'
          aria-controls='pane-bar-chart' aria-selected={{barChartSelected}}>
          {{fa-icon "bar-chart"}}
        <span class="sr-only">Display bar chart</span>
        </button>
        
        <button class="btn {{if tableSelected 'active' ''}}" 
          {{action "setChartType" 'table'}} role='tab'
          aria-controls='pane-table' aria-selected={{tableSelected}}>
          {{fa-icon "table"}}
        <span class="sr-only">Display tabular data</span>
        </button>
      </div>
  </div>
</div>
<div class="nw-card-content">
  <table class="sr-only">
    <tr><th scope="col">Date</th><th scope="col">Total Count</th><th scope="col">Goal</th></tr>
    {{#each tableRows as |row|}}
      <tr>
        <td>{{row.date}}</td>
        <td>{{row.total}}</td>
        <td>{{row.success}}</td>
      </tr>
    {{/each}}
  </table>
  {{#if tableSelected}}
    <table id='pane-table' class='stats-table' tabindex=0>
      <tr><th scope="col">Date</th><th scope="col">Total Count</th><th scope="col">Goal</th></tr>
      {{#each tableRows as |row|}}
        <tr>
          <td>{{row.date}}</td>
          <td>{{row.total}}</td>
          <td>{{row.success}}</td>
        </tr>
      {{/each}}
    </table>
  {{else}}
    <div id={{chartId}}>
      {{high-charts content=chartData chartOptions=chartOptions theme=theme }}
    </div>
  {{/if}}
</div>
