<div class="nano-user-social">
  {{#each socialLinks as |link|}}
    {{#if link.isWattpad}}
      <a href={{link.link}} class="social-button">
        <img src='/images/users/social/wattpad.png'>
      </a>
    {{else}}
      <a href={{link.link}} class="social-button">{{fa-icon link.service}}</a>
    {{/if}}
  {{/each}}
</div>
{{#each otherLinks as |link|}}
  <div class="nano-user-link">
    <a href={{link.link}}>{{link.url}}</a>
  </div>
{{/each}}
