<div class="nano-subcard-face face-back">
  <div class="nano-subcard-header">
    <div class="nano-subcard-toggle" {{action "toggleSubcard"}}>
      <div>{{fa-icon "repeat"}}</div>
    </div>
  </div>
  <div class="nano-subcard-content">
    <div class='small-text'>{{{post.attributes.body}}}</div>
  </div>
</div>

<div class="nano-subcard-face face-front">
  <div class="nano-subcard-header">
    <div class="nano-subcard-toggle" {{action "toggleSubcard"}}>
      <div>{{fa-icon "repeat"}}</div>
    </div>
  </div>
  <div class="nano-subcard-content">
    <div class="nano-card-icon">
      <div class="nano-avatar-irregular" style="background-image: url({{{post.attributes.card-image}}})">
      </div>
    </div>
    <div class='no-data'>{{{post.attributes.headline}}}</div>
  </div>
</div>
