{{#bs-modal
  open=open
  onHidden=(action "onHidden")
  as |modal|
}}
  {{#modal.header closeButton=false}}
    Edit Your Profile
  {{/modal.header}}
  {{#form-for
    afterSubmit=modal.close
    model=user
    data-test-user-edit-profile-form=true
    as |f|
  }}
    {{#modal.body}}

      {{#bs-tab
        activeId=activeTab
        onChange=(action (mut activeTab))
        as |tab|
      }}

        {{#tab.pane title="Overview" id="overview"}}
          <div class="form-group">
            {{f.input
              label="What is your username?"
              property="name"
            }}
          </div>
          <div class="form-group">
            {{f.input
              label="What is your location?"
              property="location"
            }}
          </div>
          {{user-edit-links user=user}}
        {{/tab.pane}}

        {{#tab.pane title="Stats" id="stats"}}
          <div class="form-group">
            <label>Select up to three stats you wish to show</label>
          </div>
          <div class="form-group">
            {{f.checkbox
              label="Lifetime word count"
              property="statsWordCountEnabled"
            }}
          </div>
          <div class="form-group">
            {{f.checkbox
              label="Number of projects"
              property="statsProjectsEnabled"
            }}
          </div>
          <div class="form-group">
            {{f.checkbox
              label="Years done and won"
              property="statsYearsEnabled"
            }}
          </div>
          <div class="form-group">
            {{f.checkbox
              label="Wordiest novel"
              property="statsWordiestEnabled"
            }}
          </div>
          <div class="form-group">
            {{f.checkbox
              label="Average writing pace"
              property="statsWritingPaceEnabled"
            }}
          </div>
          <div class="form-group">
            {{f.checkbox
              label="Longest NaNo streak"
              property="statsStreakEnabled"
            }}
          </div>
        {{/tab.pane}}

      {{/bs-tab}}

    {{/modal.body}}
    {{#modal.footer tagName="div"}}

      <input type="submit" class="nano-button" value="Save Details" data-test-user-profile-submit />
      <input type="button" class="nano-button btn-underlined" value="Cancel" {{action modal.close}} data-test-user-profile-cancel />

    {{/modal.footer}}
  {{/form-for}}
{{/bs-modal}}
