{{#bs-modal
  open=open
  onHidden=(action "onHidden")
  as |modal|
}}
  {{#modal.header closeButton=false}}
    Edit Your Profile
  {{/modal.header}}
  {{#form-for
    afterSubmit=modal.close
    onSubmit=(action "updateChangeset")
    model=user
    data-test-user-edit-profile-form=true
    changeset=changeset
    as |f|
  }}
    {{#modal.body}}

      {{#bs-tab
        activeId=activeTab
        onChange=(action (mut activeTab))
        as |tab|
      }}

        {{#tab.pane title="Overview" id="overview"}}
          <div class="form-group">
            {{f.input
              label="What is your username?"
              property="name"
            }}
          </div>
          <div class="form-group">
            {{f.input
              label="What is your location?"
              property="location"
            }}
          </div>
          {{user-edit-links user=user}}
        {{/tab.pane}}

        {{#tab.pane title="Stats" id="stats"}}
          <div class="form-group">
            <label>Select the stats you wish to show</label>
          </div>
          
          <div class='form-group'>
            <label for='statsSelect1'>Stat 1: </label>
              <div class="select-container">
                <select class='form-control' id='statsSelect1' onChange={{action "statsSelect1Changed" value="target.value"}}>
                   <option value="">None</option>
                  {{#each statsObject as |stat|}} 
                    <option disabled={{ if (eq stat2 stat.property) 'true' (if (eq stat3 stat.property ) "true" )}} selected={{eq stat1 stat.property}} value={{stat.property}}>{{stat.label}}
                    </option>
                  {{/each}}
                </select>
              </div>
          </div>
          <div class='form-group'>
            <label for='statsSelect2'>Stat 2: </label>
              <div class="select-container">
                <select class='form-control' id='statsSelect1' onChange={{action "statsSelect2Changed" value="target.value"}}>
                  <option value="">None</option>
                  {{#each statsObject as |stat|}} 
                    <option disabled={{ if (eq stat1 stat.property) 'true' (if (eq stat3 stat.property ) "true" )}} selected={{eq stat2 stat.property}} value={{stat.property}}>{{stat.label}}</option>
                  {{/each}}
                </select>
              </div>
          </div>
          <div class='form-group'>
            <label for='statsSelect3'>Stat 3: </label>
              <div class="select-container">
                <select class='form-control' id='statsSelect1' onChange={{action "statsSelect3Changed" value="target.value"}}>
                   <option value="">None</option>
                  {{#each statsObject as |stat|}} 
                    <option disabled={{ if (eq stat2 stat.property) 'true' (if (eq stat1 stat.property ) "true" )}} selected={{eq stat3 stat.property}} value={{stat.property}}>{{stat.label}}</option>
                  {{/each}}
                </select>
              </div>
          </div>
          
        {{/tab.pane}}

      {{/bs-tab}}

    {{/modal.body}}
    {{#modal.footer}}

      <input type="submit" class="nano-button" value="Save Details" data-test-user-profile-submit />
      <input type="button" class="nano-button btn-underlined" value="Cancel" {{action modal.close}} data-test-user-profile-cancel />

    {{/modal.footer}}
  {{/form-for}}
{{/bs-modal}}
