{{#if user.statsWordCountEnabled}}
  <div class="plate-area">
    <div class="plate-stat" data-test-user-stats-word-count>{{format-number user.totalWordCount}}</div>
    <div class="plate-descriptor">words written</div>
  </div>
{{/if}}

{{#if user.statsYearsEnabled}}
  <div class="plate-area">
    <div class="plate-stat" data-test-user-stats-years>{{format-number yearsDoneCount}}</div>
    <div class="plate-descriptor">time NaNo participant</div>
    {{#bs-tooltip placement="bottom"}}
      <div>Years Done/Won</div>
      <div>
        {{#each user.yearsDone as |year|}}
          <span>
            {{short-year year}}{{#if (array-includes yearsWon year)}}*{{/if}}
          </span>
        {{/each}}
      </div>
    {{/bs-tooltip}}
  </div>
{{/if}}

{{#if user.statsProjectsEnabled}}
  <div class="plate-area">
    <div class="plate-stat" data-test-user-stats-projects>{{format-number user.projects.length}}</div>
    <div class="plate-descriptor">NaNo projects</div>
  </div>
{{/if}}

{{#if user.statsWordiestEnabled}}
  <div class="plate-area">
    <div class="plate-stat" data-test-user-stats-wordiest>{{format-number user.highestWordCountProject.totalWordCount}}</div>
    <div class="plate-descriptor">wordiest novel</div>
  </div>
{{/if}}

{{#if user.stats.WritingPaceEnabled}}
  <div class="plate-area">
    <div class="plate-stat" data-test-user-stats-writing-pace>{{format-number writingPace}}</div>
    <div class="plate-descriptor">average writing pace</div>
  </div>
{{/if}}

{{#if user.statsStreakEnabled}}
  <div class="plate-area">
    <div class="plate-stat" data-test-user-stats-streak>{{format-number user.longestNanoStreak}}</div>
    <div class="plate-descriptor">longest NaNo streak</div>
  </div>
{{/if}}
