{{#if (eq firstEnabled "statsWordCountEnabled")  }}
  <div class="plate-area">
    <div class="plate-stat" data-test-user-stats-word-count>
      {{#if hasStats }}
        {{format-number totalWordCount}}
      {{else}}
        <i class="fa fa-spinner fa-spin"></i>
      {{/if}}
    </div>
    <div class="plate-descriptor">Words written</div>
  </div>
{{/if}}

{{#if  (eq firstEnabled "statsYearsEnabled") }}
  <div class="plate-area">
    <div class="plate-stat" data-test-user-stats-years>
      {{#if hasStats }}
        {{format-number yearsDoneCount}}
      {{else}}
        <i class="fa fa-spinner fa-spin"></i>
      {{/if}}
    </div>
    <div class="plate-descriptor">Time NaNo participant</div>
    {{#bs-tooltip placement="bottom"}}
      <div>Years Done/Won</div>
      <div>
        {{#each user.yearsDone as |year|}}
          <span>
            {{short-year year}}{{#if (array-includes user.stats.yearsWon year)}}*{{/if}}
          </span>
        {{/each}}
      </div>
    {{/bs-tooltip}}
  </div>
{{/if}}

{{#if (eq firstEnabled "statsProjectsEnabled") }}
  <div class="plate-area">
    <div class="plate-stat" data-test-user-stats-projects>
      {{#if hasStats}}
        {{format-number user.projects.length}}
      {{else}}
        <i class="fa fa-spinner fa-spin"></i>
      {{/if}}
    </div>
    <div class="plate-descriptor">Total projects</div>
  </div>
{{/if}}

{{#if (eq firstEnabled "statsWordiestEnabled") }}
  <div class="plate-area">
    <div class="plate-stat" data-test-user-stats-wordiest>
      {{#if hasStats}}
        {{format-number wordiest}}
      {{else}}
        <i class="fa fa-spinner fa-spin"></i>
      {{/if}}
    </div>
    <div class="plate-descriptor">Wordiest project</div>
  </div>
{{/if}}

{{#if (eq firstEnabled "statsWritingpaceEnabled") }}
  <div class="plate-area">
    <div class="plate-stat" data-test-user-stats-writing-pace>
      {{#if hasStats}}
        {{format-number user.stats.writingPace}}
      {{else}}
        <i class="fa fa-spinner fa-spin"></i>
      {{/if}}
    </div>
    <div class="plate-descriptor">Average writing pace</div>
  </div>
{{/if}}

{{#if (eq firstEnabled "statsStreakEnabled") }}
  <div class="plate-area">
    <div class="plate-stat" data-test-user-stats-streak>
      {{#if hasStats}}
        {{format-number user.stats.longestStreak}}
      {{else}}
        <i class="fa fa-spinner fa-spin"></i>
      {{/if}}
    </div>
    <div class="plate-descriptor">Longest NaNo streak</div>
  </div>
{{/if}}
