<label for={{name}}>Time Zone</label>
<select id={{name}} name={{name}} class={{selectClasses}}
  onchange={{action (mut value) value="target.value"}}>
  {{#each timeZoneOptions as |option|}}
    <option value={{option.value}} selected={{eq option.value value}}>
      {{option.name}}
    </option>
  {{/each}}
</select>
{{#if showErrorMessage}}
  <div data-test-error-message class="invalid-feedback">{{errorMessage}}</div>
{{/if}}
