{{#if notCurrentUser}}
  {{#if buddyInvited}}
    <div class="buddy-status">
      You've invited {{user.name}} to be buddies.
    </div>
    <button {{action "cancelInvitation" }} class="button-reversed">
      {{fa-icon "minus-circle"}}
      Cancel invitation
    </button>
  {{/if}}
  {{#if buddyInvitedBy}}
    <div class="buddy-status">
      {{user.name}} has invited you to be buddies.
    </div>
    <div>
      <button {{action "approveInvitation" }} class="button-reversed">
        {{fa-icon "user-plus"}}
        Accept 
        {{#if approvingInvite}}
          <i class="fa fa-spinner fa-spin"></i>
        {{/if}}
      </button>
      &nbsp;
      <button {{action "rejectInvitation" }} class="button-reversed">
        {{fa-icon "minus-circle"}}
        Reject
      </button>
      &nbsp;
      <button {{action "blockUser" }} class="button-reversed button-danger">
        {{fa-icon "ban"}}
        Block
      </button>
    </div>
  {{/if}}
  {{#if buddyActive}}
    {{#if displayTiny}}
      <div style="flex: 100%; display: flex; justify-content: flex-end;">
        <div style="width: 40px; height: 40px;">
          {{#link-to 'authenticated.nanomessages.show' conversationSlug class="nw-round-icon-button nw-drop-shadow"}}
            <div class='sr-only'>Send message</div>
            {{fa-icon "comments"}}
          {{/link-to}}
        </div>
        <div class="nw-buddy-status" style="height: 40px; text-align: left; color: #999; align-self: center; margin-left: 10px;" >
          <button class="nw-default-status nw-new-button nw-drop-shadow" {{action "startRemovingBuddy" }} >
            <div aria-hidden=true class='non-hf-content'>Buddies</div>
            <div aria-hidden=true class='hf-content'>Unbuddy</div>
            <div class='sr-only'>Unbuddy</div>
          </button>
        </div>
      </div>
    {{else}}
      <div class="buddy-status">
        You are buddies with {{user.name}}.
      </div>
      <div {{action "startRemovingBuddy" }} class="remove-element">
        {{fa-icon "trash-o"}}
        Remove as buddy
      </div>
    {{/if}}
  {{/if}}
  {{#if notBuddy}}
    <div class="buddy-status">
      You aren't buddies with {{user.name}}.
    </div>
    <button {{action "sendInvitation"}}>
      {{fa-icon "user-plus"}}
      Send invitation
    </button>
  {{/if}}

  {{#if userBlocked}}
    <div class="button-danger">
      <div class="buddy-status">
        You've blocked {{user.name}}.
      </div>
      <button {{action "unblockUser" }} class="button-reversed button-danger">
        {{fa-icon "minus-circle"}}
        Unblock
      </button>
    </div>
  {{/if}}
{{/if}}
{{#if buddyActive}}
  {{confirmation-modal
    yes=removeBuddyYesText
    no=removeBuddyNoText
    title=removeBuddyTitleText
    question=removeBuddyQuestion
    open=isRemoving
    yesAction=(action "removeBuddy")
    noAction=(action "removeBuddyNo")
  }}
{{/if}}
