<div class="nano-panel right-resize with-tabs">
  <ul class="nano-panel-tabs">
    <li>{{link-to 'Overview' 'authenticated.regions.show.index'}}</li>
    <li>{{link-to 'Events' 'authenticated.regions.show.events' }}</li>
    <li>{{link-to 'Members' 'authenticated.regions.show.members' }}</li>
  </ul>
  <div class="grid-wrapper">
    <div class="nano-card short-card g3-col1 g3-row1 g3-hspan3 g2-col1 g2-row1 g2-hspan2">
      <div class="nano-subcard g3-sub1 g2-sub1">
        <div class="nano-subcard-face face-front filled-grey">
          <div class="nano-subcard-content side-by-side">
            <div class="info-text side-by-side-even">
              <button id="announce-new-event-button" class="nano-button-large" {{action "openNewEventModal"}}>
                Submit an event
              </button>

              {{event-new-modal
                onHidden=(action "afterEventModalClose")
                open=addEvent
                user=user
              }}
              <h6>{{group.name}} Events</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
