<div class="nano-panel right-resize with-tabs">
  <ul class="nano-panel-tabs">
    <li>{{link-to 'Profile' 'authenticated.users.show'}}</li>
    <li>{{link-to 'Projects (2)' 'authenticated.users.show.projects' class='active'}}</li>
    <li>{{link-to 'Buddies (57)' 'index'}}</li>
  </ul>
  
  <div class="grid-wrapper">
    <button class='btn btn-primary' {{action "newProject"}}>Announce New Project</button>

    
    {{#each model as |project|}}
      <div class='g1-row'>
        {{project-listing project=project}}
      </div>
     
    {{/each}}  
  
  </div>
</div>
