<div class="nano-panel right-resize with-tabs">
  <ul class="nano-panel-tabs">
    <li>{{link-to 'Profile' 'authenticated.users.show.index'}}</li>
    <li>{{link-to 'Projects' 'authenticated.users.show.projects' }}</li>
    <li>{{link-to 'Buddies (57)' 'index'}}</li>
  </ul>
  
  <div id='project-listing-actions'>
    <button class='btn btn-primary' {{action "newProject"}}>Announce New Project</button>
  </div>

    {{#each model as |project|}}
      {{project-listing project=project}}
    {{/each}}  
  
</div>
