<div id='project-listing-actions'>
  {{#if canAddProject}}
    <button id="announce-new-project-button" class="nano-button-large" {{action "openNewProjectModal"}} data-test-new-project>
      Announce New Project
    </button>

    {{project-new-modal
      onHidden=(action "afterProjectModalClose")
      open=addProject
      user=user
    }}
  {{/if}}
  <div id='project-listing-sort' >
    <label id='project-listing-sort-by-text' for='sort-by'>Sort by</label>
    <span id='project-listing-sort-by-select'>
      <select name='sort-by' onchange={{action "setSortSelection" value="target.value"}} >
        <option value='createdAt'>Date Created</option>
        <option value='name'>Project Title</option>
      </select>
    </span>
  </div>
</div>

<div data-test-project-list>
  {{#each sortedProjects as |project|}}
    {{project-listing project=project}}
  {{/each}}
</div>

{{#if canAddProject}}
  <div class="nano-card prompt-card short-card g3-hspan3 g2-hspan2">
    <div class="nano-subcard">
      <div class="nano-subcard-face">
        <div class="nano-subcard-content side-by-side">
          <div class="side-by-side-even">
            <div class="quote-text">"A journey of a thousand miles<br>begins with a single step."<br /><span class="quotee">Lao Tzu</span></div>
          </div>
          <div class="side-by-side-even">
            <a href="#" {{action "openNewProjectModal"}}>Announce a new project!</a>
            <img src="/images/users/projects/megaphone.svg" class="prompt-image">
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}
