<div class="content-gutters nw-pad-top">
  <div class="container-fluid">
    <div class='nw-panel'>
      <div class="nw-panel-primary-container">
        {{project-summary project=project author=user}}
      </div>
      <div class="nw-panel-secondary-container">
        <div class="nw-panel-secondary nw-panel-flex">
          {{outlet}}
        </div>
        <ul class="nw-panel-tabs">
          <li>{{link-to 'Details' 'authenticated.users.show.projects.show.index' }}</li>
          <li>{{link-to 'Goals' 'authenticated.users.show.projects.show.goals'}}</li>
          <li>{{link-to 'Badges' 'authenticated.users.show.projects.show.badges' }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{{project-edit-cover-modal
  onHidden=(action "afterCoverModalClose")
  open=displayCoverEditModal
  project=project
  tab=editCoverTab
}}
{{project-edit-modal
  onHidden=(action "afterEditProjectModalClose")
  open=displayEditModal
  project=project
}}

