{{page-title pageTitle}}
<div class="content-gutters nw-pad-top">
  <div class="container-fluid">
    <div class="nw-panel nanomessages-panel nw-with-grid">
      <div class="grid-wrapper">
        <div class="nw-card nanomessages-card g3-col1 g3-row1 g3-hspan1 g3-vspan2 g2-col1 g2-row1 g2-hspan1 g2-vspan2">
          <div class="nw-card-header">
            <div class="nw-card-title">Nanomessages</div>
          </div>
          <div class="nw-card-content">
            {{conversations-list officialOnly=true class="full-width"}}
            {{conversations-list officialOnly=false class="full-width"}}
          </div>
        </div>
        {{#if hasGroup}}
          {{group-chat group=group context='nanomessages' class="g3-col2 g3-row1 g3-hspan2 g3-vspan2 g2-col2 g2-row1 g2-hspan1 g2-vspan2"}}
        {{else}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
