{{#form-for model=user as |f|}}
  <div class='nw-card'>
    <div class='nw-card-header'>
      <div class='nw-card-title'>notifications</div>
      <div class='instruction'>Select the type of notifications you would like to receive.</div>
    </div>
    <div class="nw-card-content">
      <div class="form-group inline-checkbox">
        {{f.checkbox label="New buddy requests" property="notificationBuddyRequests"}}
      </div>
      <div class="form-group inline-checkbox">
        {{f.checkbox label="NaNoMessages from MLs" property="notificationNanomessagesMls"}}
      </div>
      <div class="form-group inline-checkbox">
        {{f.checkbox label="Writing Reminders" property="notificationWritingReminders"}}
      </div>
      <div class="form-group inline-checkbox">
        {{f.checkbox label="Buddy activities" property="notificationBuddyActivities"}}
      </div>
      <div class="form-group inline-checkbox">
        {{f.checkbox label="NaNoMessages from NaNo HQ" property="notificationNanomessagesHq"}}
      </div>
      <div class="form-group inline-checkbox">
        {{f.checkbox label="Reaching goal milestones" property="notificationGoalMilestones"}}
      </div>
      <div class="form-group inline-checkbox">
        {{f.checkbox label="New events in your home region" property="notificationEventsInHomeRegion"}}
      </div>
      <div class="form-group inline-checkbox">
        {{f.checkbox label="Word sprint invitations" property="notificationSprintInvitation"}}
      </div>
      <div class="form-group inline-checkbox">
        {{f.checkbox label="Unlocking new badges" property="notificationNewBadges"}}
      </div>
      <div class="form-group inline-checkbox">
        {{f.checkbox label="NaNoMessages from your buddies" property="notificationNanomessagesBuddies"}}
      </div>
      <div class="form-group inline-checkbox">
        {{f.checkbox label="Word sprints about to start" property="notificationNanomessagesSprintStart"}}
      </div>
    </div>
  </div>  
     
  <div class='nw-card'>
    <div class='nw-card-header'>
      <div class='nw-card-title'>emails</div>
      <div class='instruction'>Select the type of emails you would like to receive.</div>
    </div>
    <div class="nw-card-content">
      <div class="form-group inline-checkbox">
        {{f.checkbox label="NaNoWriMo newsletter" property="emailNewsletter"}}
      </div>
      <div class="form-group inline-checkbox">
        {{f.checkbox label="New events in your home region" property="emailEventsInHomeRegion"}}
      </div>
      <div class="form-group inline-checkbox">
        {{f.checkbox label="NaNoMessages from MLs" property="emailNanomessagesMls"}}
      </div>
      <div class="form-group inline-checkbox">
        {{f.checkbox label="New blog posts" property="emailBlogPosts"}}
      </div>
      <div class="form-group inline-checkbox">
        {{f.checkbox label="New buddy requests" property="emailBuddyRequests"}}
      </div>
      <div class="form-group inline-checkbox">
        {{f.checkbox label="NaNoMessages from your buddies" property="emailNanomessagesBuddies"}}
      </div>
      <div class="form-group inline-checkbox">
        {{f.checkbox label="NaNoMessages from NaNo HQ" property="emailNanomessagesHq"}}
      </div>
      <div class="form-group inline-checkbox">
        {{f.checkbox label="Writing reminders" property="emailWritingReminders"}}
      </div>
    </div>
  </div>

  <div class='nano-panel-footer'>
    {{f.save-cancel class="save-cancel"}}
  </div>
{{/form-for}}
