<div class="grid-wrapper">
  <div class="nano-card short-card g3-col1 g3-row1 g3-hspan3 g2-col1 g2-row1 g2-hspan2">
    <div class="nano-subcard g3-sub1 g2-sub1">
      <div class="nano-subcard-face face-front filled-grey">
        <div class="nano-subcard-header">
          <div class="corner-label">About {{user.name}}</div>
        </div>
        <div class="nano-subcard-content">
          <div class="info-text side-by-side-even" data-test-user-bio>
            {{truncate-multiline
              text=user.bio
            }}
          </div>
        </div>
      </div>
    </div>
    <div class="nano-subcard g3-sub1 g2-sub1">
      <div class="nano-subcard-face face-front filled-grey">
        <div class="nano-subcard-header">
          <div class="corner-label">Favorites</div>
        </div>
        <div class="nano-subcard-content">
          <ul class="icon-list">
            {{#each favoriteBooks as |book|}}
              <li>{{fa-icon "book"}} {{book.title}}</li>
            {{else}}
              <li><em>No favorite books</em></li>
            {{/each}}
          </ul>
          <ul class="icon-list">
            {{#each favoriteAuthors as |author|}}
              <li>{{fa-icon "user"}} {{author.name}}</li>
            {{else}}
              <li><em>No favorite authors</em></li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    {{#if canEditUser}}
      <div {{action "showEditBio"}} class="flip-corner-link" data-test-user-edit-bio>
        <img src="/images/global/flip_corner.svg" alt="Edit User Bio" />
      </div>

      {{user-edit-bio-modal
        onHidden=(action "afterModalClose")
        open=editBio
        user=user
        tab=editBioTab
      }}
    {{/if}}
  </div>
  <div class="nano-card g3-col1 g3-row2 g3-hspan3 g2-col1 g2-row2 g2-hspan2">
    {{badges-card cardTitle='Participation badges' badgeType='participation'}}
  </div>
  <div class="nano-card g3-col1 g3-row3 g3-hspan3 g2-col1 g2-row3 g2-hspan2">
    {{badges-card cardTitle='Writing badges' badgeType='word count'}}
  </div>
  <div class="nano-card g3-col1 g3-row4 g3-hspan3 g2-col1 g2-row4 g2-hspan2">
    {{badges-card cardTitle='Personal achievement badges' badgeType='self-awarded'}}
  </div>
</div>

