<div class="nano-panel right-resize with-tabs">
  <ul class="nano-panel-tabs">
    <li>{{link-to 'Profile' 'authenticated.users.show'}}</li>
    <li>{{link-to 'Projects (2)' 'index'}}</li>
    <li>{{link-to 'Buddies (57)' 'index'}}</li>
  </ul>
  <div class="grid-wrapper">

    {{!-- FIXME: Move these styles into CSS assets --}}
    <style>
      .nano-card {
        position: relative;
      }
      .nano-card .flip-corner-link {
        display: none;
        position: absolute;
        left: 0;
        bottom: 0;
        cursor: pointer;
      }
      .nano-card:hover .flip-corner-link {
        display: block;
      }
    </style>
    {{!-- /FIXME --}}

    <div class="nano-card g1-row">
      <div class="row">
        <div class="col-6">
          <h6>About {{user.name}}</h6>

          {{!-- FIXME: Move these styles into CSS assets --}}
          <style>
            .nano-user-bio {
              /* line-height is currently 24px */
              overflow: hidden;
              max-height: 144px; /* line-height (24px) * number of lines (6) */
            }
            .nano-user-bio.expanded {
              max-height: none;
            }
          </style>
          {{!-- /FIXME --}}

          <div class="nano-user-bio{{if bioExpanded " expanded"}}" data-test-user-bio>
            {{user.bio}}
          </div>
          {{#if showBioReadMore}}
            <button {{action (mut bioExpanded) true}}>Read More</button>
          {{/if}}
        </div>

        <div class="col-3">
          <h6>Favorite Books</h6>
          <ul data-test-favorite-books>
            {{#each favoriteBooks as |book|}}
              <li data-test-favorite-book={{book.id}}>{{book.title}}</li>
            {{else}}
              <li><em>None</em></li>
            {{/each}}
          </ul>
        </div>

        <div class="col-3">
          <h6>Favorite Authors</h6>
          <ul data-test-favorite-authors>
            {{#each favoriteAuthors as |author|}}
              <li data-test-favorite-author={{author.id}}>{{author.name}}</li>
            {{else}}
              <li><em>None</em></li>
            {{/each}}
          </ul>
        </div>
      </div>

      {{#if canEditUser}}
        <div {{action "showEditBio"}} class="flip-corner-link" data-test-user-edit-bio>
          <img src="/flip_corner.svg" alt="Edit User Bio" />
        </div>

        {{user-edit-bio-modal
          onHidden=(action "afterModalClose")
          open=editBio
          user=user
          tab=editBioTab
        }}
      {{/if}}

    </div>
    <div class="nano-card g1-row">
      Participation badges
    </div>
    <div class="nano-card g1-row">
      Writing badges
    </div>
    <div class="nano-card g1-row">
      Personal achievement badges
    </div>
  </div>
</div>
