{{page-title "Buddies"}}
<div class="nw-panel-primary-container">
  <div class='nw-panel-actions'>
    {{#if canAddProject}}
    <button {{action "openNewProjectModal" }}>
      Announce New Project
    </button>

    {{project-new-modal
    onHidden=(action "afterProjectModalClose")
    open=addProject
    user=user
    }}
    {{/if}}
    <div class='nw-panel-actions-select'>
      <label id='project-summary-sort-by-text' for="project-listing-sort-by-select">Sort by</label>
        <span id='project-summary-sort-by-select'>
          <select id="project-listing-sort-by-select" name='sort-by' onchange={{action "setSortSelection" value="target.value" }}>
            <option value='0'>Date Created</option>
            <option value='1'>Project Title</option>
          </select>
        </span>
     
    </div>
  </div>
  <div class='nw-column-cards'>
    {{#each user.buddiesInvited as |buddy|}}
      {{buddy-listing user=buddy buttons=true}}
    {{/each}}
    {{#each user.buddiesInvitedBy as |buddy|}}
      {{buddy-listing user=buddy buttons=true}}
    {{/each}}
    {{#each user.buddiesActive as |buddy|}}
      {{buddy-listing user=buddy buttons=true}}
    {{/each}}
    <div class="nw-card nw-prompt-card">
      <div class='nw-hflex'>
        <div class="project-announce-quote">
          <div class="quote-text">"One loyal friend is worth ten thousand relatives."<br />
            <span class="quotee">Euripides</span>
          </div>
        </div>
        <div class='action'>
          {{#link-to "authenticated.search"}}
          Find buddies!
          {{/link-to}}
        </div>
        <div class='prompt-image'>
          <img alt="" src="/images/cards/handsclapping.svg">
        </div>
      </div>
    </div>
  </div>
</div>