<div class="nw-panel right-resize nw-with-tabs">
  <ul class="nw-panel-tabs">
    <li>{{link-to 'Overview' 'authenticated.regions.show.index'}}</li>
    <li>{{link-to 'Events' 'authenticated.regions.show.events'}}</li>
  </ul>
  <div class="nw-panel-primary-container">
    <div class="nw-panel-actions">
      <button id="announce-new-event-button" class="nano-button-large" {{action "openNewEventModal"}}>
        Submit an event
      </button>
      {{event-new-modal
        open=addEvent
        user=user
      }}
    </div>
    <div>
      {{#each groups as |e|}}
        {{event-listing event=e group=group}}
      {{/each}}
    </div>
  </div>
</div>
