{{page-title event.name}}
<div class="grid-wrapper">
  <div class="nw-panel-actions" class="g3-col1 g3-row1 g3-hspan2 g3-vspan1 g2-col1 g2-row1 g2-hspan2 g2-vspan1">
    {{#link-to "authenticated.regions.show.events.upcoming" tagName="button" class="button-reversed"}}
      <i class="fa fa-arrow-left" />
      Back to all events
    {{/link-to}}
  </div>
  {{event-card event=event class="g3-col1 g3-row2 g3-hspan2 g3-vspan1 g2-col1 g2-row2 g2-hspan1 g2-vspan1"}}
  {{#if event.latitude}}
    <div class="nw-card g3-col3 g3-row2 g3-hspan1 g3-vspan1 g2-col2 g2-row2 g2-hspan1 g2-vspan1">
      <div class="nw-card-content" style="padding: 0px;">
        <div style="width: 300px; height: 300px;">
          <img src="https://maps.googleapis.com/maps/api/staticmap?markers={{event.latitude}},{{event.longitude}}&zoom=14&size=300x300&key={{mapsKey}}">
        </div>
      </div>
    </div>
  {{else}}
    <div class="nw-card g3-col3 g3-row2 g3-hspan1 g3-vspan1 g2-col2 g2-row2 g2-hspan1 g2-vspan1">
      <div class="nw-card-content" style="padding: 0px;">
        <div style="width: 300px; height: 300px; text-align: center; display: flex; justify-content: center;">
          <a href="{{event.url}}" target="_BLANK" style="font-size: 60px; color: #999; margin-top: 50px;"><i class="fa fa-external-link"></i></a>
        </div>
      </div>
    </div>
  {{/if}}
  {{group-chat context='event' group=event notFixed=true class="nw-card g3-col1 g3-row3 g3-hspan2 g3-vspan1 g2-col1 g2-row3 g2-hspan1 g2-vspan1"}}
  {{group-users-list group=event listType='eventAll' class="nw-card g3-col3 g3-row3 g3-hspan1 g3-vspan1 g2-col2 g2-row3 g2-hspan1 g2-vspan1"}}
</div>