{{#if hasDetails}}  
  <div class ='nano-card' id='project-details-card'>
    <div id='project-details'>
      <div id='project-cover-large'>
        <img src={{project.coverUrl}}>
      </div>
      <div id='project-information' >
        <div id='project-title'>{{project.title}}</div>
        <div id='project-summary-label'>Summary</div>
        <div id='project-summary'>
          {{project.summary}}
        </div>
        <div id='genres-and-links'>
          <div id='genres-label'>Genres</div>
          <div id='genres-list'>
            {{#each project.genres as |genre|}}
              <span class='genre'>{{genre.name}}</span>
            {{/each}}
          </div>
          <hr>
          <div id='external-links'>
            {{#if project.playlist_url}}
              <span class='external-link'>
                <a href='{{project.playlist_url}}' target='_blank'>
                  <i class="fa fa-music" aria-hidden="true"></i>
                  Listen to the soundtrack
                </a>
              </span>
            {{/if}}
            {{#if project.pinterest_url}}
              <span class='external-link'>
                <a href='{{project.pinterest_url}}' target='_blank'>
                  <i class="fa fa-pinterest" aria-hidden="true"></i>
                  View the inspiration
                </a>
              </span>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='nano-card' id='project-excerpt-card'>
      <div id='project-excerpt-display'>
        <div id='project-excerpt-label'>Excerpt</div>
        <div id='project-excerpt'>{{project.excerpt}}</div>
      </div>
  </div>
{{else}}
  <div id='project-needs-details'>
      <div id="texts">
        <div id='line-1'>You haven't told us much about your new project.</div>
        <div id='line-2'>
          <a href="#" {{action "editProject"}}>
            Fill out your project details here.
          </a>
        </div>
      </div>
      <div id='graphic'>
        <img src='/images/projects/pencilandpen.svg'>
      </div>
  </div>
{{/if}}
