<div class='content-gutters'>
  
  <div id='project' class='nano-panel'>
    <div class='project-cover'>
      <div class='project-cover-clip'>
        <img src="{{project.cover}}">
      </div>
    </div>
    <div class='project-name-genres'>
      <div class='project-title'>
          {{project.title}}
      </div>
      <div class='by'>
        by {{link-to project.user.name 'authenticated.users.show' project.user.slug}}
      </div>
      <div class='project-genres'>
        {{project.concatGenres}}
      </div>
      <div id='project-badges'> </div>
      
    </div>
    <div class='project-count-display'>
      <div>
        <div class='count'>
          {{format-number project.unitCount}}
        </div>
        <div class='unit-text'>
          total {{project.unitType}} count
        </div>
        {{#if canUpdateCount}}
          <button class="btn btn-primary">update {{project.unitType}} count</button>
        {{/if}}
      </div>
    </div>
    <div class='project-status'>
      {{#if project.completed}}
        <img src="/images/users/projects/flippy-doodle-completed.png">
      {{else}}
        <img src="/images/users/projects/flippy-doodle-in-progress.png">
      {{/if}}
    </div>
  </div>
  
  {{outlet}}

</div>




