<div class="nano-user-plate full-width" {{action "openImagesModal" "headerTab"}} style={{plateStyle}}>
  <div class="plate-cover">

    <div class="container-fluid">
      {{group-stats group=group}}
    </div>

    {{#if false}}
      <div class="flip-corner-link" {{action "openImagesModal" "headerTab" bubbles=false}}>
        <img src="/images/global/flip_corner.png" alt="Edit Group Images" />
      </div>
    {{/if}}

  </div>
</div>
<div class="content-gutters">
  <div class="container-fluid align-top">
    <div class="nw-sidebar nw-region-summary">
      <div class="nw-sidebar-content">
        <div class="nw-region-name-prelim">
          {{namePrelim}}
        </div>
        <div class="nw-region-name">
          {{nameFinal}}
        </div>
        <div class="nw-region-description-label">
          DESCRIPTION
        </div>
        <div class="nw-region-description">
          {{group.description}}
        </div>
      </div>
      {{group-links links=group.groupExternalLinks}}
      
      {{#if false}}

        <div class="flip-corner-link" {{action "openEditModal"}}>
          <img src="/images/global/flip_corner.png" alt="Edit Region Info" />
        </div>

        {{group-edit-info-modal
          onHidden=(action "afterEditModalClose")
          open=edit
          group=group
          tab=editTab
        }}

        {{group-edit-images-modal
          onHidden=(action "afterImagesModalClose")
          open=editImages
          group=group
          tab=editImagesTab
        }}

      {{/if}}
      <div class="nw-sidebar-divot"></div>
    </div>
    {{outlet}}
  </div>
</div>
