<div class='plate-wrapper {{if canEditGroup "user-editable" ""}}' {{action "openEditModal" "headerTab" bubbles=false}}>
  <div class="nano-user-plate full-width" style={{plateStyle}}>
    <div class="plate-cover">

      <div class="container-fluid">
        {{group-stats group=group}}
      </div>

    </div>
  </div>
  <div class='plate-editable-overlay nw-image-editable-overlay'>{{group-edit-button group=group buttonType="icon"}}</div>
</div>
<div class="content-gutters">
  <div class="container-fluid align-top">
    <div class="nw-sidebar">
      <div class="nw-sidebar-content">
        {{group-avatar group=group canEdit=canEditGroup editAction=(action "openEditModal" "avatarTab")}}
        <div class="nw-item-name-prelim">
          {{group.namePrelim}}
        </div>
        <div class="nw-item-name">
          {{group.nameFinal}}
        </div>
        <div class="nw-item-description-label">
          DESCRIPTION
        </div>
        <div class="nw-item-description">
          {{group.description}}
        </div>
        {{group-links links=group.groupExternalLinks}}
        {{group-edit-button group=group buttonType="icon"}}
      </div>
      <div class="nw-sidebar-divot"></div>
    </div>
    <div class="nw-panel right-resize nw-with-tabs">
      <ul class="nw-panel-tabs">
        {{#if chatEnabled}}
          <li>{{link-to 'Overview' 'authenticated.regions.show.index'}}</li>
        {{/if}}
        <li>{{link-to 'Events' 'authenticated.regions.show.events.upcoming'}}</li>
        {{#if canEditGroup}}
          <li>{{link-to 'Admin' 'authenticated.regions.show.admin'}}</li>
        {{/if}}
      </ul>
      {{outlet}}
    </div>
  </div>
</div>
