<div class="content-gutters">
  <div class="container-fluid" style="max-width: 600px;">
    <div class="nw-panel-intro">
      <div class="welcome-content left-side">
        <h1>Your {{model.year}} Year in Review</h1>
      </div>
    </div>
    <div class="nw-panel">
      <div style="font-size: 16px; padding: 30px;">Hey, Wrimo. As we look back on a tumultuous year, we hope you'll celebrate your creative accomplishments. Here's what you and your muse got done last year... what've you got in store for the year ahead?</div>
      {{year-in-review-stat statType='total words' year=model.year annualStats=model.annualStats}}
      {{year-in-review-stat statType='best project' year=model.year annualStats=model.annualStats}}
      {{year-in-review-stat statType='longest streak' year=model.year annualStats=model.annualStats}}
      {{year-in-review-stat statType='one day' year=model.year annualStats=model.annualStats}}
    </div>
  </div>
</div>
