<div class="content-gutters">
  <div class="container-fluid">
    <div class="nw-panel-intro">
      <div class="welcome-content left-side">
        <h1>Your {{model.year}} Year in Review</h1>
      </div>
    </div>
    <div class="nw-panel">
      {{year-in-review-stat statType='total words'}}
      {{year-in-review-stat statType='best project'}}
      {{year-in-review-stat statType='longest streak'}}
      {{year-in-review-stat statType='one day'}}
      {{year-in-review-stat statType='home region'}}
    </div>
  </div>
</div>
