{{page-title pageTitle}}

<div class="content-gutters">
  <div class="container-fluid" style="max-width: 600px;">
    <div class="nw-panel-intro">
      <div class="welcome-content left-side">
        <h1>Your {{model.year}} Year in Review</h1>
      </div>
    </div>
    <div class="nw-panel">
      <div style="font-size: 16px; padding: 30px;">
				Here's what you and your muse accomplished, Wrimo! We can't wait to see what you get up to next...
      </div>
      {{year-in-review-stat statType='total words' year=model.year annualStats=model.annualStats}}
      {{year-in-review-stat statType='best project' year=model.year annualStats=model.annualStats}}
      {{year-in-review-stat statType='longest streak' year=model.year annualStats=model.annualStats}}
      {{year-in-review-stat statType='one day' year=model.year annualStats=model.annualStats}}
    </div>
    
    {{#if hasAllYears}}
			<h2>All Years-In-Review:</h2>

			<div class="nw-panel">
			<div style="font-size: 16px; padding: 30px;">
				<ul>
				{{#each allYears as |year|}}
					<li> {{link-to year 'authenticated.year-in-review.show' year}} </li>
				{{/each}}
				</ul>
			</div>
			</div>
		{{/if}}
  </div>
  
</div>
