<div class="nano-user-plate full-width d-flex">
  <div class="plate-cover">
    <div class="container-fluid">
      <div class="plate-area">
        <div class="plate-stat">4,567</div>
        <div class="plate-descriptor">words written</div>
      </div>
      <div class="plate-area">
        <div class="plate-stat">6</div>
        <div class="plate-descriptor">time NaNo participant</div>
      </div>
      <div class="plate-area">
        <div class="plate-stat">28</div>
        <div class="plate-descriptor">badges unlocked</div>
      </div>
    </div>
  </div>
</div>
<div class="content-gutters">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="d-flex align-top">
          <div class="nano-panel left-sidebar nano-profile">
            <div class="flip-corner">
              <div class="nano-avatar-large">
                <img src="/images/users/avatars/jezra.png" alt="" />
              </div>
              <div class="nano-user-name">
                Jezra_Lickter
              </div>
              <div class="nano-user-location">
                Somewhere in the Sierra foothills...
              </div>
              <div class="nano-member-since">
                Member since, like, forever
              </div>
              <div class="nano-user-social">
                <div class="social-button">{{fa-icon "facebook"}}</div>
                <div class="social-button">{{fa-icon "pinterest"}}</div>
                <div class="social-button">{{fa-icon "twitter"}}</div>
              </div>
              <div class="nano-user-link">
                <a href='https://jezra.net'>https://jezra.net</a>
              </div>
              <div class="flip-corner-link">
                <img src="/flip_corner.svg" alt="" />
              </div>
            </div>
          </div>
          <div class="nano-panel with-tabs">
            <ul class="nano-panel-tabs">
              <li>{{link-to 'Profile' 'authenticated.users.show'}}</li>
              <li>{{link-to 'Projects (2)' 'index'}}</li>
              <li>{{link-to 'Buddies (57)' 'index'}}</li>
            </ul>
            <div class="grid-wrapper">
              <div class="nano-card g1-row">
                About Jezra_Lickter
              </div>
              <div class="nano-card g1-row">
                Participation badges
              </div>
              <div class="nano-card g1-row">
                Writing badges
              </div>
              <div class="nano-card g1-row">
                Personal achievement badges
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
