{{page-title user.name}}
<div class='plate-wrapper {{if canEditUser "user-editable" ""}}' {{action "openEditModal" "headerTab" bubbles=false}}>
  <div class="nano-user-plate full-width" {{action "openEditModal" "headerTab"}} style={{plateStyle}} data-test-user-edit-plate>
    <div class="plate-cover">
      <div class="container-fluid">
        {{user-stats user=user}}
      </div>
      {{#if canEditUser}}
        {{!-- TODO: CSS styling for this edit link to show/hide --}}
        <div class="flip-corner-link" {{action "openEditModal" "headerTab" bubbles=false}} data-test-user-profile-edit-stats>
          <img src="/images/global/flip_corner.png" alt="Edit User Images" />
        </div>
      {{/if}}

    </div>
  </div>
   <div class='plate-editable-overlay nw-image-editable-overlay'>{{fa-icon "edit"}}</div>
</div>
<div class="content-gutters">
  <div class="container-fluid align-top">
    <div class="nw-sidebar">
      <div class="nw-sidebar-content">
        {{user-avatar user=user canEdit=canEditUser editAction=(action "openEditModal" "avatarTab")}}
        <div class="nw-item-name" data-test-user-name>
          {{user.name}}
        </div>
        <div class="nw-item-location" data-test-user-location>
          {{user.location}}
        </div>
        <div class="nw-member-since" data-test-user-since>
          Member since {{moment-format user.createdAt 'MMM D, YYYY'}}
        </div>

        {{user-links links=user.externalLinks}}
        {{buddies/buddy-buttons user=user}}
        {{writing-group-buttons user=user}}
        {{#if canEditUser}}
          <div>
            <button class='nw-button-undecorated' {{action "openEditModal"}} aria-label="edit user profile">
              <i  class="fa fa-edit"></i>
            </button>
          </div>
          {{user-edit-profile-modal
            onHidden=(action "afterEditModalClose")
            open=edit
            user=user
            tab=editTab
          }}
        {{/if}}
        {{#if canSpoofUser}}
          <div>
            <i {{action "doSpoofUser"}} class="fa fa-user-secret"></i>
          </div>
        {{/if}}
      </div>
      <div class="nw-sidebar-divot"></div>
    </div>
    <div class="nw-panel nw-with-tabs">
      <ul class="nw-panel-tabs">
        <li>{{link-to 'Profile' 'authenticated.users.show.index'}}</li>
        <li>{{link-to 'Projects' 'authenticated.users.show.projects'}}</li>
        <li>{{link-to 'Buddies' 'authenticated.users.show.buddies'}}</li>
        <li>{{link-to 'Groups' 'authenticated.users.show.groups'}}</li>
      </ul>
      {{outlet}}
    </div>
  </div>
</div>
