<div class="nano-user-plate full-width d-flex">
  <div class="plate-cover">
    <div class="container-fluid">
      <div class="plate-area">
        <div class="plate-stat">4,567</div>
        <div class="plate-descriptor">words written</div>
      </div>
      <div class="plate-area">
        <div class="plate-stat">6</div>
        <div class="plate-descriptor">time NaNo participant</div>
      </div>
      <div class="plate-area">
        <div class="plate-stat">28</div>
        <div class="plate-descriptor">badges unlocked</div>
      </div>
    </div>
  </div>
</div>
<div class="content-gutters">
  <div class="container-fluid">
    <div class="d-flex align-top">
      <div class="nano-panel left-sidebar nano-profile">
        <div class="flip-corner">
          <div class="nano-avatar-large">
            <img src={{user.avatar}} alt={{user.name}} data-test-user-avatar>
          </div>
          <div class="nano-user-name" data-test-user-name>
            {{user.name}}
          </div>
          <div class="nano-user-location" data-test-user-location>
            {{user.location}}
          </div>
          <div class="nano-member-since" data-test-user-since>
            Member since {{moment-format user.createdAt 'MMM D, YYYY'}}
          </div>
          {{user-links links=user.externalLinks}}
          {{#if canEditUser}}
            <div class="flip-corner-link" {{action (mut isEditingUser) true}} data-test-user-profile-edit>
              <img src="/flip_corner.svg" alt="Edit User Profile" />
            </div>
            {{user-edit-profile-modal
              onHidden=(action "afterModalClose")
              open=isEditingUser
              user=user
            }}
          {{/if}}
        </div>
      </div>
      {{outlet}}
    </div>
  </div>
</div>
