{{#if noData}}
  <div style="font-size: 18px; font-weight: bold; text-transform: uppercase; color: #545454;">Your buddy doesn't have a recent update.</div>
{{else}}
  {{#if isPrivate}}
    <div style="font-size: 18px; font-weight: bold; text-transform: uppercase; color: #545454;">The writer's primary project is private</div>
  {{else}}
    {{#if isStreak}}
      <div style="display: flex;">
        <div style="font-size: 36px; line-height: 36px; font-weight: bold; color: #000; flex: 0 0 50%; align-self: flex-end;">
          {{streak}}
        </div>
        <div style='font-size: 14px; font-weight: 100; color: #343434; font-family: SansRegular, sans-serif; flex: 0 0 50%; align-self: flex-start; text-align: right;'>
          {{timeSince}}
        </div>
      </div>
      <hr style="border-top: 6px dotted #F4A261; margin: 0;" />
      <div style='font-size: 18px; font-weight: bold; color: #545454; text-transform: uppercase;'>
          Writing Streak
      </div>
    {{else}}
      {{#if isDaily}}
        <div style="display: flex;">
          <div style="font-size: 36px; line-height: 36px; font-weight: bold; color: #000; flex: 0 0 50%; align-self: flex-end;">
            {{dailyProgress}}%
          </div>
          <div style='font-size: 14px; font-weight: 100; color: #343434; font-family: SansRegular, sans-serif; flex: 0 0 50%; align-self: flex-start; text-align: right;'>
            {{timeSince}}
          </div>
        </div>
        <hr style="border-top: 6px dotted #F4A261; margin: 0;" />
        <div style='font-size: 18px; font-weight: bold; color: #545454; text-transform: uppercase;'>
          <span style='color: #000;'>{{dailyCount}}</span> / {{dailyGoal}} DAILY GOAL
        </div>
      {{else}}
        <div style="display: flex;">
          <div style="font-size: 36px; line-height: 36px; font-weight: bold; color: #000; flex: 0 0 50%; align-self: flex-end;">
            {{overallProgress}}%
          </div>
          <div style='font-size: 14px; font-weight: 100; color: #343434; font-family: SansRegular, sans-serif; flex: 0 0 50%; align-self: flex-start; text-align: right;'>
            {{timeSince}}
          </div>
        </div>
        <hr style="border-top: 6px dotted #1B75BB; margin: 0;" />
        <div style='font-size: 18px; font-weight: bold; color: #545454; text-transform: uppercase; font-family: SansRegular, sans-serif; '>
          <span style='color: #000;'>{{overallCount}}</span> / {{overallGoal}} WORDS
        </div>
      {{/if}}
    {{/if}}
  {{/if}}
{{/if}}