{{page-title "Dashboard"}}
<div class="content-gutters">
  <div class="container-fluid">
    {{#if currentUserIsNotConfirmed}}
    <div class="flash-banner">
      <div class="banner-left">
      </div>
      <div class="banner-content">
        <div class="flash-image image-unframed">
          <img src="/images/banners/wavinghand.svg" />
        </div>
        <div class="flash-content">
          <div class="flash-text">
            Welcome to NaNoWriMo! We just sent an email to {{currentUserEmail}} with a confirmation link, just so we
            know you're the right you. Click it and you'll be up and running in just a few moments!
          </div>
          <div class="flash-button">
            {{link-to 'Resend Email' 'resend-confirmation-email' tagName='button'}}
          </div>
        </div>
      </div>
      <div class="banner-right">
      </div>
    </div>
    {{else}}
      {{#if displayCampBanner}}
        <div class="flash-banner">
          <div class="banner-left">
          </div>
          <div class="banner-content">
            <div class="flash-image image-unframed">
              <img style="width:100px; margin: 10px;" src="/images/banners/camp.png" />
            </div>
            <div class="flash-content">
              <div class="flash-text">
                Are you ready for your next great writing adventure? Join Camp NaNoWriMo this July to take on any writing project, novel or not, and set a word-count goal of your own.
              </div>
              <div class="flash-button">
                <button {{action "openNewProjectModal"}}>
                  Create a Camp Project!
                </button>
              </div>
            </div>
          </div>
          <div class="banner-right">
          </div>
        </div>
      {{/if}}
      {{#if displayNanoBanner}}
        <div class="flash-banner">
          <div class="banner-left">
          </div>
          <div class="banner-content">
            <div class="flash-image image-unframed">
              <img style="width:100px; height:101px; margin: 10px;" src="/images/banners/astronaut.png" />
            </div>
            <div class="flash-content">
              <div class="flash-text">
                Creativity is all around you. Imagine better worlds and invest in your creative energy by writing a novel
                with us. Are you ready to commit to writing this November?
              </div>
              <div class="flash-button">
                <button {{action "openNewProjectModal" }}>
                  Announce your novel!
                </button>
              </div>
            </div>
          </div>
          <div class="banner-right">
          </div>
        </div>
      {{/if}}
      {{#if displayYiRBanner}}
        <div class="flash-banner">
          <div class="banner-left">
          </div>
          <div class="banner-content">
            <div class="flash-image image-unframed">
              <img style="width:100px; height:101px; margin: 10px;" src="/images/banners/bird.png" />
            </div>
            <div class="flash-content">
              <div class="flash-text">
                Happy New Year! Check out your <a href='/year-in-review/2020'
                  style='color: rgba(255,255,255, 0.9); padding-left: 7px; text-decoration: underline;'>2020 Year in
                  Review</a>.
              </div>
            </div>
          </div>
          <div class="banner-right">
          </div>
        </div>
      {{/if}}
    {{/if}}

    {{donation-day-banner}}
    <div class="nw-panel-intro">
      <div class="welcome-content left-side">
        <h1>{{{currentEventWelcome}}}, {{currentUserName}}!</h1>
        <div class="nano-subtext">Hope your writing is going great!</div>
      </div>
      <div class="right-side">

        {{dashboard-fundometer class="fundometer"}}

      </div>
    </div>
    <div class="nw-panel nw-with-grid">
      <div class="grid-wrapper">
        {{#if currentUserName}}
        {{#unless currentUserHasProject}}
        <div class="nw-card nw-prompt-card g3-col1 g3-row1 g3-hspan3 g3-vspan1 g2-col1 g2-row1 g2-hspan2 g2-vspan1">
          <div class='nw-hflex'>
            <div class="project-announce-quote">
              <div class="quote-text">"Keep your head in the clouds and your hands on the keyboard."<br />
                <span class="quotee">Marissa Meyer</span>
              </div>
            </div>
            <div class='action'>
              <a href="#" {{action "openNewProjectModal" }}>Announce a new project!</a>
            </div>
            <div class='prompt-image'>
              <img alt="" src="/images/users/projects/megaphone.svg">
            </div>
          </div>
        </div>
        {{/unless}}
        {{project-new-modal
        onHidden=(action "afterProjectModalClose")
        open=addProject
        user=currentUser.user
        }}
        {{/if}}
        {{#if currentUserHasProject}}
        {{project-summary project=primaryProject class="nw-card g3-col1 g3-row1 g3-hspan3 g3-vspan1 g2-col1 g2-row1
        g2-hspan2 g2-vspan1"}}
        {{/if}}
        {{#if currentUserHasProject }}
        <div class="nw-card g3-col1 g3-row2 g3-hspan2 g3-vspan1 g2-col1 g2-row2 g2-hspan1 g2-vspan1">
          {{badges-card cardTitle='Writing badges' badgeType='word count' user=currentUser.user
          projectChallenge=primaryProject.currentProjectChallenge}}
        </div>
        {{else}}
        <div class="nw-card nw-prompt-card g3-col1 g3-row2 g3-hspan2 g3-vspan1 g2-col1 g2-row2 g2-hspan1 g2-vspan1">
          <div class="nw-card-header">
            <div class="nw-card-title">
              Writing Badges
            </div>
          </div>
          <div class='nw-hflex'>
            <div class='action' style="padding-top: 80px;">
              <a href="#" {{action "openNewProjectModal" }}>Create a project to start winning writing badges!</a>
            </div>
          </div>
        </div>
        {{/if}}

        {{dashboard-my-buddies class="nw-card g3-col3 g3-row2 g3-hspan1 g3-vspan1 g2-col2 g2-row2 g2-hspan1 g2-vspan1"}}
        {{dashboard-home-region class="nw-card g3-col1 g3-row3 g3-hspan1 g3-vspan1 g2-col1 g2-row3 g2-hspan1
        g2-vspan1"}}
        {{dashboard-hq class="nw-card g3-col2 g3-row3 g3-hspan1 g3-vspan1 g2-col2 g2-row3 g2-hspan1 g2-vspan1"}}
        {{dashboard-writing-groups class="nw-card g3-col3 g3-row3 g3-hspan1 g3-vspan1 g2-col1 g2-row4 g2-hspan1
        g2-vspan1"}}
        {{dashboard-my-offers class="nw-card g3-col1 g3-row4 g3-hspan1 g3-vspan1 g2-col2 g2-row4 g2-hspan1 g2-vspan1"}}
        {{dashboard-nano-store class="nw-card g3-col2 g3-row4 g3-hspan1 g3-vspan1 g2-col1 g2-row5 g2-hspan1 g2-vspan1"}}
        {{dashboard-twitter class="nw-card g3-col3 g3-row4 g3-hspan1 g3-vspan1 g2-col2 g2-row5 g2-hspan1 g2-vspan1"}}
        {{dashboard-writers-resources class="nw-card g3-col1 g3-row5 g3-hspan1 g3-vspan1 g2-col1 g2-row6 g2-hspan1
        g2-vspan1"}}
      </div>
    </div>
  </div>
</div>
