{{page-title "Settings"}}
{{#if isLoaded}}
  <div class="content-gutters">
    <div class="container-fluid narrow">
      <div class="nw-panel nw-page-top nw-with-tabs">
        <ul class="nw-panel-tabs narrow">
          <li>{{link-to 'Account' 'authenticated.settings.account'}}</li>
          <li>{{link-to 'Privacy' 'authenticated.settings.privacy'}}</li>
          <li>{{link-to 'Preferences' 'authenticated.settings.preferences'}}</li>
          <li>{{link-to 'Delete Account' 'authenticated.settings.delete-account'}}</li>
          <!-- <li>{{link-to 'Blocked' 'authenticated.settings.blocked'}}</li> -->
        </ul>
        <div class="nw-panel-primary-container">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
{{/if}}
