{{#if is_authenticated}}
  <div class="page-background">
    <header>
      {{#if (media "isMobile")}}
        {{nano-side-menu}}
      {{/if}}
      {{#if (media "isDesktop")}}
        {{micro-nav}} 
      {{/if}} 
      {{main-nav}}
    </header>
    <main class="logged-in">
      {{outlet}}
    </main>
    {{#if show_footer}}
      {{authenticated-footer}}
    {{/if}}
  </div>
{{else}}
  {{#if show_navigation}}
    {{logged-out-menu}}
  {{/if}}
  <main>
    {{outlet}}
  </main>
  {{#if show_navigation}}
    {{logged-out-footer}}
  {{/if}}
{{/if}}
