{{page-title "NaNoWriMo"  separator=" | "}}

{{#if is_authenticated}}
  <div class="page-background">
    <header>
      {{#if (media "isMobile")}}
      <nav>
        {{nano-side-menu}}
      </nav>
      {{/if}}
      {{#if (media "isDesktop")}}
      <nav>
        {{micro-nav}}
      </nav>
      {{/if}}
      <nav>
        {{main-nav}}
      </nav>
      <NwUnverifiedHandler />
      {{#if UiOutdated}}
        <NwAlert @alertType="info">
          Application updates are available. <a {{action "reloadUI"}}>Reload application</a>
        </NwAlert>
      {{/if}}
    </header>
    <main class="logged-in {{if currentUser.user.isNotConfirmed 'unverified' ''}}">
      {{outlet}}
    </main>
    {{#if show_footer}}
      <footer>
        {{authenticated-footer}}
      </footer>
    {{/if}}
  </div>
{{else}}
  {{#if show_navigation}}
    <nav>
      {{logged-out-menu}}
    </nav>
  {{/if}}
  <main>
    {{outlet}}
  </main>
  {{#if show_navigation}}
    <footer>
      {{logged-out-footer}}
    </footer>
  {{/if}}
{{/if}}
