<div class="nano-centered">
  <div>
    <div class="login_image"><img src="/images/other/login_image.svg" alt="" /></div>
    <div class="nw-card forgot-password-card login">
      <div class="nw-card-content">
        <h2 class="card-title">{{cardTitle}}</h2>
        <div class='card-instruction'>
          {{cardInstruction}}
        </div>
        {{#if displayForm}}
          <form {{action "submit" this on='submit'}} class="full-width">
            <div class="form-group">
              <label for='email'>Email</label>
                {{input
                  class=(concat 'form-control' (if hasError ' is-invalid'))
                  autocomplete="email"
                  autofocus=true
                  placeholder="user@domain.com"
                  name="email"
                  type="email"
                  value=email
                  key-press=(action "emailChange")
                }}
              {{#if emailError}}
                <div class="invalid-feedback">Please enter a valid email.</div>
              {{/if}}
              {{#if errorMessage}}
                <div class="alert alert-danger">{{errorMessage}}</div>
              {{/if}}
        
            </div>
      
            <button data-test-sign-in-submit type="submit" class="full-width nano-button-large">Submit</button>
          </form>
        {{/if}}
      </div>
    </div>
  </div>
</div>
