<div class="nano-centered">
  <div>
    <div class="nw-login-image"><img src="/images/other/login_image.svg" alt="" /></div>
    <div class="nw-card nw-forgot-password-card login">
      <div class="nw-card-content">
        <h2 class="card-title">{{cardTitle}}</h2>
        <div class='nw-card-instruction'>
          {{cardInstruction}}
        </div>
        {{#if displayForm}}
          <form {{action "submit" this on='submit'}} class="full-width">
            <div class="form-group">
              <label for='email'>Email</label>
                {{input
                  class=(concat 'form-control' (if hasError ' is-invalid'))
                  autocomplete="email"
                  autofocus=true
                  placeholder="user@domain.com"
                  name="email"
                  type="email"
                  value=email
                  key-press=(action "emailChange")
                }}
              {{#if emailError}}
                <div class="invalid-feedback">Please enter a valid email.</div>
              {{/if}}
              {{#if errorMessage}}
                <div class="alert alert-danger">{{errorMessage}}</div>
              {{/if}}
        
            </div>
						<div style="display: flex; justify-content: center; align-items: center;">
							<div class="h-captcha" data-sitekey="06e8e72a-8dbe-455d-8e28-c1d0976c5c00"></div>
							<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
						</div>
            <button data-test-sign-in-submit type="submit" class="full-width nano-button-large">Submit</button>
          </form>
        {{/if}}
      </div>
    </div>
  </div>
</div>
