<div class="nano-centered">
  <div>
    <div class="login_image"><img src="login_image.svg" alt="" /></div>
    <div class="nano-card">

      <h2 class="card-title">Forgotten Password</h2>
      {{#if successMessage}}
        <div class="alert alert-primary">{{successMessage}}</div>
      {{else}}
        <form {{action "submit" this on='submit'}}>
          <div class="form-group">
            <label for='email'>Email</label>
              {{input
                class=(concat 'form-control' (if hasError ' is-invalid'))
                autocomplete="email"
                autofocus=true
                placeholder="user@domain.com"
                name="email"
                type="email"
                value=email
                key-press="emailChange"
              }}
            {{#if emailError}}
              <div class="invalid-feedback">Please enter a valid email.</div>
            {{/if}}
            {{#if errorMessage}}
              <div class="alert alert-danger">{{errorMessage}}</div>
            {{/if}}
            
          </div>
          
          <button data-test-sign-in-submit type="submit" class="btn btn-primary">Submit</button>
        </form>
      {{/if}}
    </div>
  </div>
</div>
