<div class="nano-centered">
  <div>
    <div class="login_image"><img src="login_image.svg" alt="" /></div>
    <div class="nano-card">

      <h2 class="card-title">Password Reset</h2>
      Enter your new password
      {{#if successMessage}}
        <div class="alert alert-primary">
          Your password has been reset.<br>
          Please sign in with your new password.
          </div>
        {{sign-in-form}}
      {{else}}
        <form {{action 'submit' this on='submit'}}>
          <div class="form-group">
             {{form-for--hidden 
            changeset=changeset 
            property='token'
            initial_value=token
            }}
            
            {{form-for--password 
            changeset=changeset 
            label='New Password'
            property='password'
            autofocus=true
            }}
          </div>
          
          {{#if errorMessage}}
            <div class="alert alert-danger">{{errorMessage}}</div>
          {{/if}}
          <button data-test-sign-in-submit type="submit" class="btn btn-primary">Submit</button>
        </form>
      {{/if}}
    </div>
  </div>
</div>
