<div class="nano-centered">
  <div>
    <div class="nw-login-image"><img src="/images/other/login_image.svg" alt="" /></div>
    <div class="nano-card login">
      <div class="nano-subcard">
        <div class="nano-subcard-face face-front filled-grey">
          <div class="nano-subcard-content">
            <h2 class="card-title">Please enter your email address below to resend the confirmation email.</h2>
            {{#if successMessage}}
              <div class="alert alert-primary">{{successMessage}}</div>
            {{else}}
              <form {{action "submit" this on='submit'}} class="full-width">
                <div class="form-group">
                  <label for='email'>Email</label>
                    {{input
                      class=(concat 'form-control' (if hasError ' is-invalid'))
                      autocomplete="email"
                      autofocus=true
                      placeholder="user@domain.com"
                      name="email"
                      type="email"
                      value=email
                      key-press=(action "emailChange")
                    }}
                  {{#if emailError}}
                    <div class="invalid-feedback">Please enter a valid email.</div>
                  {{/if}}
                  {{#if errorMessage}}
                    <div class="alert alert-danger">{{errorMessage}}</div>
                  {{/if}}
            
                </div>
          
                <button type="submit" class="nano-button-large full-width">Submit</button>
              </form>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
