<div class="nano-panel">
  <div class="col">
    <h2>Sign In</h2>

    {{#if error}}
      <div class="alert alert-danger">{{error}}</div>
    {{/if}}

    <p><a href="#" {{action "authenticateFacebook"}}>Sign In with Facebook</a></p>
    <p><a href="#" {{action "authenticateGoogle"}}>Sign In with Google</a></p>

    {{#form-for
      afterError=(action (mut error))
      model=signInAttempt
      as |f|
    }}

      <div class="form-group">
        {{f.input
          autocomplete="email"
          autofocus=true
          label="Email"
          placeholder="user@domain.com"
          property="email"
          type="email"
        }}
      </div>
      <div class="form-group">
        {{f.input
          autocomplete="current-password"
          label="Password"
          property="password"
          type="password"
        }}
      </div>

      <input data-test-sign-in-submit type="submit" class="btn btn-primary" value="Sign In" />

    {{/form-for}}

    <hr />

    <p>{{link-to 'Sign Up' 'sign-up'}}</p>
  </div>
</div>
