<div class="panel">
  <div class="nano-card">
    <h2>Sign In</h2>

    <p><a href="#" {{action "authenticateFacebook"}}>Sign In with Facebook</a></p>
    <p><a href="#" {{action "authenticateGoogle"}}>Sign In with Google</a></p>

    <form {{action "authenticateUser" on="submit"}}>
      <p>{{input value=user.email name="email" type="email" autocomplete="username" required=true placeholder="Email"}}</p>
      <p>{{input value=user.password name="password" type="password" autocomplete="current-password" required=true placeholder="Password"}}</p>

      <p><input type="submit" value="Sign In" /></p>
    </form>

    <p>{{link-to 'Sign Up' 'sign-up'}}</p>
  </div>
</div>
