<div class="nano-centered">
  <div>
    <div class="login_image"><img src="login_image.svg" alt="" /></div>
    <div class="nano-card login">

      <h2 class="card-title">Welcome back! Just keep writing, writing, and writing...</h2>

      {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
      {{/if}}

      {{#form-for
        afterError=(action (mut error))
        model=signInAttempt
        as |f|
      }}

        <div class="form-group">
          {{f.input
            autocomplete="email"
            autofocus=true
            label="Email"
            placeholder="user@domain.com"
            property="email"
            type="email"
          }}
        </div>
        <div class="form-group">
          {{f.password
            autocomplete="current-password"
            label="Password"
            property="password"
          }}
        </div>

        <button data-test-sign-in-submit type="submit" class="btn btn-primary">Sign In</button>

      {{/form-for}}
      <div class="left-right-links">{{link-to "Forgot password" 'sign-up'}}{{link-to "I'm a new user!" 'sign-up'}}</div>
      <div class="nano-hr">OR</div>
      {{continue-with}}
    </div>
  </div>
</div>
