{{page-title "Sign In"}}
<div class="nano-centered">
  <div>
    <div class="nw-login-image"><img src="/images/other/login_image.svg" alt="" /></div>
    <div class="nw-card login">
      <div class="nw-card-content">
        <h2 class="card-title">Welcome back! Just keep<br />writing, writing, and writing...</h2>
        {{sign-in-form class="nano-full-width"}}
        <div class="left-right-links">{{link-to "Forgot password" 'forgot-password' bubble=false}}{{link-to "I'm a new user!" 'sign-up' bubble=false}}</div>
        <div class="nano-hr">OR</div>
        {{continue-with}}
        <div class="nano-hr">TERMS</div>
        <div class="left-right-links"><div>By logging into NaNoWriMo, you agree to our Terms of Use and Privacy Policy.</div></div>
      </div>
    </div>
  </div>
</div>
